
@{
    ViewData["Title"] = "编辑子账户";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitEnterpriseRole();
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                $("input[name='CompanyId']").val(CompanyInfo.Id);
                $("input[name='Version']").val(CompanyInfo.Version);
            },
            //获取集团账户
            InitEnterpriseRole: function () {
                controller.ajax({
                    url: "EnterpriseWeb/GetRoleAuthorList",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>===请选择===</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '">' + obj.AuthorName + '</option>'
                        });
                        $("#EnterpriseRoleId").html(html);
                    }
                });
            },
            //事件
            InitEvents: function () { 
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="orm-horizontal" method="post" action="EnterpriseWeb/EditChildInfo" id="Edit">
            <input type="hidden" name="CompanyId" />
            <input type="hidden" name="Version" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">企业名称</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="CompanyName" data-msg-required="请输入企业名称">
                    </td>
                    <th><label class="control-label">企业账号</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="CompanyAccount" data-msg-required="请输入企业账号">
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">企业电话</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="CompanyPhone" data-msg-required="请输入企业电话" placeholder="格式：028-12345678或者13012345678">
                    </td>
                    <th><label class="control-label">企业地址</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="CompanyAddress" data-msg-required="请输入企业地址">
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">角色权限</label></th>
                    <td class="has-warning">
                        <select type="select" class="form-control" name="EnterpriseRoleId" id="EnterpriseRoleId">
                            <option>===请选择===</option>
                        </select>
                    </td>
                    <th><label class="control-label">企业密码</label></th>
                    <td class="has-warning">
                        <input type="password" class="form-control required" name="PassWord" data-msg-required="请输入企业密码">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>