
@{
    ViewData["Title"] = "企业资料";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //恢复高度
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        options.$table.bootstrapTable("resetView", { height: $(window).height() - 150 });
                    }, 200);
                    e.stopPropagation();
                });
                //设置表单
                this.$table = controller.Table("#tableList", { url: "EnterpriseWeb/GetInfoPage", height: $(window).height() - 150, refreshBtn: "#btn-refresh", formElement: "#Edit", param: { Id: CompanyInfo.Id } });
            },
            //事件
            InitEvents: function () {
                $("#add").on('click', function () {
                    controller.OpenWindow({
                        title: "企业投保",
                        type: 2,
                        height: "90%",
                        width: "80%",
                        url: "StaticHtml/Safe.html",
                        callBack: function (result) {
                            result.popClose();
                        }
                    })
                });
            },
            //行为
            action: {
                ImgFormatter: function (val, row, index) {
                    var action = [];
                    if (row.Certification != null) {
                        for (var i = 0; i < row.Certification.split(',').length; i++) {
                            action.push('<img class="photo" src="' + row.Certification.split(',')[i] + '" style="width:48px;height:32px;"">')
                        }
                    }
                    return action.join("&nbsp;");
                },
                ImgEvents: {
                    "click .photo": function (event, val, row, index) {
                        var option = {
                            title: "营业执照",
                            data: [{
                                alt: "营业执照",
                                src: $(this).attr("src")
                            }]
                        };
                        controller.Photos(option);
                    }
                },
                TableFormatter: function (val, row, index) {
                    var action = [];
                    action.push('<button class="btn btn-sm btn-primary edit"><i class="fa fa-plus"></i>完善资料</button>');
                    if (row.CompanyId == null && row.TagCodeNum == null)
                        action.push('<button class="btn btn-sm btn-primary pay"><i class="fa fa-plus"></i>缴费</button>');
                    return action.join("&nbsp;")
                },
                TableEvents: {
                    "click .edit": function (event, val, row, index) {
                        controller.OpenWindow({
                            title: "完善资料",
                            type: 2,
                            height: "90%",
                            width: "80%",
                            url: "WebCompanyManage/Base/CompanyDataEdit?Id=" + row.Id,
                            callBack: function (result) {
                                result.$("#Edit").submit();
                            }
                        })
                    },
                    "click .pay": function (event, val, row, index) {
                        controller.OpenWindow({
                            title: "缴费",
                            type: 2,
                            height: "90%",
                            width: "80%",
                            url: "WebCompanyManage/Base/Payment?Id=" + row.Id + "&TypePath=" + row.TypePath + "&CompanyName=" + row.CompanyName,
                            callBack: function (result) {
                                result.$("#Edit").submit();
                            }
                        })
                    }
                }//表单事件结束
            }//行为结束
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
@section css{

}

<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>企业资料</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form id="Edit">
                        <div class="col-sm-8 m-b-xs">
                            <div class="input-group">
                                <button type="button" class="btn btn-sm btn-white" id="add"><i class="fa fa-plus"></i>企业投保</button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" placeholder="" class="input-sm form-control" readonly>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>搜索</button>
                                    <button type="button" id="btn-refresh" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i>刷新</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table id="tableList" class="table">
                        <thead>
                            <tr>
                                <th data-field="CompanyName" data-halign="center" data-align="center" data-valign="middle">企业名称</th>
                                <th data-field="CompanyAccount" data-halign="center" data-align="center" data-valign="middle">企业账号</th>
                                <th data-field="CommunityCode" data-halign="center" data-align="center" data-valign="middle">工商代码</th>
                                <th data-field="CompanyAddress" data-halign="center" data-align="center" data-valign="middle">企业地址</th>
                                <th data-field="NatureName" data-halign="center" data-align="center" data-valign="middle">企业性质</th>
                                <th data-field="CompanyTypeName" data-halign="center" data-align="center" data-valign="middle">企业类型</th>
                                <th data-field="TagCodeNum" data-halign="center" data-align="center" data-valign="middle">二维码数量</th>
                                <th data-formatter="options.action.ImgFormatter" data-events="options.action.ImgEvents" data-halign="center" data-align="center" data-valign="middle">营业执照</th>
                                <th data-formatter="options.action.TableFormatter" data-events="options.action.TableEvents" data-halign="center" data-align="center" data-valign="middle">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>