
@{
    ViewData["Title"] = "编辑企业";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                options.GetProvince();
                options.GetCityByProvince();
                options.GetAreaByCity();
                options.GetTownByArea();
                options.GetCompanyInfo();
                options.UploadFiles();
            },
            //获取企业信息
            GetCompanyInfo: function () {
                controller.ajax({
                    url: "EnterpriseWeb/GetEnterpriseInfo",
                    data: { Id: CompanyInfo.Id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        controller.SetCtrlValue("#Edit", result.data);
                        options.SetCity();
                        controller.SetCtrlValue("#Edit", result.data);
                        options.SetArea();
                        controller.SetCtrlValue("#Edit", result.data);
                        options.SetTown();
                        controller.SetCtrlValue("#Edit", result.data);
                    }
                });
            },
            //获取省份
            GetProvince: function () {
                controller.ajax({
                    url: "System/GetProvince",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option value="undefined">=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.ProvinceId + '">' + obj.ProvinceName + '</option>';
                        });
                        $("#province").html(html);
                    }
                });
            },
            //选中省份后获取城市
            GetCityByProvince: function () {
                $("#province").change(function () {
                    controller.ajax({
                        url: "System/GetCity",
                        data: { Id: $(this).find("option:selected").data().id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            var html = '<option>=请选择=</option>';
                            $.each(result.data, function (i, obj) {
                                html += '<option value="' + obj.Id + '" data-id="' + obj.CityId + '">' + obj.CityName + '</option>';
                            });
                            $("#city").html(html);
                        }
                    });
                });
            },
            //选中城市后获取区域
            GetAreaByCity: function () {
                $("#province").change(function () {
                    var html = '<option>=请选择=</option>';
                    $("#area").html(html);
                    $("#town").html(html);
                });
                $("#city").change(function () {
                    controller.ajax({
                        url: "System/GetArea",
                        data: { Id: $(this).find("option:selected").data().id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            var html = '<option>=请选择=</option>';
                            $.each(result.data, function (i, obj) {
                                html += '<option value="' + obj.Id + '" data-id="' + obj.AreaId + '">' + obj.AreaName + '</option>';
                            });
                            $("#area").html(html);
                        }
                    });
                });
            },
            //选中区域后获取乡镇
            GetTownByArea: function () {
                $("#city").change(function () {
                    var html = '<option>=请选择=</option>';
                    $("#town").html(html);
                });
                $("#area").change(function () {
                    controller.ajax({
                        url: "System/GetTown",
                        data: { Id: $(this).find("option:selected").data().id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            var html = '<option>=请选择=</option>';
                            $.each(result.data, function (i, obj) {
                                html += '<option value="' + obj.Id + '" data-id="' + obj.TownId + '">' + obj.TownName + '</option>';
                            });
                            $("#town").html(html);
                        }
                    });
                });
            },
            //取得详情后获取城市
            SetCity: function () {
                controller.ajax({
                    url: "System/GetCity",
                    data: { Id: $("#province").find("option:selected").data().id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.CityId + '">' + obj.CityName + '</option>';
                        });
                        $("#city").html(html);
                    }
                });
            },
            //取得详情后获取区域
            SetArea: function () {
                controller.ajax({
                    url: "System/GetArea",
                    data: { Id: $("#city").find("option:selected").data().id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.AreaId + '">' + obj.AreaName + '</option>';
                        });
                        $("#area").html(html);
                    }
                });
            },
            //取得详情后获取乡镇
            SetTown: function () {
                controller.ajax({
                    url: "System/GetTown",
                    data: { Id: $("#area").find("option:selected").data().id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.TownId + '">' + obj.TownName + '</option>';
                        });
                        $("#town").html(html);
                    }
                });
            },
            //文件上传
            UploadFiles: function () {
                //文件上传-执照
                controller.Upload({
                    url: "File/UploadImg",
                    element: "#upload-input-1",
                    maxNum: 1,
                    node: '#Img1',
                    success: function (result) {
                        controller.Alter(result.msg);
                        $("#Certification").val(result.data);
                    }
                });
                //文件上传-证书
                controller.Upload({
                    url: "File/UploadImg",
                    element: "#upload-input-2",
                    maxNum: 3,
                    node: '#Img2',
                    success: function (result) {
                        controller.Alter(result.msg);
                        $("#HonorCertification").val(result.data);
                    }
                });
                //文件上传-身份证
                controller.Upload({
                    url: "File/UploadImg",
                    element: "#upload-input-3",
                    maxNum: 3,
                    node: '#Img3',
                    success: function (result) {
                        controller.Alter(result.msg);
                        $("#IdCard").val(result.data);
                    }
                });
            },
            //事件
            InitEvents: function () {
                $('input:radio[name="NatureAgent"]').on('change', function () {
                    if ($(this).val() == 1) {
                        $("#uploadIdCard").css({ display: "none" });
                        $("#uploadCertification").css({ display: "block", display: "table-row" });
                    }
                    else {
                        $("#uploadIdCard").css({ display: "block", display: "table-row" });
                        $("#uploadCertification").css({ display: "none" });
                    }
                });
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="orm-horizontal" method="post" action="EnterpriseWeb/EditEnterprise" id="Edit">
            <input type="hidden" name="Id" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">企业性质</label></th>
                    <td class="has-warning" colspan="3">
                        <label class="radio-inline">
                            <input type="radio" name="NatureAgent" value="1" style="margin-top:3px" checked/>
                            <text title="企业或合作社">企业或合作社</text>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="NatureAgent" value="2" style="margin-top:3px" />
                            <text title="个体商业户">个体商业户</text>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">企业名称</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="CompanyName" data-msg-required="请输入企业名称">
                    </td>
                    <th><label class="control-label">企业类型</label></th>
                    <td class="has-warning">
                        <select name="CompanyType" class="form-control" type="select">
                            <option value="10">种植企业</option>
                            <option value="20">养殖企业</option>
                            <option value="30">生产企业</option>
                            <option value="40">流通企业</option>
                            <option value="50">其他企业</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">企业账号</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="CompanyAccount" data-msg-required="请输入企业账号">
                    </td>
                    <th><label class="control-label">企业地址</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="CompanyAddress" data-msg-required="请输入企业地址">
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">工商代码</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="CommunityCode" data-msg-required="请输入工商代码">
                    </td>
                    <th><label class="control-label">企业电话</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="CompanyPhone" data-msg-required="请输入企业电话" placeholder="格式：028-12345678或者13012345678">
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">企业网站</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="NetAddress">
                    </td>
                    <th><label class="control-label">企业密码</label></th>
                    <td class="has-warning">
                        <input type="password" class="form-control required" name="PassWord" data-msg-required="请输入企业密码">
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">销售地址</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="SellerAddress">
                    </td>
                    <th><label class="control-label">生产地址</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="ProductionAddress">
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">所属区域</label></th>
                    <td colspan="3">
                        <table>
                            <tr>
                                <td class="has-warning">
                                    <select type="select" class="form-control" name="Province" id="province" style="width:183px">
                                        <option>=请选择=</option>
                                    </select>
                                </td>
                                <td class="has-warning">
                                    <select type="select" class="form-control" name="City" id="city" style="width:183px">
                                        <option>=请选择=</option>
                                    </select>
                                </td>
                                <td class="has-warning">
                                    <select type="select" class="form-control" name="Area" id="area" style="width:183px">
                                        <option>=请选择=</option>
                                    </select>
                                </td>
                                <td class="has-warning">
                                    <select type="select" class="form-control" name="Town" id="town" style="width:183px">
                                        <option>=请选择=</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">企业介绍</label></th>
                    <td class="has-warning" colspan="3">
                        <textarea class="form-control" name="Discription" rows="4" maxlength="300"></textarea>
                    </td>
                </tr>
                <tr id="uploadCertification">
                    <th><label class="control-label">营业执照</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="image-box clear" id="Img1">
                            <section class="upload-section">
                                <div class="upload-btn"></div>
                                <input type="file" name="Files" id="upload-input-1" class="upload-input" value="" accept="image/*" multiple="multiple" />
                            </section>
                        </div>
                        <input type="hidden" id="Certification" name="Certification" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">荣誉证书</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="image-box clear" id="Img2">
                            <section class="upload-section">
                                <div class="upload-btn"></div>
                                <input type="file" name="Files" id="upload-input-2" class="upload-input" value="" accept="image/*" multiple="multiple" />
                            </section>
                        </div>
                        <input type="hidden" id="HonorCertification" name="HonorCertification" />
                    </td>
                </tr>
                <tr style="display:none;" id="uploadIdCard">
                    <th><label class="control-label">身份证</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="image-box clear" id="Img3">
                            <section class="upload-section">
                                <div class="upload-btn"></div>
                                <input type="file" name="Files" id="upload-input-3" class="upload-input" value="" accept="image/*" multiple="multiple" />
                            </section>
                        </div>
                        <input type="hidden" id="IdCard" name="IdCard" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>