
@{
    ViewData["Title"] = "企业资料";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.GetProvince();
                this.GetCityByProvince();
                this.GetAreaByCity();
                this.GetTownByArea();
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //获取企业信息
                options.GetCompanyInfo();
            },
            //获取企业信息
            GetCompanyInfo: function () {
                controller.ajax({
                    url: "EnterpriseWeb/GetEnterpriseInfo",
                    data: { Id: CompanyInfo.Id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        controller.SetCtrlValue("#Edit", result.data);
                        options.SetCity();
                        controller.SetCtrlValue("#Edit", result.data);
                        options.SetArea();
                        controller.SetCtrlValue("#Edit", result.data);
                        options.SetTown();
                        controller.SetCtrlValue("#Edit", result.data);
                    }
                });
            },
            //设置文件值
            SetFileValue: function (data, elememt) {
                var files = $(elememt).val();
                if (files != null && files != "" && files != undefined) {
                    files += "," + data;
                    $(elememt).val(files);
                } else {
                    $(elememt).val(data);
                }
            },
            //获取省份
            GetProvince: function () {
                controller.ajax({
                    url: "System/GetProvince",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.ProvinceId + '">' + obj.ProvinceName + '</option>';
                        });
                        $("#province").html(html);
                    }
                });
            },
            //选中省份后获取城市
            GetCityByProvince: function () {
                $("#province").change(function () {
                    controller.ajax({
                        url: "System/GetCity",
                        data: { Id: $(this).find("option:selected").data().id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            var html = '<option>=请选择=</option>';
                            $.each(result.data, function (i, obj) {
                                html += '<option value="' + obj.Id + '" data-id="' + obj.CityId + '">' + obj.CityName + '</option>';
                            });
                            $("#city").html(html);
                        }
                    });
                });
            },
            //选中城市后获取区域
            GetAreaByCity: function () {
                $("#province").change(function () {
                    var html = '<option>=请选择=</option>';
                    $("#area").html(html);
                    $("#town").html(html);
                });
                $("#city").change(function () {
                    controller.ajax({
                        url: "System/GetArea",
                        data: { Id: $(this).find("option:selected").data().id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            var html = '<option>=请选择=</option>';
                            $.each(result.data, function (i, obj) {
                                html += '<option value="' + obj.Id + '" data-id="' + obj.AreaId + '">' + obj.AreaName + '</option>';
                            });
                            $("#area").html(html);
                        }
                    });
                });
            },
            //选中区域后获取乡镇
            GetTownByArea: function () {
                $("#city").change(function () {
                    var html = '<option>=请选择=</option>';
                    $("#town").html(html);
                });
                $("#area").change(function () {
                    controller.ajax({
                        url: "System/GetTown",
                        data: { Id: $(this).find("option:selected").data().id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            var html = '<option>=请选择=</option>';
                            $.each(result.data, function (i, obj) {
                                html += '<option value="' + obj.Id + '" data-id="' + obj.TownId + '">' + obj.TownName + '</option>';
                            });
                            $("#town").html(html);
                        }
                    });
                });
            },
            //取得详情后获取城市
            SetCity: function () {
                controller.ajax({
                    url: "System/GetCity",
                    data: { Id: $("#province").find("option:selected").data().id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.CityId + '">' + obj.CityName + '</option>';
                        });
                        $("#city").html(html);
                    }
                });
            },
            //取得详情后获取区域
            SetArea: function () {
                controller.ajax({
                    url: "System/GetArea",
                    data: { Id: $("#city").find("option:selected").data().id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.AreaId + '">' + obj.AreaName + '</option>';
                        });
                        $("#area").html(html);
                    }
                });
            },
            //取得详情后获取乡镇
            SetTown: function () {
                controller.ajax({
                    url: "System/GetTown",
                    data: { Id: $("#area").find("option:selected").data().id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.TownId + '">' + obj.TownName + '</option>';
                        });
                        $("#town").html(html);
                    }
                });
            },
            //事件
            InitEvents: function () {
                //文件上传-执照
                controller.Upload({
                    url: "File/UploadImg",
                    element: "#upload-input-1",
                    maxNum: 1,
                    node: '#Img1',
                    success: function (result) {
                        controller.Alter(result.msg);
                        options.SetFileValue(result.data, "#Certification");
                    }
                });
                //文件上传-证书
                controller.Upload({
                    url: "File/UploadImg",
                    element: "#upload-input-2",
                    maxNum: 3,
                    node: '#Img2',
                    success: function (result) {
                        controller.Alter(result.msg);
                        options.SetFileValue(result.data, "#HonorCertification");
                    }
                });
                //提交表单
                $("#save").on('click',function () {
                    controller.Validate("#Edit", $("#Edit").SerializeJson());
                    var flag = $("#CompanyName").val();
                    if (flag == "")
                    {
                        controller.Alter("请先下载合同!");
                        return;
                    }
                    $("#Edit").submit();
                });
                //生成PDF合同
                $("#sure").on('click', function () {
                    $("#CompanyName").val(CompanyInfo.CompanyName);
                    $("#ver").val($("#Version").val());
                    $("#PDF").submit();
                });
                //上传合同
                $("#pay").on('click', function () {
                    controller.OpenWindow({
                        title: "上传合同和缴费凭证",
                        type: 2,
                        height: "600px",
                        width: "800px",
                        url: "WebCompanyManage/Base/UploadFile?Id=" + CompanyInfo.Id + "&Name=" + CompanyInfo.CompanyName + "&ProvinceId=" + $("#province").find("option:selected").val(),
                        callBack: function (result) {
                            result.$("#Edit").submit();
                        }
                    });
                });
            },
            //行为
            action: {
            }//行为结束
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
@section css{
    <style>
        .ibox-content {
            border-top-style: none;
        }
    </style>
}
<div class="tabs-container" style="margin-top:10px;">
    <form id="PDF" method="post" action="/File/CreatePDF">
        <input type="hidden" name="CompanyName" id="CompanyName"/>
        <input type="hidden" name="Version" id="ver"/>
    </form>
    <form method="post" class="form-horizontal" action="EnterpriseWeb/EditEnterprise" id="Edit">
        <input type="hidden" name="Id" />
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#tab-1" aria-expanded="true"> 资料页一</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-2" aria-expanded="false"> 资料页二</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-3" aria-expanded="false"> 资料页三</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <!--名称-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">企业名称</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required" name="CompanyName" data-msg-required="请输入企业名称">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <!--类型-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">企业类型</label>
                        <div class="col-sm-4">
                            <select name="CompanyType" class="form-control" type="select">
                                <option value="10">种植企业</option>
                                <option value="20">养殖企业</option>
                                <option value="30">生产企业</option>
                                <option value="40">流通企业</option>
                                <option value="50">其他企业</option>
                            </select>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <!--账号-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">企业账号</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required" name="CompanyAccount" data-msg-required="请输入企业账号">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <!--地址-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">企业地址</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required" name="CompanyAddress" data-msg-required="请输入企业地址">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <!--工商号-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">工商代码</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required" name="CommunityCode" data-msg-required="请输入工商代码">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <!--电话-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">企业电话</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required" name="CompanyPhone" data-msg-required="请输入工商代码" placeholder="格式：028-12345678或者13012345678">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <!--网站-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">企业网站</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="NetAddress">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <!--区域-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所属地域</label>
                        <div class="col-sm-2">
                            <select type="select" name="Province" id="province" class="form-control">
                                <option>===请选择===</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select type="select" name="City" id="city" class="form-control">
                                <option>===请选择===</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select type="select" name="Area" id="area" class="form-control">
                                <option>===请选择===</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select type="select" name="Town" id="town" class="form-control">
                                <option>===请选择===</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <!--密码-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">企业密码</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control required" name="PassWord" data-msg-required="请输入企业密码">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <!--销售-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">销售地址</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="SellerAddress">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <!--生产-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">生产地址</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="ProductionAddress">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <!--视频-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">视频地址</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="VideoAddress">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <!--介绍-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">企业介绍</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" name="Discription" rows="4" maxlength="300"></textarea>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="panel-body">
                    <!--执照-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">营业执照</label>
                        <div class="col-sm-8">
                            <div class="upload-box">
                                <div class="image-box clear" id="Img1">
                                    <section class="upload-section">
                                        <div class="upload-btn"></div>
                                        <input type="file" name="Files" id="upload-input-1" class="upload-input" value="" accept="image/*" multiple="multiple" />
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <input type="hidden" id="Certification" name="Certification" class="required" data-msg-required="请输上传营业执照" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <!--证书-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">荣誉证书</label>
                        <div class="col-sm-8">
                            <div class="image-box clear" id="Img2">
                                <section class="upload-section">
                                    <div class="upload-btn"></div>
                                    <input type="file" name="Files" id="upload-input-2" class="upload-input" value="" accept="image/*" multiple="multiple" />
                                </section>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <input type="hidden" id="HonorCertification" name="HonorCertification" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <!--版本-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">版本选择</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <select name="Version" class="form-control" type="select" id="Version">
                                    <option value="10">体验版</option>
                                    <option value="20">基础班</option>
                                    <option value="30">升级版</option>
                                    <option value="40">旗舰版</option>
                                </select>
                                <span class="input-group-addon btn btn-default" id="sure">确定</span>
                            </div>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <!--合同-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">附录</label>
                        <div class="col-sm-8">
                            <div class="btn btn-default" id="pay">上传合同和凭证</div>
                            <a href="~/Download/中食药监管信息查询平台功能版块价格表.docx" download="中食药监管信息查询平台功能版块价格表.docx">《中食药监管信息查询平台功能版块价格表》</a>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <!--结束-->
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary" type="button" id="save">提交申请</button>
                            <button class="btn btn-white" type="button" id="cancel">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
