
@{
    ViewData["Title"] = "食用产品";
    Layout = "~/Views/Shared/BaseView.cshtml";
}

@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //恢复高度
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        options.$table.bootstrapTable("resetView", { height: $(window).height() - 150 });
                    }, 200);
                    e.stopPropagation();
                });
                //设置表单
                this.$table = controller.Table("#tableList", { url: "GovtWeb/GetEdiblePage", height: $(window).height() - 150, refreshBtn: "#btn-refresh", formElement: "#Edit", param: { ProductType:"农产品,食品"} });
            },
            //事件
            InitEvents: function () {

            },
            //行为
            action: {
                TableFormatter: function (val, row, index) {
                    var action = [];
                    action.push('<button class="btn btn-sm btn-primary detail"><i class="fa fa-pencil-square-o"></i>详情</button>');
                    return action.join("&nbsp;")
                },
                TableEvents: {
                    "click .detail": function (event, val, row, index) {
                        controller.OpenWindow({
                            title: row.ProductName,
                            type: 2,
                            height: "90%",
                            width: "80%",  
                            url: "WebGovtManage/Product/EdibleSuperviseDetail?Id=" + row.Id,
                            callBack: function (result) {
                                result.$("#Edit").submit();
                            }
                        })
                    }
                }//表单事件结束
            }//行为结束
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
@section css{

}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>食用产品</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form id="Edit">
                        <div class="col-sm-8 m-b-xs">
                            <div class="input-group">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" placeholder="产品名称" class="input-sm form-control" name="ProductName">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>搜索</button>
                                    <button type="button" id="btn-refresh" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i>刷新</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table id="tableList" class="table">
                        <thead>
                            <tr>
                                <th data-field="ProductName" data-halign="center" data-align="left" data-valign="middle">产品名称</th>
                                <th data-field="ProductType" data-halign="center" data-align="center" data-valign="middle">产品类型</th>
                                <th data-field="ExpiredDate" data-halign="center" data-align="center" data-valign="middle">保质期</th>
                                <th data-field="Spec" data-halign="center" data-align="center" data-valign="middle">规格</th>
                                <th data-field="CompanyName" data-halign="center" data-align="center" data-valign="middle">生产商/供应商</th>
                                <th data-field="Unit" data-halign="center" data-align="center" data-valign="middle">生产地址</th>
                                <th data-formatter="options.action.TableFormatter" data-events="options.action.TableEvents" data-halign="center" data-align="center" data-valign="middle">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>