
@{
    ViewData["Title"] = "加工产品详情";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{ }
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //取详情
                controller.ajax({
                    url: "GovtWeb/GetWorkDetail",
                    data: { Id: controller.GetParam("Id") },
                    async: false,
                    type: "post",
                    success: function (result) {
                        controller.SetCtrlValue("#Edit", result.data);
                    }
                });
                //查看大图
                $("img").find("img").on('click', function () {
                    var option = {
                        title: "质检报告",
                        data: [{
                            alt: "质检报告",
                            src: $(this).attr("src")
                        }]
                    };
                    controller.Photos(option);
                });
            },

            //事件
            InitEvents: function () {
            },
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });

    </script>
}
<form class="form-horizontal" method="post" id="Edit">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#tab-1" aria-expanded="true"> 基本信息</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-2" aria-expanded="false">原料信息</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-3" aria-expanded="false">产品质检</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-4" aria-expanded="false">原料质检</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-5" aria-expanded="false">库存信息</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-6" aria-expanded="false">仓库信息</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <table class="table table-hover table-bordered m-t-sm">
                    <tr>
                        <th><label class="control-label">产品名称</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="GoodsName" readonly="readonly" />
                        </td>
                        <th><label class="control-label">保质期</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="ExpiredDay" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">规格</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="Spec" readonly="readonly" />
                        </td>
                        <th><label class="control-label">执行标准</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="Standard" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">生产设备</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="DeviceName" readonly="readonly" />
                        </td>
                        <th><label class="control-label">产品类型</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="ProductType" readonly="readonly" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="tab-2" class="tab-pane">
                <table class="table table-hover table-bordered m-t-sm">
                    <tr>
                        <th><label class="control-label">原料名称</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="MaterName" readonly="readonly" />
                        </td>
                        <th><label class="control-label">原料类型</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="MaterType" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">供应商</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="Supplier" readonly="readonly" />
                        </td>
                        <th><label class="control-label">生产时间</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="MaterialProductTime" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">保质期</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="MaterialExpiredDay" readonly="readonly" />
                        </td>
                        <th><label class="control-label">产地</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="MaterialAddress" readonly="readonly" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="tab-3" class="tab-pane">
                <table class="table table-hover table-bordered m-t-sm">
                    <tr>
                        <th><label class="control-label">质检单位</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="GoodCheckUint" readonly="readonly" />
                        </td>
                        <th><label class="control-label">质检人</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="GoodCheckUser" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">质检结果</label></th>
                        <td class="has-warning" colspan="3">
                            <input type="text" class="form-control" name="GoodCheckResult" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">质检报告</label></th>
                        <td class="has-warning" colspan="3">
                            <img class="img-preview" src="" type="image" name="GoodCheckReport" style="display:block;margin:auto" title="点击放大" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="tab-4" class="tab-pane">
                <table class="table table-hover table-bordered m-t-sm">
                    <tr>
                        <th><label class="control-label">质检单位</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="MaterialCheckUint" readonly="readonly" />
                        </td>
                        <th><label class="control-label">质检人</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="MaterialCheckUser" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">质检结果</label></th>
                        <td class="has-warning" colspan="3">
                            <input type="text" class="form-control" name="MaterialCheckResult" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">质检报告</label></th>
                        <td class="has-warning" colspan="3">
                            <img class="img-preview" src="" type="image" name="MaterialCheckReport" style="display:block;margin:auto" title="点击放大" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="tab-5" class="tab-pane">
                <table class="table table-hover table-bordered m-t-sm">
                    <tr>
                        <th><label class="control-label">入库批次</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="InNo" readonly="readonly" />
                        </td>
                        <th><label class="control-label">出库批次</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="OutNo" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">生产时间</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="GoodProductTime" readonly="readonly" />
                        </td>
                        <th><label class="control-label">入库管理员</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="Manager" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">分销商</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="Seller" readonly="readonly" />
                        </td>
                        <th><label class="control-label">出库管理员</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="OutStockUser" readonly="readonly" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="tab-6" class="tab-pane">
                <table class="table table-hover table-bordered m-t-sm">
                    <tr>
                        <th><label class="control-label">仓库名称</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="StockName" readonly="readonly" />
                        </td>
                        <th><label class="control-label">贮藏方式</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="SaveType" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">贮藏湿度</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="SaveH2" readonly="readonly" />
                        </td>
                        <th><label class="control-label">贮藏温度</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="SaveTemp" readonly="readonly" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>