
@{
    ViewData["Title"] = "进货编辑";
    Layout = "~/Views/Shared/BaseView.cshtml";
}

@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                $("#CompanyId").val(CompanyInfo.Id);
                $("#BatchNo").val("J" + controller.FormatDate("YYMMDDHHmmss"));
                controller.LayDate({ elem: "#ExpiredDate" });
                controller.LayDate({ elem: "#GetGoodsTime" });
                controller.LayDate({ elem: "#ProTime" });
                this.GetSupplier();
            },
            //获取生产厂商
            GetSupplier: function () {
                controller.ajax({
                    url: "EnterpriseWeb/GetSellerList",
                    data: { Parameter:10},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>===请选择===</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option>' + obj.SupplierName + '</option>';
                        });
                        $("#Supplier").html(html);
                    }
                });
            },
            //事件
            InitEvents: function () {
                //初始化下拉字典
                controller.Select({
                    document: '.selectpicker',
                    arrelemnt: ['#Spec'],
                    url: 'EnterpriseWeb/GetDictionaryList',
                });
                $("#Spec").on('changed.bs.select', function () {
                    $('input[name="Spec"]').val($(this).val());
                });
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="orm-horizontal" method="post" action="EnterpriseWeb/EditDevice" id="Edit">
            <input type="hidden" id="CompanyId" name="CompanyId" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">进货批次</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="BatchNo" readonly  id="BatchNo"/>
                    </td>
                    <th><label class="control-label">货品名称</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="GoodName" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">保质期</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="ExpiredDate" id="ExpiredDate" />
                    </td>
                    <th><label class="control-label">进货日期</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="GetGoodsTime" id="GetGoodsTime" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">供应商</label></th>
                    <td class="has-warning">
                        <select type="select" class="form-control" name="Supplier" id="Supplier"></select>
                    </td>
                    <th><label class="control-label">产地</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="Address" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">进货数量</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="Num" />
                    </td>
                    <th><label class="control-label">生产日期</label></th>
                    <td class="has-warning">
                        <input type="text" name="ProTime" id="ProTime" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">规格</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" class="selectpicker form-control" data-max-options="2" id="Spec" multiple data-live-search="true" data-live-search-placeholder="搜索"></select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
