@{
    ViewData["Title"] = "进货管理";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //恢复高度
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        options.$table.bootstrapTable("resetView", { height: $(window).height() - 150 });
                    }, 200);
                    e.stopPropagation();
                });
                //设置表单
                this.$table = controller.Table("#tableList", { url: "EnterpriseWeb/GetBuyerPage", height: $(window).height() - 150, refreshBtn: "#btn-refresh", formElement: "#Edit"});
            },
            //事件
            InitEvents: function () {
                $("#add").on('click', function () {
                    controller.OpenWindow({
                        title: "新增进货",
                        type: 2,
                        height: "90%",
                        width: "80%",
                        url: "WebCompanyManage/Logistics/BuyerEdit",
                        callBack: function (result) {
                            result.$("#Edit").submit();
                        }
                    })
                });
            },
            //行为
            action: {
                ImgFormatter: function (val, row, index) {
                    var action = [];
                    if (row.CheckReport != null) {
                        for (var i = 0; i <row.CheckReport.split(',').length; i++) {
                            action.push('<img class="photo" src="' + row.CheckReport.split(',')[i] + '" style="width:48px;height:32px;"">')
                        }
                    }
                    return action.join("&nbsp;");
                },
                ImgEvents: {
                    "click .photo": function (event, val, row, index) {
                        var option = {
                            title: "报告图片",
                            data: [{
                                alt: "报告图片",
                                src: $(this).attr("src")
                            }]
                        };
                        controller.Photos(option);
                    }
                },
                TableFormatter: function (val, row, index) {
                    var action = [];
                    action.push('<button class="btn btn-sm btn-primary del"><i class="fa fa-trash-o"></i>删除</button>');
                    return action.join("&nbsp;")
                },
                TableEvents: {
                    "click .del": function (event, val, row, index) {
                        controller.Confirm("确认删除？", function (bool) {
                            if (bool) {
                                controller.ajax({
                                    url: "EnterpriseWeb/RemoveBuyer",
                                    data: { Id: row.Id },
                                    type: 'post',
                                    success: function (result) {
                                        options.$table.refresh();
                                    }
                                });
                            }
                        });
                    },
                }//表单事件结束
            }//行为结束
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox ibox-c float-e-margins">
            <div class="ibox-title ibox-title-c">
                <h5>进货管理</h5>
            </div>
            <div class="ibox-content ibox-content-c">
                <div class="row">
                    <form id="Edit">
                        <div class="col-sm-8 m-b-xs">
                            <div class="input-group">
                                <button type="button" class="btn btn-sm btn-white" id="add"><i class="fa fa-plus"></i>新增</button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" placeholder="货品名称" class="input-sm form-control" name="GoodName">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>搜索</button>
                                    <button type="button" id="btn-refresh" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i>刷新</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table id="tableList" class="table">
                        <thead>
                            <tr>
                                <th data-field="BatchNo" class="th-center">进货批次</th>
                                <th data-field="GoodName" class="th-center">货品名称</th>
                                <th data-field="Supplier" class="th-center">供应商</th>
                                <th data-field="ProMerchant" class="th-center">生产商</th>
                                <th data-field="ExpiredDate" class="th-center">保质期</th>
                                <th data-field="GetGoodsTime" class="th-center">进货日期</th>
                                <th data-field="ProTime" class="th-center">生产日期</th>
                                <th data-field="Num" class="th-center">进货数量</th>
                                <th data-field="Spec" class="th-center">规格</th>
                                <th data-field="Address" class="th-center">产地</th>
                                <th data-formatter="options.action.ImgFormatter" data-events="options.action.ImgEvents" class="th-center">检测报告</th>
                                <th data-formatter="options.action.TableFormatter" data-events="options.action.TableEvents" class="th-center">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>