
@{
    ViewData["Title"] = "进货编辑";
    Layout = "~/Views/Shared/BaseView.cshtml";
}

@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                $("#CompanyId").val(CompanyInfo.Id);
                $("#BatchNo").val("J" + controller.FormatDate("YYMMDDHHmmss"));
                controller.LayDate({ elem: "#GetGoodsTime" });
                controller.LayDate({ elem: "#ProTime" });
                this.GetSupplier();
            },
            //获取生产厂商
            GetSupplier: function () {
                controller.ajax({
                    url: "EnterpriseWeb/GetSellerList",
                    data: { Parameter:10},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>===请选择===</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option>' + obj.SupplierName + '</option>';
                        });
                        $("#Supplier").html(html);
                    }
                });
            },
            //事件
            InitEvents: function () {
                //文件上传
                controller.Upload({
                    url: "File/UploadImg",
                    element: ".upload-input",
                    maxNum: 1,
                    node: '.image-box',
                    success: function (result) {
                        controller.Alter(result.msg);
                        $("#CheckReport").val(result.data);
                    }
                });
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="EnterpriseWeb/EditBuyer" id="Edit">
            <input type="hidden" id="CompanyId" name="CompanyId" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">装车批次</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="BatchNo" readonly id="BatchNo" />
                    </td>
                    <th><label class="control-label">货品名称</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="GoodName" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">保质期</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="ExpiredDate" />
                    </td>
                    <th><label class="control-label">进货日期</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="GetGoodsTime" id="GetGoodsTime" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">供应商</label></th>
                    <td class="has-warning">
                        <select type="select" class="form-control" name="Supplier" id="Supplier"></select>
                    </td>
                    <th><label class="control-label">产地</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="Address" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">进货数量</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="Num" />
                    </td>
                    <th><label class="control-label">生产日期</label></th>
                    <td class="has-warning">
                        <input type="text" name="ProTime" id="ProTime" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">规格</label></th>
                    <td class="has-warning" colspan="3">
                        <input name="Spec" id="Spec" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">质检报告</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="image-box clear">
                            <section class="upload-section">
                                <div class="upload-btn"></div>
                                <input type="file" name="Files" class="upload-input" value="" accept="image/*" multiple="multiple" />
                                <input type="hidden" class="form-control" name="CheckReport" id="CheckReport" />
                            </section>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
