@{
    ViewData["Title"] = "收货管理";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //恢复高度
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        options.$table.bootstrapTable("resetView", { height: $(window).height() - 150 });
                    }, 200);
                    e.stopPropagation();
                });
                //设置表单
                this.$table = controller.Table("#tableList", { url: "EnterpriseWeb/GetLogisticsPage", height: $(window).height() - 150, refreshBtn: "#btn-refresh", formElement: "#Edit", param: { GainId: CompanyInfo.Id }});
            },
            //事件
            InitEvents: function () {
            },
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox ibox-c float-e-margins">
            <div class="ibox-title ibox-title-c">
                <h5>收货管理</h5>
            </div>
            <div class="ibox-content ibox-content-c">
                <div class="row">
                    <form id="Edit">
                        <div class="col-sm-8 m-b-xs">
                            <div class="input-group">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" placeholder="产品名称" class="input-sm form-control" name="GoodsName">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>搜索</button>
                                    <button type="button" id="btn-refresh" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i>刷新</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table id="tableList" class="table">
                        <thead>
                            <tr>
                                <th data-field="BatchNo" class="th-center">发货批次</th>
                                <th data-field="WayBill" class="th-center">运单号</th>
                                <th data-field="GoodsName" class="th-center">产品名称</th>
                                <th data-field="LinkPhone" class="th-center">发货人电话</th>
                                <th data-field="GainUser" class="th-center">收货人</th>
                                <th data-field="Address" class="th-center">收货地址</th>
                                <th data-field="SendGoodsNum" class="th-center">发货数量</th>
                                <th data-field="SendTime" class="th-center">发货时间</th>
                                <th data-field="FlagName" class="th-center">状态</th>
                                <th data-field="TransportWay" class="th-center">运输方式</th>
                                <th data-field="Traffic" class="th-center">交通工具</th>
                                <th data-field="SendAddress" class="th-center">发货地址</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>