@{
    ViewData["Title"] = "编辑打包";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitEvents();
                this.InitDom();
            },
            //元素
            InitDom: function () {
                var Guid = controller.GetParam("Id");
                $("input[name='CompanyId']").val(CompanyInfo.Id);
                $("input[name='PackageNo']").val("B" + controller.FormatDate("YYMMDDHHmmss"));
                controller.LayDate({ elem: "input[name='PackageTime']" });
                options.GetStockNo();
                options.GetDetail(Guid);
            },
            //获取出库批次编号
            GetStockNo: function () {
                controller.Select({
                    document: '#ProductOutStockNo',
                    arrelemnt: ['#ProductOutStockNo',],
                    url: 'EnterpriseWeb/GetStockOutNoList',
                    flag: false,
                    callBack: function (data) {
                        var html = '';
                        $.each(data, function (i, obj) {
                            html += '<option value="' + obj.GoodsBatchNo + '">' + obj.GoodsBatchNo + '(' + obj.GoodsName + ')</option>';
                        });
                        $("#ProductOutStockNo").html(html);
                        $("#ProductOutStockNo").selectpicker("refresh");
                    }
                });
                $("#ProductOutStockNo").on('changed.bs.select', function () {
                    $('input[name="ProductOutStockNo"]').val($(this).val());
                });
                $("#ProductOutStockNo").selectpicker("refresh");
            },
            //获取详情
            GetDetail: function (data) {
                if (data != null && data != undefined && data != "")
                    controller.ajax({
                        url: "EnterpriseWeb/GetGoodsPackageDetail",
                        type: "post",
                        data: { Id: data },
                        async: false,
                        success: function (result) {
                            controller.SetCtrlValue("#Edit", result.data);
                            $("#ProductOutStockNo").selectpicker('val', result.data.ProductOutStockNo);
                        }
                    });
            },
            //事件
            InitEvents: function () {
                //人员下拉
                controller.ajax({
                    url: "EnterpriseWeb/GetUserList",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>===请选择===</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.TrueName + '">' + obj.TrueName + '</option>';
                        });
                        $("#Manager").html(html);
                    }
                });
                //计数器
                setInterval(function () {
                    var ele = $("textarea");
                    var res = ele.val();
                    var replayArr = [];
                    if (controller.CheckFeild(res)) {
                        var data = null;
                        if (controller.CheckFeild(decodeURI(res).match(/[A-F0-9]{8}(-[A-F0-9]{4}){3}-[A-F0-9]{12}/ig))) {
                            //匹配箱码
                            var data = decodeURI(res).match(/Code=\W+\S\d+/g).join(",").match(/\d+/g).filter(function (item) {
                                return item != "" && item != "\n";
                            })
                        } else {
                            //匹配追溯码和纹理二维码
                            data = decodeURI(res).match(/\d+/g).filter(function (item) {
                                return item != "" && item != "\n";
                            });
                        }
                        var datas = data.join(",") + ",";
                        for (var i = 0; i < data.length; i++) {
                            if (datas.replace(data[i] + ",", "").indexOf(data[i] + ",") > -1) {
                                if ($.inArray(data[i], replayArr) < 0) {
                                    replayArr.push(data[i]);
                                    $("#replay").val(replayArr.join(","));
                                    $("#replaycount").val(replayArr.length);
                                } else {
                                    $("#replay").val(replayArr.join(","));
                                    $("#replaycount").val(replayArr.length);
                                }
                            }
                            else {
                                $("#replay").val("");
                                $("#replaycount").val(0);
                            }
                        }
                        $("#activecount").val(data.length - replayArr.length);
                        $("#count").val(data.length);
                    } else {
                        $("#count").val(0);
                        $("#activecount").val(0);
                        $("#replaycount").val(0);
                        $("#replay").val("");
                    }
                }, 100);
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="EnterpriseWeb/EditGoodsPackage" id="Edit">
            <input type="hidden" name="Id" />
            <input type="hidden" name="CompanyId" />
            <table class="table table-hover table-bordered">
                <colgroup>
                    <col width="10%" />
                    <col width="90%" />
                </colgroup>
                <tr>
                    <th><label class="control-label">装车批次</label></th>
                    <td class="has-warning" colspan="3">
                        <input type="text" class="form-control" name="PackageNo" readonly />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">出库批次</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" class="selectpicker form-control" id="ProductOutStockNo" multiple data-live-search="true" data-live-search-placeholder="搜索"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">装车时间</label></th>
                    <td class="has-warning" colspan="3">
                        <input type="text" class="form-control" name="PackageTime" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">负责人</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" name="Manager" class="form-control" id="Manager"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">装箱码</label></th>
                    <td class="has-warning" colspan="3">
                        <textarea cols="5" rows="15" class="form-control" name="BoxCode" placeholder="最大扫入2000个，建议不要超过4000个"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="has-warning" colspan="4">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="col-sm-2"><label class="control-label">扫码数量<span style="color:red">*</span></label></div>
                                <div class="col-sm-2"><input type="text" class="form-control" readonly id="count" /></div>
                                <div class="col-sm-2"><label class="control-label">重复数量<span style="color:red">*</span></label></div>
                                <div class="col-sm-2"><input type="text" class="form-control" readonly id="replaycount" /></div>
                                <div class="col-sm-2"><label class="control-label">有效数量<span style="color:red">*</span></label></div>
                                <div class="col-sm-2"><input type="text" class="form-control" readonly id="activecount" /></div>
                            </div>
                            <div class="col-sm-7">
                                <div class="col-sm-2"><label class="control-label">重复号段</label><span style="color:red">*</span></div>
                                <div class="col-sm-10"><input type="text" class="form-control" readonly id="replay" /></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>