
@{
    ViewData["Title"] = "编辑打包";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                var Guid = controller.GetParam("Id");
                $("input[name='CompanyId']").val(CompanyInfo.Id);
                $("input[name='PackageNo']").val("B" + controller.FormatDate("YYMMDDHHmmss"));
                controller.LayDate({ elem: "input[name='PackageTime']" });
                options.GetDetail(Guid);
                options.GetStockNo();
            },
            //获取出库批次编号
            GetStockNo: function () {
                controller.Select({
                    document: '.selectpicker',
                    arrelemnt: ['#ProductOutStockNo',],
                    url: 'EnterpriseWeb/GetStockOutNoList',
                    flag: false,
                    callBack: function (data) {
                        var html = '';
                        $.each(data, function (i, obj) {
                            html += '<option value="' + obj.GoodsBatchNo + '">' + obj.GoodsBatchNo + '(' + obj.GoodsName + ')</option>';
                        });
                        $("#ProductOutStockNo").html(html);
                    }
                });
                $("#ProductOutStockNo").on('changed.bs.select', function () {
                    $('input[name="ProductOutStockNo"]').val($(this).val());
                });
            },
            //获取详情
            GetDetail: function (data) {
                if (data != null && data != undefined && data != "")
                    controller.ajax({
                        url: "EnterpriseWeb/GetGoodsPackageDetail",
                        type: "post",
                        data: { Id: data },
                        async: false,
                        success: function (result) {
                            controller.SetCtrlValue("#Edit", result.data);
                        }
                    });
            },
            //事件
            InitEvents: function () {
                //人员下拉
                controller.ajax({
                    url: "EnterpriseWeb/GetUserList",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>===请选择===</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="'+obj.TrueName+'">' + obj.TrueName + '</option>';
                        });
                        $("#Manager").html(html);
                    }
                });
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="EnterpriseWeb/EditGoodsPackage" id="Edit">
            <input type="hidden" name="Id" />
            <input type="hidden" name="CompanyId" />
            <table class="table table-hover table-bordered">
                <colgroup>
                    <col width="10%" />
                    <col width="90%" />
                </colgroup>
                <tr>
                    <th><label class="control-label">装车批次</label></th>
                    <td class="has-warning" colspan="3">
                        <input type="text" class="form-control" name="PackageNo" readonly />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">出库批次</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" class="selectpicker form-control" id="ProductOutStockNo" multiple data-live-search="true" data-live-search-placeholder="搜索"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">装车时间</label></th>
                    <td class="has-warning" colspan="3">
                        <input type="text" class="form-control" name="PackageTime" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">负责人</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" name="Manager" class="form-control" id="Manager"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">装箱码</label></th>
                    <td class="has-warning" colspan="3">
                        <textarea cols="5" rows="15" class="form-control" name="BoxCode"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>