
@{
    ViewData["Title"] = "编辑打包";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                var Guid = controller.GetParam("Id");
                $("input[name='CompanyId']").val(CompanyInfo.Id);
                $("input[name='PackageNo']").val("B" + controller.FormatDate("YYMMDDHHmmss"));
                controller.LayDate({ elem: "input[name='PackageTime']" });
                options.GetDetail(Guid);
                options.GetStockNo();
            },
            //获取出库批次编号
            GetStockNo: function () {
                controller.ajax({
                    url: "EnterpriseWeb/GetStockOutNoList",
                    type: "post",
                    data: {},
                    async: false,
                    success: function (result) {
                        var html = '<option>===请选择===</option>'
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.GoodsBatchNo + '">' + obj.GoodsBatchNo + '</option>';
                        });
                        $("#ProductOutStockNo").html(html);
                    }
                });
            },
            //获取详情
            GetDetail: function (data) {
                if (data != null && data != undefined && data != "")
                    controller.ajax({
                        url: "EnterpriseWeb/GetGoodsPackageDetail",
                        type: "post",
                        data: { Id: data },
                        async: false,
                        success: function (result) {
                            controller.SetCtrlValue("#Edit", result.data);
                        }
                    });
            },
            //事件
            InitEvents: function () {
                //人员下拉
                controller.ajax({
                    url: "EnterpriseWeb/GetUserList",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>===请选择===</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="'+obj.TrueName+'">' + obj.TrueName + '</option>';
                        });
                        $("#Manager").html(html);
                    }
                });
                $("#ProductOutStockNo").on('change', function ()
                {
                    var data = $(this).find("option:selected").val();
                    controller.ajax({
                        url: "EnterpriseWeb/GetPackageCode",
                        type: "post",
                        data: { Parameter: data },
                        async: false,
                        success: function (result) {
                            $("input[name='CodeStarSerialNo']").val(result.data);
                        }
                    });
                });
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="EnterpriseWeb/EditGoodsPackage" id="Edit">
            <input type="hidden" name="Id" />
            <input type="hidden" name="CompanyId" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">打包批次</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="PackageNo"  readonly/>
                    </td>
                    <th><label class="control-label">出库批次</label></th>
                    <td class="has-warning">
                        <select type="select" name="ProductOutStockNo" class="form-control" id="ProductOutStockNo"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">开始号段</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="CodeStarSerialNo" readonly />
                    </td>
                    <th><label class="control-label">打包数量</label></th>
                    <td class="has-warning">
                        <input type="number" name="PackageNum" class="form-control" min="1" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">打包时间</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="PackageTime" />
                    </td>
                    <th><label class="control-label">负责人</label></th>
                    <td class="has-warning">
                        <select type="select" name="Manager" class="form-control" id="Manager"></select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>