
@{
    ViewData["Title"] = "编辑发货";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
                this.InitType();
            },
            //元素
            InitDom: function () {
                $("input[name='CompanyId']").val(CompanyInfo.Id);
                $("input[name='CompanyType']").val(CompanyInfo.CompanyType);
                $("input[name='BatchNo']").val("No." + controller.FormatDate("YYYYMMDDHHmmss"));
                controller.LayDate({ elem: "input[name='SendTime']" });
                controller.Select({
                    document: '#PackageNo',
                    arrelemnt: ['#PackageNo',],
                    url: 'EnterpriseWeb/GetPackagesList',
                    flag: false,
                    callBack: function (data) {
                        var html = '';
                        $.each(data, function (i, obj) {
                            html += '<option>' + obj.PackageNo + '_' + obj.ProductName + '</option>';
                        });
                        $("#PackageNo").html(html);
                    }
                });
                $("#PackageNo").on('changed.bs.select', function () {
                    $('input[name="PackageNo"]').val($(this).val());
                });
            },
            //事件
            InitEvents: function () {
                //获取收货人
                controller.AutoInput("#GainUser", {
                    url: "EnterpriseWeb/GetSellerInEnterprise",
                    effectiveFields: ["SupplierName"],
                    effectiveFieldsAlias: { SupplierName: "收货人" },
                    idField: "Id",
                    keyField: "SupplierName",
                    AttachField: "Address",
                    processData: function (result) {
                        var data = { value: [] };
                        $.each(result.data, function (i, obj) {
                            data.value.push({
                                Id: obj.Id,
                                SupplierName: obj.SupplierName,
                                Address: obj.Address + "," + obj.LinkPhone,
                            });
                        });
                        return data;
                    }
                });
                //获取产品列表
                controller.ajax({
                    url: "EnterpriseWeb/GetGoodsList",
                    type: "post",
                    success: function (result) {
                        var html = '';
                        $.each(result.data, function (index, item) {
                            html += '<option value="' + item.ProductName + "_" + item.Id + '">' + item.ProductName + '</option>'
                        });
                        $("#GoodsName").val(html);
                    }
                });
                //验证
                controller.ValidateConfirm("#Edit");
            },
            InitType: function () {
                $("input[type='radio']").click(function () {
                    if ($(this).val() == 1) {
                        $("#car").css({ display: "table-row" });
                        $("#one").css({ display: "none" });
                        $("#box").css({ display: "none" });
                        $("#model").css({ display: "none" });
                    } else if ($(this).val() == 2) {
                        $("#box").css({ display: "table-row" });
                        $("#car").css({ display: "none" });
                        $("#one").css({ display: "none" });
                        $("#model").css({ display: "table-row" });
                    } else {
                        $("#one").css({ display: "table-row" });
                        $("#car").css({ display: "none" });
                        $("#box").css({ display: "none" });
                        $("#model").css({ display: "table-row" });
                    }
                });
            }
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="EnterpriseWeb/EditLogistics" id="Edit">
            <input type="hidden" name="Id" />
            <input type="hidden" name="CompanyId" />
            <input type="hidden" name="Flag" value="false" />
            <input type="hidden" name="GainId" id="GainId" />
            <input type="hidden" name="CompanyType" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">发货方式</label></th>
                    <td class="has-warning" colspan="3">
                        <label class="radio-inline">
                            <input type="radio" name="SendType" value="1" style="margin-top:3px" checked />
                            <text title="车码批次方式">车码批次方式</text>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="SendType" value="2" style="margin-top:3px" />
                            <text title="箱码发货方式">箱码发货方式</text>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="SendType" value="3" style="margin-top:3px" />
                            <text title="追溯码发货方式">追溯码发货方式</text>
                        </label>
                    </td>
                </tr>
                <tr id="car">
                    <th><label class="control-label">装车批次</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" class="selectpicker form-control" id="PackageNo" multiple data-live-search="true" data-live-search-placeholder="搜索"></select>
                    </td>
                </tr>
                <tr id="model">
                    <th><label class="control-label">产品名称</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" name="GoodsName" id="GoodsName"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">发货批次</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="BatchNo" readonly />
                    </td>
                    <th><label class="control-label">收货人</label></th>
                    <td class="has-warning">
                        <div class="input-group" style="width:100%;">
                            <input type="text" class="form-control" id="GainUser" name="GainUser" data-list="GainId,Address,LinkPhone" placeholder="请输入检索字段" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">发货地址</label></th>
                    <td class="has-warning" colspan="3">
                        <input type="text" class="form-control" name="SendAddress" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">发货时间</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="SendTime" />
                    </td>
                    <th><label class="control-label">收货地址</label></th>
                    <td class="has-warning">
                        <input type="text" name="Address" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">物流单号</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="WayBill" />
                    </td>
                    <th><label class="control-label">联系电话</label></th>
                    <td class="has-warning">
                        <input type="text" name="LinkPhone" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">运输方式</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="TransportWay" />
                    </td>
                    <th><label class="control-label">交通工具</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="Traffic" />
                    </td>
                </tr>
                <tr style="display:none" id="one">
                    <th><label class="control-label">追溯码</label><span style="color:red">*</span></th>
                    <td class="has-warning" colspan="3">
                        <textarea class="form-control" name="OneCode" rows="30" cols="30" placeholder="每箱最大扫入100个物品"></textarea>
                    </td>
                </tr>
                <tr style="display:none" id="box">
                    <th><label class="control-label">箱码</label><span style="color:red">*</span></th>
                    <td class="has-warning" colspan="3">
                        <textarea class="form-control" name="BoxCode" rows="30" cols="30" placeholder="最大扫入100个箱码"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>