
@{
    ViewData["Title"] = "串货详情";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //恢复高度
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        options.$table.bootstrapTable("resetView", { height: $(window).height() - 150 });
                    }, 200);
                    e.stopPropagation();
                });
                //设置表单
                this.$table = controller.Table("#tableList", {
                    url: "EnterpriseWeb/GetLogisticsErrorPage",
                    height: $(window).height() - 150,
                    refreshBtn: "#btn-refresh",
                    formElement: "#Edit",
                    param: { ScanPackageNo: controller.GetParam("No") }
                });
            },
            //事件
            InitEvents: function () {
            },
            //行为
            action: {
            }//行为结束
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
@section css{

}

<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>串货详情</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form id="Edit">
                        <div class="col-sm-11 m-b-xs">
                            <div class="input-group">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" id="btn-refresh" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i>刷新</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table id="tableList" class="table">
                        <thead>
                            <tr>
                                <th data-field="ScanPackageNo" data-halign="center" data-align="center" data-valign="middle">批次号</th>
                                <th data-field="ScanCode" data-halign="center" data-align="center" data-valign="middle">串货号段</th>
                                <th data-field="ScanAddress" data-halign="center" data-align="center" data-valign="middle">扫码地址</th>
                                <th data-field="ScanIP" data-halign="center" data-align="center" data-valign="middle">扫码IP</th>
                                <th data-field="ScanNum" data-halign="center" data-align="center" data-valign="middle">扫码次数</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>