
@{
    ViewData["Title"] = "宴会报备";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
                this.InitFoo();
            },
            //元素
            InitDom: function () {
                controller.LayDate({ elem: "input[name='HoldTime']", max: controller.GetDate(1) });
                $("input[name='CookId']").val(CookerInfo.Id);
                options.GetProvince();
                options.GetCityByProvince();
                options.GetAreaByCity();
                options.GetTownByArea();
                var id = controller.GetParam("Id");
                options.BindList(id);
                if (id != null && id != undefined)
                    //获取详情
                    controller.ajax({
                        url: "CookWeb/GetBanquetDetail",
                        data: { Id: id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            controller.SetCtrlValue("#Edit", result.data);
                            options.SetCity();
                            controller.SetCtrlValue("#Edit", result.data);
                            options.SetArea();
                            controller.SetCtrlValue("#Edit", result.data);
                            options.SetTown();
                            controller.SetCtrlValue("#Edit", result.data);
                            $("#Helper").selectpicker('val', result.data.Helper);
                            $("#Ingredients").selectpicker('val', result.data.Ingredients);
                            let radio = $("input[type=radio]");
                            var arr = result.data.HoldFood.split(',');
                            $.each(radio, function (index, item) {
                                if ($(item).is(":checked")) {
                                    $(item).prop("checked", "false");
                                }
                            });
                            $.each(radio, function (index, item) {
                                if ($(item).val() == arr[index]) {
                                    $(item).prop("checked", "true");
                                }
                            });
                        }
                    });
            },
            //绑定下拉列表
            BindList: function (Id) {
                //帮厨
                controller.Select({
                    arrelemnt: ['#Helper'],
                    url: 'CookWeb/GetHelperList',
                    flag: false,
                    callBack: function (data) {
                        var html = '';
                        $.each(data, function (i, obj) {
                            html += '<option>' + obj.HelperName + '</option>';
                        });
                        $("#Helper").html(html);
                        $("#Helper").selectpicker("refresh");
                    }
                });
                $("#Helper").on('changed.bs.select', function () {
                    $('input[name="Helper"]').val($(this).val());
                });
                //菜品
                controller.Select({
                    arrelemnt: ['#Ingredients'],
                    url: 'CookWeb/GetFoodList',
                    flag: false,
                    data: { Id: Id },
                    callBack: function (data) {
                        var html = '';
                        $.each(data, function (i, obj) {
                            html += '<option>' + obj.Ingredients + '</option>';
                        });
                        $("#Ingredients").html(html);
                        $("#Ingredients").selectpicker("refresh");
                    }
                });
                $("#Ingredients").on('changed.bs.select', function () {
                    $('input[name="Ingredients"]').val($(this).val());
                });
            },
            //获取省份
            GetProvince: function () {
                controller.ajax({
                    url: "System/GetProvince",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option value="undefined">=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.ProvinceId + '">' + obj.ProvinceName + '</option>';
                        });
                        $("#province").html(html);
                    }
                });
            },
            //选中省份后获取城市
            GetCityByProvince: function () {
                $("#province").change(function () {
                    controller.ajax({
                        url: "System/GetCity",
                        data: { Id: $(this).find("option:selected").data().id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            var html = '<option>=请选择=</option>';
                            $.each(result.data, function (i, obj) {
                                html += '<option value="' + obj.Id + '" data-id="' + obj.CityId + '">' + obj.CityName + '</option>';
                            });
                            $("#city").html(html);
                        }
                    });
                });
            },
            //选中城市后获取区域
            GetAreaByCity: function () {
                $("#province").change(function () {
                    var html = '<option>=请选择=</option>';
                    $("#area").html(html);
                    $("#town").html(html);
                });
                $("#city").change(function () {
                    controller.ajax({
                        url: "System/GetArea",
                        data: { Id: $(this).find("option:selected").data().id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            var html = '<option>=请选择=</option>';
                            $.each(result.data, function (i, obj) {
                                html += '<option value="' + obj.Id + '" data-id="' + obj.AreaId + '">' + obj.AreaName + '</option>';
                            });
                            $("#area").html(html);
                        }
                    });
                });
            },
            //选中区域后获取乡镇
            GetTownByArea: function () {
                $("#city").change(function () {
                    var html = '<option>=请选择=</option>';
                    $("#town").html(html);
                });
                $("#area").change(function () {
                    controller.ajax({
                        url: "System/GetTown",
                        data: { Id: $(this).find("option:selected").data().id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            var html = '<option>=请选择=</option>';
                            $.each(result.data, function (i, obj) {
                                html += '<option value="' + obj.Id + '" data-id="' + obj.TownId + '">' + obj.TownName + '</option>';
                            });
                            $("#town").html(html);
                        }
                    });
                });
            },
            //取得详情后获取城市
            SetCity: function () {
                controller.ajax({
                    url: "System/GetCity",
                    data: { Id: $("#province").find("option:selected").data().id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.CityId + '">' + obj.CityName + '</option>';
                        });
                        $("#city").html(html);
                    }
                });
            },
            //取得详情后获取区域
            SetArea: function () {
                controller.ajax({
                    url: "System/GetArea",
                    data: { Id: $("#city").find("option:selected").data().id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.AreaId + '">' + obj.AreaName + '</option>';
                        });
                        $("#area").html(html);
                    }
                });
            },
            //取得详情后获取乡镇
            SetTown: function () {
                controller.ajax({
                    url: "System/GetTown",
                    data: { Id: $("#area").find("option:selected").data().id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.TownId + '">' + obj.TownName + '</option>';
                        });
                        $("#town").html(html);
                    }
                });
            },
            //事件
            InitEvents: function () {
                $('input[type="checkbox"]').on('click', function () {
                    var selector = $(this).parents(".col-sm-6").find("+div div");
                    if ($(this).is(":checked")) {
                        selector.css("display", "table");
                        selector.find("span:first").on('click', function () {
                            var sub = $(this).find("+input");
                            if (sub.val() > 0)
                                sub.val(sub.val() - 1);
                        });
                        selector.find("span:last").on('click', function () {
                            var add = $(this).prev("input");
                            if (add.val() == "")
                                add.val(1);
                            else
                                add.val(Number(add.val()) + 1);
                        });
                    } else {
                        selector.css("display", "none");
                        selector.find("input").val("");
                    }
                });
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //初始化主要食品和原料
            InitFoo: function () {

            },
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
@section css{
    <style>
        .checkbox input[type=checkbox] {
            margin-top: 3px;
        }
    </style>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="CookWeb/EditBanquet" id="Edit">
            <input type="hidden" name="Id" />
            <input type="hidden" name="CookId" />
            <input type="hidden" name="Processing" />
            <input type="hidden" name="HoldFoo" />
            <input type="hidden" name="Stauts" value="待批复" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">宴会主题</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="HoldTheme">
                    </td>
                    <th><label class="control-label">举办者<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="HoldName">
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">电话<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="Phone">
                    </td>
                    <th><label class="control-label">宴会桌数<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="DeskNum">
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">宴会人数<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="HoldTotal">
                    </td>
                    <th><label class="control-label">详细地址<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="Address">
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">办宴时间 <span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="HoldTime">
                    </td>
                    <th><label class="control-label">办宴天数<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required IsNumber" name="HoldDay" data-msg-required="请输入纯数字">
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">宴会类型</label></th>
                    <td class="has-warning">
                        <select type="select" class="form-control" name="HoldType">
                            <option value="红事">红事</option>
                            <option value="白事">白事</option>
                            <option value="生日">生日</option>
                            <option value="状元">状元</option>
                            <option value="乔迁">乔迁</option>
                            <option value="其他">其他</option>
                        </select>
                    </td>
                    <th><label class="control-label">水源</label></th>
                    <td class="has-warning">
                        <select type="select" class="form-control" name="Water">
                            <option value="自备水源">自备水源</option>
                            <option value="城市管网水">城市管网水</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">餐具消毒</label></th>
                    <td class="has-warning">
                        <select type="select" class="form-control" name="Disinfection">
                            <option value="消毒柜">消毒柜</option>
                            <option value="沸水">沸水</option>
                            <option value="药物">药物</option>
                            <option value="其他">其他</option>
                        </select>
                    </td>
                    <th><label class="control-label">留样设施</label></th>
                    <td class="has-warning">
                        <select type="select" class="form-control" name="Facility">
                            <option value="有">有</option>
                            <option value="无">无</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">有害物品</label></th>
                    <td class="has-warning">
                        <select type="select" class="form-control" name="Poisonous">
                            <option value="有">有</option>
                            <option value="无">无</option>
                        </select>
                    </td>
                    <th><label class="control-label">帮厨信息</label></th>
                    <td class="has-warning">
                        <select type="select" class="selectpicker form-control" id="Helper" multiple data-live-search="true" data-live-search-placeholder="搜索"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">主要食品原料及来源</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="checkbox">
                            <div class="row">
                                <div class="col-sm-6" style="height:34px;">
                                    <label class="control-label" style="margin-top:7px;"> 家禽：</label>
                                    <div style="display:inline-block;position:relative;width:13%">
                                        <input type="radio" value="家禽(市场购买)" name="a_1" checked /><small style="position:absolute;top:3px;left:15px">市场购买</small>
                                    </div>
                                    <div style="display:inline-block;position:relative;width:13%">
                                        <input type="radio" value="家禽(自家喂养)" name="a_1" /><small style="position:absolute;top:3px;left:15px">自家喂养</small>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="height:34px;">
                                    <label class="control-label" style="margin-top:7px;"> 病/毒死畜禽肉：</label>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="病/毒死畜禽肉(有)" name="a_2" /><small style="position:absolute;top:3px;left:15px">有</small>
                                    </div>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="病/毒死畜禽肉(无)" name="a_2" checked /><small style="position:absolute;top:3px;left:15px">无</small>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="height:34px;">
                                    <label class="control-label" style="margin-top:7px;"> 蔬菜：</label>
                                    <div style="display:inline-block;position:relative;width:13%">
                                        <input type="radio" value="蔬菜(市场购买)" name="a_3" checked /><small style="position:absolute;top:3px;left:15px">市场购买</small>
                                    </div>
                                    <div style="display:inline-block;position:relative;width:13%">
                                        <input type="radio" value="蔬菜(自家种植)" name="a_3" /><small style="position:absolute;top:3px;left:15px">自家种植</small>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="height:34px;">
                                    <label class="control-label" style="margin-top:7px;"> 白酒：</label>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="白酒(散装)" name="a_4" /><small style="position:absolute;top:3px;left:15px">散装</small>
                                    </div>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="白酒(套装)" name="a_4" checked /><small style="position:absolute;top:3px;left:15px">套装</small>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="height:34px;">
                                    <label class="control-label" style="margin-top:7px;"> 检验合格证：</label>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="检验合格证(有)" name="a_5" checked /><small style="position:absolute;top:3px;left:15px">有</small>
                                    </div>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="检验合格证(无)" name="a_5" /><small style="position:absolute;top:3px;left:15px">无</small>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="height:34px;">
                                    <label class="control-label" style="margin-top:7px;"> 食用油：</label>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="食用油(散装)" name="a_6" checked /><small style="position:absolute;top:3px;left:15px">散装</small>
                                    </div>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="食用油(套装)" name="a_6" /><small style="position:absolute;top:3px;left:15px">套装</small>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="height:34px;">
                                    <label class="control-label" style="margin-top:7px;"> 饮品：</label>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="饮品(外购)" name="a_7" checked /><small style="position:absolute;top:3px;left:15px">外购</small>
                                    </div>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="饮品(自制)" name="a_7" /><small style="position:absolute;top:3px;left:15px">自制</small>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="height:34px;">
                                    <label class="control-label" style="margin-top:7px;"> 海产品：</label>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="海产品(有)" name="a_8" checked /><small style="position:absolute;top:3px;left:15px">有</small>
                                    </div>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="海产品(无)" name="a_8" /><small style="position:absolute;top:3px;left:15px">无</small>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="height:34px;">
                                    <label class="control-label" style="margin-top:7px;"> 凉菜：</label>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="凉菜(有)" name="a_9" checked /><small style="position:absolute;top:3px;left:15px">有</small>
                                    </div>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="凉菜(无)" name="a_9" /><small style="position:absolute;top:3px;left:15px">无</small>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="height:34px;">
                                    <label class="control-label" style="margin-top:7px;"> 发芽土豆：</label>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="发芽土豆(有)" name="a_10" /><small style="position:absolute;top:3px;left:15px">有</small>
                                    </div>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="发芽土豆(无)" name="a_10" checked /><small style="position:absolute;top:3px;left:15px">无</small>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="height:34px;">
                                    <label class="control-label" style="margin-top:7px;"> 野生菌：</label>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="野生菌(有)" name="a_11" /><small style="position:absolute;top:3px;left:15px">有</small>
                                    </div>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="野生菌(无)" name="a_11" checked /><small style="position:absolute;top:3px;left:15px">无</small>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="height:34px;">
                                    <label class="control-label" style="margin-top:7px;"> 近期自种蔬菜是否施药：</label>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="近期自种蔬菜是否施药(有)" name="a_12" /><small style="position:absolute;top:3px;left:15px">有</small>
                                    </div>
                                    <div style="display:inline-block;position:relative;width:10%">
                                        <input type="radio" value="近期自种蔬菜是否施药(无)" name="a_12" checked /><small style="position:absolute;top:3px;left:15px">无</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">卫生设施</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="checkbox">
                            <div class="row">
                                <div class="col-sm-6" style="height:34px;">
                                    <label class="control-label" style="margin-top:7px;">
                                        <input type="checkbox" value="保洁柜" /><small>保洁柜</small>
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group" style="display:none">
                                        <span class="input-group-addon btn btn-default">-</span>
                                        <input type="number" class="form-control" min="0" readonly>
                                        <span class="input-group-addon btn btn-default">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox">
                            <div class="row">
                                <div class="col-sm-6" style="height:34px;">
                                    <label class="control-label" style="margin-top:7px;">
                                        <input type="checkbox" value="冰箱" />冰箱
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group" style="display:none">
                                        <span class="input-group-addon btn btn-default">-</span>
                                        <input type="number" class="form-control" min="0" readonly>
                                        <span class="input-group-addon btn btn-default">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox">
                            <div class="row">
                                <div class="col-sm-6" style="height:34px;">
                                    <label class="control-label" style="margin-top:7px;">
                                        <input type="checkbox" value="消毒柜" />消毒柜
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group" style="display:none">
                                        <span class="input-group-addon btn btn-default">-</span>
                                        <input type="number" class="form-control" min="0" readonly>
                                        <span class="input-group-addon btn btn-default">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox">
                            <div class="row">
                                <div class="col-sm-6" style="height:34px;">
                                    <label class="control-label" style="margin-top:7px;">
                                        <input type="checkbox" value="食品留样" />食品留样
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group" style="display:none">
                                        <span class="input-group-addon btn btn-default">-</span>
                                        <input type="number" class="form-control" min="0" readonly>
                                        <span class="input-group-addon btn btn-default">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox">
                            <div class="row">
                                <div class="col-sm-6" style="height:34px;">
                                    <label class="control-label" style="margin-top:7px;">
                                        <input type="checkbox" value="垃圾桶/防鼠/防蝇/防尘设施" />垃圾桶/防鼠/防蝇/防尘设施
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group" style="display:none">
                                        <span class="input-group-addon btn btn-default">-</span>
                                        <input type="number" class="form-control" min="0" readonly>
                                        <span class="input-group-addon btn btn-default">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox">
                            <div class="row">
                                <div class="col-sm-6" style="height:34px;">
                                    <label class="control-label" style="margin-top:7px;">
                                        <input type="checkbox" value="洗菜/洗肉/洗鱼池" />洗菜/洗肉/洗鱼池
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group" style="display:none">
                                        <span class="input-group-addon btn btn-default">-</span>
                                        <input type="number" class="form-control" min="0" readonly>
                                        <span class="input-group-addon btn btn-default">+</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">食材信息</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" class="selectpicker form-control" id="Ingredients" multiple data-live-search="true" data-live-search-placeholder="搜索"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">所属区域</label></th>
                    <td colspan="3">
                        <table style="width:100%">
                            <tr>
                                <td class="has-warning" style="width:25%">
                                    <select type="select" class="form-control" name="Province" id="province">
                                        <option>=请选择=</option>
                                    </select>
                                </td>
                                <td class="has-warning" style="width:25%">
                                    <select type="select" class="form-control" name="City" id="city">
                                        <option>=请选择=</option>
                                    </select>
                                </td>
                                <td class="has-warning" style="width:25%">
                                    <select type="select" class="form-control" name="Area" id="area">
                                        <option>=请选择=</option>
                                    </select>
                                </td>
                                <td class="has-warning" style="width:25%">
                                    <select type="select" class="form-control" name="Town" id="town">
                                        <option>=请选择=</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">菜谱</label></th>
                    <td class="has-warning" colspan="3">
                        <textarea name="CookBook" class="form-control" rows="3" maxlength="350"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>