
@{
    ViewData["Title"] = "企业详细";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{ }
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //取详情
                controller.ajax({
                    url: "GovtWeb/GetCompanyDetail",
                    data: { Id: controller.GetParam("Id") },
                    async: false,
                    type: "post",
                    success: function (result) {
                        //controller.SetCtrlValue("#Edit", result.data);
                        controller.SetLableValue("#Edit", result.data);
                        options.BindHonor(result.data.HonorCertification);
                        options.BindProduct(result.data.MainPro);
                        options.BindCompanyApply(result.data.Id);
                        options.BindCompanySell(result.data.Id);
                        //加载视频
                        $.each(result.data.Video, function (i, obj) {
                            var url = "../../StaticHtml/PlayVedio.html?addr="+obj;
                            $($(".ibox-content").find("iframe")[i]).attr("src", url);
                        });
                    }
                });
                //查看大图
                $("#tab-2,#tab-3").find("img").on('click', function () {
                    var option = {
                        title: "相关证书",
                        data: [{
                            alt: "相关证书",
                            src: $(this).attr("src")
                        }]
                    };
                    controller.Photos(option);
                });
            },
            //主要产品
            BindProduct: function (data) {
                if (data == undefined || data == null) return;
                //主要产品
                if (data.indexOf("/") > -1) {
                    $.each(data.split(","), function (i, item) {
                       
                            $("#CompanyProduct").append('<a class="fancybox" src="http://system.cfda.vip'+item+'" title="图片1"><img alt="image" src="http://system.cfda.vip'+item+'"></a>');
                    });
                }
            },
            //绑定荣誉证书
            BindHonor: function (data) {                
                if (data != null) {
                    var html = '';
                    $.each(data, function (i, obj) {
                        html += '<img src="' + obj + '" class="img-preview-sm" title="点击放大"/>';
                    });
                    $("#tab-3").find(".ibox-content").html(html);
                    if (data.length > 4)
                        $("#tab-3").find(".ibox-content").find("img").css({ width: "184px", padding: "1px" });
                    else
                        $("#tab-3").find(".ibox-content").find("img").css({ width: "186px", padding: "1px" });
                }
            },
            //绑定供应商
            BindCompanyApply: function (data) {
                 //取详情
                controller.ajax({
                    url: "Temp/GetAllSupply",
                    data: { Id: data,Parameter:10 },
                    async: false,
                    type: "get",
                    success: function (res) {
                         $.each(res.data, function (i, item) {
                            if (item.CompanyCode == null) item.CompanyCode = "-";
                            if (item.CompanyName == null) item.CompanyName = "-";
                            if (item.CompanyTel == null) item.CompanyTel = "-";
                            if (item.CompanyFace == null) item.CompanyFace = "-";
                            else item.CompanyFace = "<img src='http://system.cfda.vip" + item.CompanyFace + "'style='max-width:100%;height:56px;'/>";
                            $("#CompanyApply").append("<tr><td>" + item.CompanyName + "</td><td>" + "-" + "</td><td>" + item.CompanyUser + "</td><td>" + item.CompanyTel + "</td><td>" + item.CompanyFace + "</td></tr>")
                        });
                    }
                });
            },
            //绑定分销商
            BindCompanySell: function (data) {
                 //取详情
                controller.ajax({
                    url: "Temp/GetAllSupply",
                    data: { Id: data,Parameter:20 },
                    async: false,
                    type: "get",
                    success: function (res) {
                        $.each(res.data, function (i, item) {
                            if (item.CompanyCode == null) item.CompanyCode = "-";
                            if (item.CompanyName == null) item.CompanyName = "-";
                            if (item.CompanyTel == null) item.CompanyTel = "-";
                            if (item.CompanyFace == null) item.CompanyFace = "-";
                            else item.CompanyFace = "<img src='http://system.cfda.vip" + item.CompanyFace + "'style='max-width:100%;height:56px;'/>";
                            $("#CompanySell").append("<tr><td>" + item.CompanyName + "</td><td>" + "-" + "</td><td>" + item.CompanyUser + "</td><td>" + item.CompanyTel + "</td><td>" + item.CompanyFace + "</td></tr>")
                        });
                    }
                });
            },
            //事件
            InitEvents: function () {
                $("#four").click(function () {
                    $("#tab-4").find("iframe").contents().find(".vcp-player").each(function () {
                        $(this).attr("style", "width:456px;");
                    });
                });
            },
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });

    </script>
}
<form class="form-horizontal" method="post" id="Edit">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#tab-1" aria-expanded="true"> 基本信息</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-2" aria-expanded="false">营业执照</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-3" aria-expanded="false">荣誉证书</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-4" aria-expanded="false" id="four">视频监控</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-5" aria-expanded="false" id="five">供应商</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-6" aria-expanded="false" id="six">分销商</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-7" aria-expanded="false" id="senven">主要产品</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-8" aria-expanded="false" id="eight">进销台账</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <table class="table table-hover table-bordered m-t-sm">
                    <colgroup>
                        <col width="120" align="center" />
                        <col width="40%" />
                        <col width="120" />
                    </colgroup>
                    <tr>
                        <th style="text-align:center"><label class="control-label">企业名称</label></th>
                        <td class="has-warning">
                            <label type="txt" name="CompanyName"></label>
                        </td>
                        <th style="text-align:center"><label class="control-label">所属行业</label></th>
                        <td class="has-warning">
                            <label type="txt" name="CompanyTypeName"></label>
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align:center"><label class="control-label">企业性质</label></th>
                        <td class="has-warning">
                            <label type="txt" name="NatureName"></label>
                        </td>
                        <th style="text-align:center"><label class="control-label">信用代码</label></th>
                        <td class="has-warning">
                            <label type="txt" name="CommunityCode"></label>
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align:center"><label class="control-label">企业电话</label></th>
                        <td class="has-warning">
                            <label type="txt" name="CompanyPhone"></label>
                        </td>
                        <th style="text-align:center"><label class="control-label">企业地址</label></th>
                        <td class="has-warning">
                            <label type="txt" name="CompanyAddress"></label>
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align:center"><label class="control-label">工商地址</label></th>
                        <td class="has-warning">
                            <label type="txt" name="SellerAddress"></label>
                        </td>
                        <th style="text-align:center"><label class="control-label">生产地址</label></th>
                        <td class="has-warning">
                            <label type="txt" name="ProductionAddress"></label>
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align:center"><label class="control-label">视频地址</label></th>
                        <td class="has-warning">
                            <label type="txt" name="VideoAddress"></label>
                        </td>
                        <th style="text-align:center"><label class="control-label">网站地址</label></th>
                        <td class="has-warning">
                            <label type="txt" name="NetAddress"></label>
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align:center"><label class="control-label">经营范围</label></th>
                        <td class="has-warning" colspan="3">
                            <label type="txt" name="Scope"></label>
                        </td>
                    </tr>
                    <tr>
                        <th style="text-align:center"><label class="control-label">企业介绍</label></th>
                        <td class="has-warning" colspan="3">
                            <label type="txt" name="Discription" style="font-weight:normal;font-size:15px;"></label>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="ibox-content">
                    <label type="img" name="Certification"></label>
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="ibox-content article">
                </div>
            </div>
            <div id="tab-4" class="tab-pane">
                <div class="ibox-content">
                    <iframe class="J_iframe" src="" name="iframe" style="width:472px;height:400px" frameborder="0" seamless scrolling="no" align="middle"></iframe>
                    <iframe class="J_iframe" src="" name="iframe" style="width:472px;height:400px" frameborder="0" seamless scrolling="no" align="middle"></iframe>
                    <iframe class="J_iframe" src="" name="iframe" style="width:472px;height:400px" frameborder="0" seamless scrolling="no" align="middle"></iframe>
                    <iframe class="J_iframe" src="" name="iframe" style="width:472px;height:400px" frameborder="0" seamless scrolling="no" align="middle"></iframe>
                </div>
            </div>
            <div id="tab-5" class="tab-pane">
                <div class="ibox-content table-responsive">
                    <table class="table">
                        <tr>
                            <th>供应商名称</th>
                            <th>社会信用代码</th>
                            <th>负责人</th>
                            <th>联系方式</th>
                            <th>营业资质</th>
                        </tr>
                        <tbody id="CompanyApply">
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="tab-6" class="tab-pane">
                <div class="ibox-content">
                    <table class="table">
                        <tr>
                            <th>分销商名称</th>
                            <th>社会信用代码</th>
                            <th>负责人</th>
                            <th>联系方式</th>
                            <th>营业资质</th>
                        </tr>
                        <tbody id="CompanySell">
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="tab-7" class="tab-pane">
                <div class="ibox-content" id="CompanyProduct">
                </div>
            </div>
            <div id="tab-8" class="tab-pane">
                <div class="ibox-content" id="CompanyBook">
                </div>
            </div>
        </div>
    </div>
</form>