@{
    ViewData["Title"] = "分布图";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
    <style>
        .ibox {
            width: 100%;
            height: 100%;
            border: #ccc solid 1px;
            margin: auto auto
        }

        .search_com {
            line-height: 35px;
            z-index: 100;
            background: #fff;
            position: absolute;
            top: 0;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            left: 0;
            width: 10%;
            border: 1px solid #ddd
        }

        * {
            margin: 0;
            padding: 0;
            outline: 0
        }

        li, ul {
            list-style: none
        }

        .right-tab {
            width: 410px;
            height: inherit;
            position: fixed;
            top: 0;
            background-color: #fff;
            right: 0;
            box-shadow: 0 0 2px 2px rgba(0,0,0,.3);
            box-sizing: border-box;
            padding: 15px
        }

        .left-btn {
            position: absolute;
            background-color: #fff;
            left: -17px;
            top: 50%;
            width: 16px;
            height: 56px;
            text-align: center;
            line-height: 56px;
            margin-top: -28px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 3px 0 0 3px;
            font-family: '黑体';
            box-shadow: #999 -2px -2px 4px;
            border: 1px solid #dbdbdb;
            border-right: none;
            color: #999
        }

        form {
            width: 380px;
            display: flex;
            justify-content: flex-start
        }

            form input[type=text] {
                width: 290px;
                border: 1px solid #2ca8d1;
                border-radius: 4px 0 0 4px;
                line-height: 32px;
                text-indent: .5em
            }

            form input[type=button] {
                width: 90px;
                border: none;
                background-color: #2ca8d1;
                border-radius: 0 4px 4px 0;
                line-height: 32px;
                font-size: 16px;
                color: #fff
            }

        .list {
            position: relative;
            width: 380px;
            height: 92%;
            padding: 10px;
            border: 1px solid #dbdbdb;
            box-sizing: border-box;
            margin-top: 15px;
            border-radius: 4px
        }

            .list .msg {
                background-color: #ececec;
                padding: 6px;
                margin-bottom: 10px;
                height: 42px;
                width: 100%;
                display: flex;
                justify-content: space-between
            }

                .list .msg img {
                    width: 30px;
                    height: 30px
                }

                .list .msg #Area {
                    width: 100%;
                    font-size: 18px;
                    line-height: 30px;
                    text-align: left
                }

                    .list .msg #Area ~ div {
                        width: 280px;
                        text-align: right;
                        font-size: 14px;
                        color: #666
                    }

                        .list .msg #Area ~ div span {
                            color: #f20;
                            font-size: 18px
                        }

            .list ul {
                height: 92%;
                overflow-y: scroll
            }

                .list ul li {
                    width: 96%;
                    padding: 15px 0;
                    border-bottom: 1px solid #dbdbdb;
                    display: flex;
                    justify-content: space-between
                }

                    .list ul li img {
                        width: 120px;
                        height: 90px
                    }

                    .list ul li div {
                        width: 210px
                    }

                        .list ul li div h4 {
                            font-size: 18px;
                            line-height: 20px;
                            margin-bottom: 10px;
                            font-weight: 400;
                            margin-top: 0;
                            color: #333;
                            width: 100%;
                            text-overflow: ellipsis;
                            -o-text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }

                        .list ul li div p {
                            font-size: 14px;
                            line-height: 20px;
                            color: #666;
                            margin: auto auto
                        }
    </style>
}
@section script{
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=3ce7ddfda60046708248ea55e10b1435"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/AreaRestriction/1.2/src/AreaRestriction_min.js"></script>
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitAddr();
                this.InitEvents();
                this.InitDoms();
            },
            InitAddr: function () {
                if (GovtInfo.IsEdu) {
                    $(".y").each(function (index, item) {
                        $(item).removeClass("hidden").addClass("show");
                    });
                    $(".x").each(function (index, item) {
                        $(item).removeClass("show").addClass("hidden");
                    });
                }
                controller.ajax({
                    url: "GovtWeb/GetCityName",
                    data: { Id: GovtInfo.City },
                    async: false,
                    type: "post",
                    success: function (result) {
                        options.CityName = result.data;
                        $("#Area").html(options.CityName);

                    }
                });
                $.ajax({
                    url: "http://api.map.baidu.com/geocoder/v2/?address=" + options.CityName + "&output=json&ak=3ce7ddfda60046708248ea55e10b1435",
                    type: "get",
                    async: false,
                    dataType: "jsonp",
                    success: function (result) {
                        options.InitDom(result.result.location.lng, result.result.location.lat);
                    }
                });
            },
            //元素
            InitDom: function (Lng, Lat) {
                options.Map = new BMap.Map("Map");//在百度地图容器中创建一个地图
                options.Map.centerAndZoom(new BMap.Point(Lng, Lat), 11);//设定地图的中心点和坐标并将地图显示在地图容器中
                options.Map.enableScrollWheelZoom();//启用地图滚轮放大缩小
                addDistrict(options.CityName, options.Map)//添加行政区域
                controller.ajax({
                    url: "GovtWeb/GetDistributArea",
                    data: {},
                    async: false,
                    type: "post",
                    success: function (result) {
                        $.each(result.data, function (i, obj) {
                            var imgLoction = "http://system.cfda.vip/content/HPlus/img/keysor.png";
                            if (obj.CompanyType == "种植企业" || obj.CompanyType == "养殖企业") {
                                imgLoction = "http://system.cfda.vip/content/HPlus/img/blue.png";
                            }
                            if (obj.CompanyType == "生产企业") {
                                imgLoction = "http://system.cfda.vip/content/HPlus/img/green.png";
                            }
                            if (obj.CompanyType == "流通企业") {
                                imgLoction = "http://system.cfda.vip/content/HPlus/img/lightblue.png";
                            }
                            if (obj.CompanyType == "餐饮企业") {
                                imgLoction = "http://system.cfda.vip/content/HPlus/img/red.png";
                            }
                            if (obj.CompanyType == "单位食堂") {
                                imgLoction = "http://system.cfda.vip/content/HPlus/img/yellow.png";
                            }
                            var myIcon = new BMap.Icon(imgLoction, new BMap.Size(26, 33));
                            options.marker = new BMap.Marker(new BMap.Point(obj.Lng, obj.Lat), { icon: myIcon });
                            options.marker.setTitle(obj.CompanyType);
                            options.Map.addOverlay(options.marker); // 将标注添加到地图中
                            if (obj.CompanyImg == null) obj.CompanyImg = "http://system.cfda.vip/content/HPlus/img/Nopic.jpg";
                            options.AddClickHandler(obj.Id, obj.Name, obj.Address, obj.CompanyCode, obj.CompanyType, obj.CompanyImg);
                            if (obj.CompanyUser == null) {
                                obj.CompanyUser = "-";
                            }
                            var CompanyHtml = '<li>'
                                + '<img src="' + obj.CompanyImg + '">'
                                + '<div>'
                                + '<h4>' + obj.Name + '</h4>'
                                + '<p>负责人：<span>' + obj.CompanyUser + '</span></p>'
                                + '<p>社会统一代码：<span>' + obj.CompanyCode + '</span></p>'
                                + '<p>联系地址：<span>' + obj.Address + '</span></p>'
                                + '</div>'
                                + '</li>';
                            //加载列表
                            $("#CompanyList").append(CompanyHtml);
                        });
                        $("#Num").html(result.data.length);

                    }
                });
            },
            AddClickHandler: function (id, name, path, code, type, img) {
                options.marker.addEventListener("click", function (e) {
                    var InfoWin = '<table class="table table-bordered" style="width:596px;">' +
                        '<tr><th>商家名称</th> <td><a href="javascript:Detail(' + id + ',\"' + name + '\",\"' + type + '\");" style="color:#333">' + name + '</a></td><td rowspan="4" style="width:196px;"><img src="' + img + '" style="height:156px;max-width:196px;"/></td></tr>' +
                        '<tr><th>商家类型</th><td>' + type + '</td></tr>' +
                        '<tr><th>工商代码</th><td>' + code + '</td></tr>' +
                        '<tr><th>商家地址</th><td>' + path + '</td></tr></table>'
                    var p = e.target;
                    var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
                    var infoWindow = new BMap.InfoWindow(InfoWin);  // 创建信息窗口对象
                    options.Map.openInfoWindow(infoWindow, point); //开启信息窗口
                });
            },
            Detail: function (id, name, type) {
                if (type == "餐饮企业") {
                    //追加抽查次数
                    controller.ajax({
                        url: "GovtWeb/EditPatrol",
                        data: { CompanyId: id, TradeType: type, CompanyName: name, TypePath: GovtInfo.TypePath },
                        async: false,
                        type: "post",
                        success: function (result) { }
                    });
                    controller.OpenWindow({
                        title: row.MerchantName,
                        type: 2,
                        height: "90%",
                        width: "80%",
                        url: "WebGovtManage/Enterprise/RepastSuperviseDetail?Id=" + id,
                        callBack: function (result) {
                            result.$("#Edit").submit();
                        }
                    })
                }
            },
            //事件
            InitEvents: function () {
                $("select").change(function () {
                    var allOverlays = options.Map.getOverlays();
                    for (var i = 0; i < allOverlays.length - 1; i++) {
                        if ($(this).find("option:selected").val() !== "全部") {
                            if (allOverlays[i].getTitle() !== $(this).find("option:selected").val())
                                allOverlays[i].hide();
                            else
                                allOverlays[i].show();
                        } else
                            allOverlays[i].show();
                    }
                });
                //搜索
                $("#search").click(function () {

                });

            },
            //右侧停靠栏js
            InitDoms: function () {
                //设置右侧停靠栏高度
                $(".list").attr("style", "height:" + ($(document).height() - 60) + "px");
                //给左侧按钮注册点击事件，点击时隐藏或显示右侧停靠栏盒子
                let flag = true;
                $(".left-btn").on('click', function () {
                    if (flag == true) {
                        flag = false;
                        $('.right-tab').css({
                            right: -410 + 'px',
                            transition: 'right 1s'
                        });
                        $(this).text("<");
                    } else {
                        flag = true;
                        $('.right-tab').css({
                            right: 0,
                            transition: 'right 1s'
                        });
                        $(this).text(">");
                    }
                });
            }
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
        //提示：下面的代码用jquery，如果有不能运行的情况请引用后尝试
        //百度地图api container对应前端div名称 前端要引用2.0版本的百度地图api
        //需引用api.map.baidu.com/library/AreaRestriction/1.2/src/AreaRestriction_min.js
        var blist = [];
        var districtLoading = 0;

        /**
         * 添加行政区划
         *  districtName 行政区划名
         * returns  无返回值
         */
        function addDistrict(districtName, map) {
            //使用计数器来控制加载过程
            districtLoading++;
            var bdary = new BMap.Boundary();
            bdary.get(districtName, function (rs) {       //获取行政区域
                var count = rs.boundaries.length; //行政区域的点有多少个
                if (count === 0) {
                    alert('未能获取当前输入行政区域');
                    return;
                }
                for (var i = 0; i < count; i++) {
                    blist.push({ points: rs.boundaries[i], name: districtName });
                };
                //加载完成区域点后计数器-1
                districtLoading--;
                if (districtLoading == 0) {
                    //全加载完成后画端点
                    drawBoundary(map);
                }
            });
        }


        /**
         * 各种鼠标事件绑定
         */
        function click(evt) {
            alert(evt.target.name);
        }

        function mouseover(evt) {
            evt.target.label.setZIndex(99);
            evt.target.label.setPosition(evt.point);
            evt.target.label.show();
        }

        function mousemove(evt) {
            evt.target.label.setPosition(evt.point);
        }

        function mouseout(evt) {
            evt.target.label.hide();
        }

        function drawBoundary(map) {
            //包含所有区域的点数组
            var pointArray = [];

            /*画遮蔽层的相关方法
            *思路: 首先在中国地图最外画一圈，圈住理论上所有的中国领土，然后再将每个闭合区域合并进来，并全部连到西北角。
            *      这样就做出了一个经过多次西北角的闭合多边形*/
            //定义中国东南西北端点，作为第一层
            var pNW = { lat: 59.0, lng: 73.0 }
            var pNE = { lat: 59.0, lng: 136.0 }
            var pSE = { lat: 3.0, lng: 136.0 }
            var pSW = { lat: 3.0, lng: 73.0 }
            //向数组中添加一次闭合多边形，并将西北角再加一次作为之后画闭合区域的起点
            var pArray = [];
            pArray.push(pNW);
            pArray.push(pSW);
            pArray.push(pSE);
            pArray.push(pNE);
            pArray.push(pNW);
            //循环添加各闭合区域
            for (var i = 0; i < blist.length; i++) {
                //添加显示用标签层
                var label = new BMap.Label(blist[i].name, { offset: new BMap.Size(20, -10) });
                label.hide();
                map.addOverlay(label);

                //添加多边形层并显示
                var ply = new BMap.Polygon(blist[i].points, { strokeWeight: 2, strokeColor: "#FF0000", fillOpacity: 0.01, fillColor: " #FFFFFF" }); //建立多边形覆盖物
                ply.name = blist[i].name;
                ply.label = label;
                map.addOverlay(ply);

                //将点增加到视野范围内
                var path = ply.getPath();
                pointArray = pointArray.concat(path);
                //将闭合区域加到遮蔽层上，每次添加完后要再加一次西北角作为下次添加的起点和最后一次的终点
                pArray = pArray.concat(path);
                pArray.push(pArray[0]);
            }

            //限定显示区域，需要引用api库
            var boundply = new BMap.Polygon(pointArray);
            BMapLib.AreaRestriction.setBounds(map, boundply.getBounds());
            map.setViewport(pointArray);    //调整视野

            //添加遮蔽层
            var plyall = new BMap.Polygon(pArray, { strokeOpacity: 0.0000001, strokeColor: "#000000", strokeWeight: 0.00001, fillColor: "#000000", fillOpacity: 0.4 }); //建立多边形覆盖物
            map.addOverlay(plyall);
        }
    </script>
}
<div class="search_com">
    <select class="form-control" name="CompanyType">
        <option value="全部">全部</option>
        <option value="种植企业" class="show x">种植企业</option>
        <option value="养殖企业" class="show x">养殖企业</option>
        <option value="生产企业" class="show x">生产企业</option>
        <option value="流通企业" class="show x">流通企业</option>
        <option value="其他企业" class="show x">其他企业</option>
        <option value="餐饮企业" class="show x">餐饮企业</option>
        <option value="单位食堂" class="show x">单位食堂</option>
        <option value="小经营店" class="show x">小经营店</option>
        <option value="小作坊" class="show x">小作坊</option>
        <option value="小摊贩" class="show x">小摊贩</option>
        <option value="学前教育" class="hidden y">学前教育</option>
        <option value="义务教育" class="hidden y">义务教育</option>
        <option value="高中教育" class="hidden y">高中教育</option>
        <option value="高等教育" class="hidden y">高等教育</option>
        <option value="职业教育" class="hidden y">职业教育</option>
    </select>
</div>

<div class="ibox" id="Map"></div>


<!-- 右侧停靠栏 -->
<div class="right-tab">
    <div class="left-btn">></div>
    <form action="" method="post">
        <input type="text" name="" placeholder="请输入关键词（查询区域）">
        <input type="button" id="search" value="查找">
    </form>
    <div class="list">
        <div class="msg">
            <img src="/content/Hplus/img/map.png">
            <div id="Area"></div>
            <div>该地区共有&nbsp;<span id="Num">0</span>&nbsp;家企业</div>
        </div>
        <ul id="CompanyList"></ul>
    </div>
</div>