
@{
    ViewData["Title"] = "企业详细";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{ }
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //取详情
                controller.ajax({
                    url: "GovtWeb/GetRepastDetail",
                    data: { Id: controller.GetParam("Id") },
                    async: false,
                    type: "post",
                    success: function (result) {
                        //controller.SetCtrlValue("#Edit", result.data);
                        controller.SetLableValue("#Edit", result.data);
                        options.BindHonor(result.data.HonorCertification);
                       $.each(result.data.Video, function (i,obj) {
                             var url = "/StaticHtml/PlayVedio.html?addr=" + obj.VideoAddress+"&cover="+obj.CoverPhoto;
                           $(".J_iframe").eq(i).attr("src", url);

                        })         
                    }
                });
                //查看大图
                $("#tab-2,#tab-3").find("img").on('click', function () {
                    var option = {
                        title: "相关证书",
                        data: [{
                            alt: "相关证书",
                            src: $(this).attr("src")
                        }]
                    };
                    controller.Photos(option);
                });
            },
            //绑定荣誉证书
            BindHonor: function (data) {
                if (data != null) {
                    var html = '';
                    $.each(data, function (i, obj) {
                        html += '<img src="' + obj + '" class="img-preview-sm" title="点击放大"/>';
                    });
                    $("#tab-3").find(".ibox-content").html(html);
                    if (data.length > 4)
                        $("#tab-3").find(".ibox-content").find("img").css({ width: "184px", padding: "1px" });
                    else
                        $("#tab-3").find(".ibox-content").find("img").css({ width: "186px", padding: "1px" });
                }
            },
            //事件
            InitEvents: function () {
                $("#four").click(function () {
                    $("#tab-4").find("iframe").contents().find(".vcp-player").each(function () {
                        $(this).attr("style", "width:456px;");
                    });
                });
            },
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });

    </script>
}
<form class="form-horizontal" method="post" id="Edit">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#tab-1" aria-expanded="true"> 基本信息</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-2" aria-expanded="false">营业执照</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-3" aria-expanded="false">荣誉证书</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-4" aria-expanded="false" id="four">视频监控</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-5" aria-expanded="false">人员管理</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-6" aria-expanded="false">食材供应</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-7" aria-expanded="false">主营菜品</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-8" aria-expanded="false">废物处理</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-9" aria-expanded="false">留样管理</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-10" aria-expanded="false">抽检信息</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <table class="table table-hover table-bordered m-t-sm">
                    <colgroup>
                        <col width="120" />
                        <col width="40%" />
                        <col width="120" />
                        <col />
                    </colgroup>
                    <tr>
                        <th><label class="control-label">企业名称</label></th>
                        <td class="has-warning">
                            <label type="txt" name="MerchantName"></label>
                        </td>
                        <th><label class="control-label">所属行业</label></th>
                        <td class="has-warning">
                            <label type="txt" name="DiningTypeName"></label>
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">企业邮箱</label></th>
                        <td class="has-warning">
                            <label type="txt" name="Email"></label>
                        </td>
                        <th><label class="control-label">信用代码</label></th>
                        <td class="has-warning">
                            <label type="txt" name="CommunityCode"></label>
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">企业电话</label></th>
                        <td class="has-warning">
                            <label type="txt" name="Phone"></label>
                        </td>
                        <th><label class="control-label">法人代表</label></th>
                        <td class="has-warning">
                            <label type="txt" name="ImplUser"></label>
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">企业地址</label></th>
                        <td class="has-warning" colspan="3">
                            <label type="txt" name="Address"></label>
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">企业介绍</label></th>
                        <td class="has-warning" colspan="3">
                            <label type="txt" name="Remark"></label>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="ibox-content">
                    <img class="img-preview" src="" type="image" name="Certification" style="display:block;margin:auto" title="点击放大" />
                </div>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="ibox-content">
                </div>
            </div>
            <div id="tab-4" class="tab-pane">
                <div class="ibox-content">
                    <table style="width:1060px">
                        <tr>
                            <td style="text-align:center;"><iframe id="play" class="J_iframe" src="" name="iframe" style="width:87%;height:400px;margin:auto auto;" frameborder="0" seamless scrolling="no" align="middle"></iframe></td>
                            <td style="text-align:center;"><iframe id="play" class="J_iframe" src="" name="iframe" style="width:87%;height:400px;margin:auto auto;" frameborder="0" seamless scrolling="no" align="middle"></iframe></td>
                        </tr>
                        <tr>
                            <td style="text-align:center;"><iframe id="play" class="J_iframe" src="" name="iframe" style="width:87%;height:400px;margin:auto auto;" frameborder="0" seamless scrolling="no" align="middle"></iframe></td>
                            <td style="text-align:center;"><iframe id="play" class="J_iframe" src="" name="iframe" style="width:87%;height:400px;margin:auto auto;" frameborder="0" seamless scrolling="no" align="middle"></iframe></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="tab-5" class="tab-pane">
                <div class="ibox-content">
                </div>
            </div>
            <div id="tab-6" class="tab-pane">
                <div class="ibox-content">
                </div>
            </div>
            <div id="tab-7" class="tab-pane">
                <div class="ibox-content">
                </div>
            </div>
            <div id="tab-8" class="tab-pane">
                <div class="ibox-content">
                </div>
            </div>
            <div id="tab-9" class="tab-pane">
                <div class="ibox-content">
                </div>
            </div>
            <div id="tab-10" class="tab-pane">
                <div class="ibox-content">
                </div>
            </div>
        </div>
    </div>
</form>