
@{
    ViewData["Title"] = "资料编辑";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {

                controller.LayDate({ elem: "input[name='CardExpiredDate']" });
                options.GetProvince();
                options.GetCityByProvince();
                options.GetAreaByCity();
                options.GetTownByArea();
                options.GetCompanyInfo();
                options.UploadFiles();
            },
            //获取企业信息
            GetCompanyInfo: function () {
                controller.ajax({
                    url: "RepastWeb/GetMerchantDetail",
                    data: { Id: RepastUser.Id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        controller.SetCtrlValue("#Edit", result.data);
                        options.SetCity();
                        controller.SetCtrlValue("#Edit", result.data);
                        options.SetArea();
                        controller.SetCtrlValue("#Edit", result.data);
                        options.SetTown();
                        controller.SetCtrlValue("#Edit", result.data);
                    }
                });
            },
            //获取省份
            GetProvince: function () {
                controller.ajax({
                    url: "System/GetProvince",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option value="undefined">=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.ProvinceId + '">' + obj.ProvinceName + '</option>';
                        });
                        $("#province").html(html);
                    }
                });
            },
            //选中省份后获取城市
            GetCityByProvince: function () {
                $("#province").change(function () {
                    controller.ajax({
                        url: "System/GetCity",
                        data: { Id: $(this).find("option:selected").data().id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            var html = '<option>=请选择=</option>';
                            $.each(result.data, function (i, obj) {
                                html += '<option value="' + obj.Id + '" data-id="' + obj.CityId + '">' + obj.CityName + '</option>';
                            });
                            $("#city").html(html);
                        }
                    });
                });
            },
            //选中城市后获取区域
            GetAreaByCity: function () {
                $("#province").change(function () {
                    var html = '<option>=请选择=</option>';
                    $("#area").html(html);
                    $("#town").html(html);
                });
                $("#city").change(function () {
                    controller.ajax({
                        url: "System/GetArea",
                        data: { Id: $(this).find("option:selected").data().id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            var html = '<option>=请选择=</option>';
                            $.each(result.data, function (i, obj) {
                                html += '<option value="' + obj.Id + '" data-id="' + obj.AreaId + '">' + obj.AreaName + '</option>';
                            });
                            $("#area").html(html);
                        }
                    });
                });
            },
            //选中区域后获取乡镇
            GetTownByArea: function () {
                $("#city").change(function () {
                    var html = '<option>=请选择=</option>';
                    $("#town").html(html);
                });
                $("#area").change(function () {
                    controller.ajax({
                        url: "System/GetTown",
                        data: { Id: $(this).find("option:selected").data().id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            var html = '<option>=请选择=</option>';
                            $.each(result.data, function (i, obj) {
                                html += '<option value="' + obj.Id + '" data-id="' + obj.TownId + '">' + obj.TownName + '</option>';
                            });
                            $("#town").html(html);
                        }
                    });
                });
            },
            //取得详情后获取城市
            SetCity: function () {
                controller.ajax({
                    url: "System/GetCity",
                    data: { Id: $("#province").find("option:selected").data().id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.CityId + '">' + obj.CityName + '</option>';
                        });
                        $("#city").html(html);
                    }
                });
            },
            //取得详情后获取区域
            SetArea: function () {
                controller.ajax({
                    url: "System/GetArea",
                    data: { Id: $("#city").find("option:selected").data().id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.AreaId + '">' + obj.AreaName + '</option>';
                        });
                        $("#area").html(html);
                    }
                });
            },
            //取得详情后获取乡镇
            SetTown: function () {
                controller.ajax({
                    url: "System/GetTown",
                    data: { Id: $("#area").find("option:selected").data().id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.TownId + '">' + obj.TownName + '</option>';
                        });
                        $("#town").html(html);
                    }
                });
            },
            //设置文件值
            SetFileValue: function (data, elememt) {
                var files = $(elememt).val();
                if (files != null && files != "" && files != undefined) {
                    files += "," + data;
                    $(elememt).val(files);
                } else {
                    $(elememt).val(data);
                }
            },
            //文件上传
            UploadFiles: function () {
                //文件上传-执照
                controller.Upload({
                    url: "File/UploadImg",
                    element: "#upload-input-1",
                    maxNum: 1,
                    node: '#Img1',
                    success: function (result) {
                        controller.Alter(result.msg);
                        $("#Certification").val(result.data);
                    }
                });
                //文件上传-证书
                controller.Upload({
                    url: "File/UploadImg",
                    element: "#upload-input-2",
                    maxNum: 3,
                    node: '#Img2',
                    success: function (result) {
                        controller.Alter(result.msg);
                        options.SetFileValue(result.data, '#HonorCertification');
                    }
                });
                //文件上传-身份证
                controller.Upload({
                    url: "File/UploadImg",
                    element: "#upload-input-3",
                    maxNum: 2,
                    node: '#Img3',
                    success: function (result) {
                        controller.Alter(result.msg);
                        options.SetFileValue(result.data, '#IdCard');
                    }
                });
            },
            //事件
            InitEvents: function () {
                //坐标选区
                $("input[name='LngAndLat']").on('click', function () {
                    controller.OpenWindow({
                        title: "坐标选取",
                        type: 2,
                        height: "600px",
                        width: "800px",
                        url: "StaticHtml/BaiduMap.html",
                        callBack: function (result) {
                            $("input[name='LngAndLat']").val(result.$("#Edit").find("input[name='lng']").val() + "," + result.$("#Edit").find("input[name='lat']").val());
                            result.popClose();
                        }
                    })
                });
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="RepastWeb/EditMerchant" id="Edit">
            <input type="hidden" name="Id" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">商家名称</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="MerchantName" data-msg-required="请输入商家名称" readonly>
                    </td>
                    <th><label class="control-label">商家类型</label></th>
                    <td class="has-warning">
                        <select name="DiningType" class="form-control" type="select">
                            <option value="10">餐饮企业</option>
                            <option value="20">单位食堂</option>
                            <option value="30">小经营店</option>
                            <option value="40">小作坊</option>
                            <option value="50">小摊贩</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">商家账号</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="Account" data-msg-required="请输入商家账号">
                    </td>
                    <th><label class="control-label">经营地址</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="Address" data-msg-required="请输入经营地址">
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">工商代码</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="CommunityCode" data-msg-required="请输入工商代码">
                    </td>
                    <th><label class="control-label">企业电话</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="Phone" data-msg-required="请输入企业电话" placeholder="格式：028-12345678或者13012345678" readonly>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">商家邮箱</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required IsEmail" name="Email" data-msg-required="请输入商家邮箱">
                    </td>
                    <th><label class="control-label">登录密码</label></th>
                    <td class="has-warning">
                        <input type="password" class="form-control required" name="PassWord" data-msg-required="请输入登录密码">
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">法人代表</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="ImplUser">
                    </td>
                    <th><label class="control-label">所属单位</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="AllowUnit" placeholder="单位食堂必填">
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">所属区域</label></th>
                    <td colspan="3">
                        <table style="width:100%">
                            <tr>
                                <td class="has-warning" style="width:25%">
                                    <select type="select" class="form-control" name="Province" id="province">
                                        <option>=请选择=</option>
                                    </select>
                                </td>
                                <td class="has-warning" style="width:25%">
                                    <select type="select" class="form-control" name="City" id="city">
                                        <option>=请选择=</option>
                                    </select>
                                </td>
                                <td class="has-warning" style="width:25%">
                                    <select type="select" class="form-control" name="Area" id="area">
                                        <option>=请选择=</option>
                                    </select>
                                </td>
                                <td class="has-warning" style="width:25%">
                                    <select type="select" class="form-control" name="Town" id="town">
                                        <option>=请选择=</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">安全员</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="SafeOffer">
                    </td>
                    <th><label class="control-label">安全等级</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="OfferLv">
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">经度纬度</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="LngAndLat" placeholder="点击获取" readonly>
                    </td>
                    <th><label class="control-label">证件到期</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="CardExpiredDate">
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">商家介绍</label></th>
                    <td class="has-warning" colspan="3">
                        <textarea class="form-control" name="Remark" rows="4" maxlength="300"></textarea>
                    </td>
                </tr>
                <tr id="uploadCertification">
                    <th><label class="control-label">营业执照</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="image-box clear" id="Img1">
                            <section class="upload-section">
                                <div class="upload-btn"></div>
                                <input type="file" name="Files" id="upload-input-1" class="upload-input" value="" accept="image/*" multiple="multiple" />
                            </section>
                        </div>
                        <input type="hidden" id="Certification" name="Certification" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">荣誉证书</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="image-box clear" id="Img2">
                            <section class="upload-section">
                                <div class="upload-btn"></div>
                                <input type="file" name="Files" id="upload-input-2" class="upload-input" value="" accept="image/*" multiple="multiple" />
                            </section>
                        </div>
                        <input type="hidden" id="HonorCertification" name="HonorCertification" />
                    </td>
                </tr>
                <tr id="uploadIdCard">
                    <th><label class="control-label">身份证</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="image-box clear" id="Img3">
                            <section class="upload-section">
                                <div class="upload-btn"></div>
                                <input type="file" name="Files" id="upload-input-3" class="upload-input" value="" accept="image/*" multiple="multiple" />
                            </section>
                        </div>
                        <input type="hidden" id="IdCard" name="IdCard" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>