@{
    ViewData["Title"] = "企业自查模板";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                var Editor = controller.Editor(".summernote");
                var Id = controller.GetParam("Id");
                if (controller.CheckFeild(Id)) {
                    controller.ajax({
                        url: "GovtWeb/GetTemplateChildDetail",
                        data: { Id: Id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            controller.SetCtrlValue("#Edit", result.data);
                            Editor.summernote('code', result.data.TemplateContent);
                        }
                    });
                }
            },
            //事件
            InitEvents: function () {

            },
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal"  id="Edit">
            <table class="table table-hover table-bordered">
                <colgroup>
                    <col width="10%" />
                    <col width="40%" />
                    <col width="10%" />
                    <col width="40%" />
                </colgroup>
                <tr>
                    <th><label class="control-label">企业名称</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="CompanyName" readonly />
                    </td>
                    <th><label class="control-label">企业类型</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="CompanyType" readonly />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">模板名称</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="TemplateName" readonly />
                    </td>
                    <th><label class="control-label">自查人</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="CheckUser" readonly />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">自查结果</label></th>
                    <td class="has-warning" colspan="3">
                        <div name="TemplateContent" class="summernote"></div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>