
@{
    ViewData["Title"] = "企业自查模板";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                $("#GovtId").val(GovtInfo.Id);
                if (GovtInfo.AccountType == 20)//市级
                {
                    $("#TypePath").val(GovtInfo.City);
                }
                else {
                     $("#TypePath").val(GovtInfo.Area);
                }
                var Editor = controller.Editor(".summernote");
                var Id = controller.GetParam("Id");
                if (controller.CheckFeild(Id)) {
                    controller.ajax({
                        url: "GovtWeb/GetTemplateDetail",
                        data: { Id: Id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            controller.SetCtrlValue("#Edit", result.data);
                            Editor.summernote('code', result.data.TemplateContent);
                        }
                    });
                }
            },
            //事件
            InitEvents: function () {
                //验证
                controller.ValidateConfirm("#Edit");
            },
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="GovtWeb/EditGovtTemplate" id="Edit">
            <input type="hidden" name="Id" id="Id" />
            <input type="hidden" name="GovtId" id="GovtId" />
            <input type="hidden" name="TypePath" id="TypePath" />
            <input type="hidden" name="TemplateContent" />
            <table class="table table-hover table-bordered">
                <colgroup>
                    <col width="10%" />
                    <col width="40%" />
                    <col width="10%" />
                    <col width="40%" />
                </colgroup>
                <tr>
                    <th><label class="control-label">模板名称</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="TemplateName" />
                    </td>
                    <th><label class="control-label">企业类型</label></th>
                    <td class="has-warning">
                        <select type="select" name="CompanyType" class="form-control">
                            <option value="种植企业">种植企业</option>
                            <option value="养殖企业">养殖企业</option>
                            <option value="生产企业">生产企业</option>
                            <option value="流通企业">流通企业</option>
                            <option value="餐饮企业">餐饮企业</option>
                            <option value="单位食堂">单位食堂</option>
                            <option value="三小商家">三小商家</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">自查模板</label></th>
                    <td class="has-warning" colspan="3">
                        <div name="TemplateContent" class="summernote"></div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>