
@{
    ViewData["Title"] = "操作日志";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvent();
            },
            //元素
            InitDom: function () {
                //恢复高度
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        options.$table.bootstrapTable("resetView", { height: $(window).height() - 150 });
                    }, 200);
                    e.stopPropagation();
                });
                //设置表单
                this.$table = controller.Table("#tableList", { url: "GovtWeb/GetHandlerLogPage", height: $(window).height() - 150, refreshBtn: "#btn-refresh", formElement: "#Edit" });
                options.IdListIn = null;
                //入库绑定复选框事件
                $('#tableList').on('uncheck.bs.table check.bs.table check-all.bs.table uncheck-all.bs.table', function (event, rows) {
                    options.IdListIn = controller.TableEvent(event.type, rows, -1);
                });
            },
            InitEvent: function () {
                $("#add").click(() => {
                    const Ids = Array.from(options.IdListIn);
                    controller.ajax({
                        url: "GovtWeb/EditHandlerLog",
                        type: "post",
                        async: false,
                        data: { keys: Ids, flag: true },
                        success: (res) => {
                            controller.Msg(res.data);
                             options.$table.refresh();
                        }
                    });
                });
                 $("#open").click(() => {
                    const Ids = Array.from(options.IdListIn);
                    controller.ajax({
                        url: "GovtWeb/EditHandlerLog",
                        type: "post",
                        async: false,
                        data: { keys: Ids, flag: false },
                        success: (res) => {
                            controller.Msg(res.data);
                             options.$table.refresh();
                        }
                    });
                });
            },
            action: {
                CheckFormatter: function (val, row, index) {
                    if (options.IdList != null) {
                        //集合先转数组
                        if ($.inArray(row.Id, Array.from(options.IdListIn)) != -1)
                            return {
                                checked: true
                            }
                    }
                },
            }
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox ibox-c float-e-margins">
            <div class="ibox-title ibox-title-c">
                <h5>操作日志</h5>
            </div>
            <div class="ibox-content ibox-content-c">
                <div class="row">
                    <form id="Edit">
                        <div class="col-sm-8 m-b-xs">
                            <div class="input-group">
                                <button type="button" class="btn btn-sm btn-white" id="add"><i class="fa fa-eye"></i>标记已读</button>
                                <button type="button" class="btn btn-sm btn-white" id="open"><i class="fa fa-rss"></i>一键广播</button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" placeholder="操作类型-添加或删除或修改" class="input-sm form-control" name="HandlerType">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>搜索</button>
                                    <button type="button" id="btn-refresh" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i>刷新</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table id="tableList" class="table">
                        <thead>
                            <tr>
                                <th class="th-center" data-field="Stutas" data-checkbox="true" data-formatter="options.action.CheckFormatter"></th>
                                <th data-field="HandlerUser" class="th-center" data-align="left" data-halign="center">操作人</th>
                                <th data-field="HandlerType" class="th-center">操作类型</th>
                                <th data-field="HandlerTime" class="th-center">操作时间</th>
                                <th data-field="HandlerContent" class="th-center" data-align="left" data-halign="center">操作详情</th>
                                <th data-field="Status" class="th-center">状态</th>
                                <th data-field="Open" class="th-center">广播状态</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>