@{
    ViewData["Title"] = "移动执法编辑";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script src="~/Content/ExportPlugin/Script/FileSaver.js"></script>
    <script src="~/Content/ExportPlugin/Script/jquery.wordexport.js"></script>
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                var Id = controller.GetParam("Id");
                var Type = controller.GetParam("Type");
                if (controller.CheckFeild(Type)) {
                    $(".btn-group").addClass("hidden");
                }
                $("#Id").val(Id);
                controller.ajax({
                    url: "GovtWeb/GetGovtMovePatrolDetail",
                    data: { Id: Id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        if (result.data != null) {
                            $("#Content").html(result.data.PatrolTable);
                            $("#mp3").attr("herf", "http://http://system.cfda.vip"+result.data.Sound);
                        }
                    }
                });
            },
            //事件
            InitEvents: function () {
                $("#pdf").click(function () {
                    $("#cs").val($("#Content").html());
                    $("#Pdfform").submit();
                });
                //编辑
                $("#Edit").on("click", function () {
                    var html = $("#Content").html();
                    if (html != "" && html != null) {
                        var Editor = controller.Editor(".summernote", { width: $(window).width, height: 600 });
                        Editor.summernote('code', html);
                        $("#Content").html("");
                    }
                });
                //验证
                controller.ValidateConfirm("#Form");
                //导出word
                $("#Export").on("click", function () {
                    var html = $("#Content").html();
                    if (html != "" && html != null)
                        $("#Content").wordExport("执法记录表");
                    else
                        controller.Alter("请先保存");
                });
            },
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<form id="Pdfform" action="/File/ConvertHtml2Pdf" method="post">
    <textarea class="hidden" name="Content" id="cs"></textarea>
</form>
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" id="Form" method="post" action="GovtWeb/EditMovePatrol">
            <input type="hidden" name="Id" id="Id" />
            <input type="hidden" name="PatrolTable" />
            <div class="btn-group">
                <button type="button" class="btn btn-default" id="Edit"><i class="fa fa-edit"></i>编辑</button>
                <button type="button" class="btn btn-default" id="Export" style="margin-left: 10px"><i class="fa fa-file-word-o fa-fw"></i>导出Word</button>
                <button type="button" class="btn btn-default" id="pdf" style="margin-left: 10px"><i class="fa fa-file-pdf-o fa-fw"></i>导出Pdf</button>
                <a  class="btn btn-default" id="mp3" style="margin-left: 10px" href="" download="录音.amr"><i class="fa fa-youtube-play fa-fw"></i>下载语音</a>
            </div>
            <div class="row">
                <div class="col-sm-12" id="Content">
                </div>
            </div>
            <div class="summernote" name="PatrolTable"></div>
        </form>
    </div>
</div>