@{
    ViewData["Title"] = "通报批评";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                $("#Id").val(controller.GetParam("Id"));
               controller.Editor(".summernote", { width: $(window).width });
            },
            //事件
            InitEvents: function () {
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="GovtWeb/EditNetPatrol" id="Edit">
            <input type="hidden" name="Id" id="Id" />
            <input type="hidden" name="Content" />
            <table class="table table-hover table-bordered">
                <colgroup>
                    <col width="140" />
                    <col />
                </colgroup>
                <tr>
                    <th style="text-align:center;"><label class="control-label">标题</label></th>
                    <td class="has-warning" colspan="3">
                        <input type="text" class="form-control" name="Title" />
                    </td>
                </tr>
                <tr>
                    <th style="text-align:center;"><label class="control-label">通报原因及整改意见</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="summernote" name="Content"></div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>