
@{
    ViewData["Title"] = "投诉信息";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //恢复高度
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        options.$table.bootstrapTable("resetView", { height: $(window).height() - 150 });
                    }, 200);
                    e.stopPropagation();
                });
                //设置表单
                this.$table = controller.Table("#tableList", { url: "GovtWeb/GetComplainPage", height: $(window).height() - 150, refreshBtn: "#btn-refresh", formElement: "#Edit" });
            },
            //事件
            InitEvents: function () {
         
            },
            //行为
            action: {
                TableFormatter: function (val, row, index) {
                    var action = [];
                    action.push('<button class="btn btn-sm btn-primary send"><i class="fa fa-pencil-square-o"></i>推送</button>');
                    action.push('<button class="btn btn-sm btn-primary eye"><i class="fa fa-eye"></i>查看处理</button>');
                    action.push('<button class="btn btn-sm btn-primary del"><i class="fa fa-trash-o"></i>删除</button>');
                    return action.join("&nbsp;")
                },
                TableEvents: {
                    "click .eye": function (event, val, row, index) {
                        controller.OpenWindow({
                            title: "查看处理信息",
                            type: 1,
                            height: "600px",
                            width: "800px",
                            resize: false,
                            maxmin: false,
                            content: '<article class="lead m-t" style="text-indent:35px;">' + row.HandlerContent+'</article>',
                            callBack: function (result) {
                            }
                        });
                    },
                    "click .send": function (event, val, row, index) {
                        controller.Confirm("确认推送？", function (bool) {
                            if (bool) {
                                controller.ajax({
                                    url: "GovtWeb/ReportComplain",
                                    data: { Id: row.Id },
                                    type: 'post',
                                    success: function (result) {
                                        options.$table.refresh();
                                    }
                                });
                            }
                        });
                    },
                    "click .del": function (event, val, row, index) {
                        controller.Confirm("确认删除？", function (bool) {
                            if (bool) {
                                controller.ajax({
                                    url: "GovtWeb/RemoveComplain",
                                    data: { Id: row.Id },
                                    type: 'post',
                                    success: function (result) {
                                        options.$table.refresh();
                                    }
                                });
                            }
                        });
                    }
                }//表单事件结束
            }//行为结束
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
@section css{

}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>投诉建议</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form id="Edit">
                        <div class="col-sm-8 m-b-xs">
                            <div class="input-group">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" placeholder="投诉内容" class="input-sm form-control" name="ComplainContent">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>搜索</button>
                                    <button type="button" id="btn-refresh" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i>刷新</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table id="tableList" class="table">
                        <thead>
                            <tr>
                                <th data-field="CompanyName" data-halign="center" data-align="center" data-valign="middle">企业名称</th>
                                <th data-field="ComplainContent" data-halign="center" data-align="center" data-valign="middle">投诉内容</th>
                                <th data-field="ProductName" data-halign="center" data-align="center" data-valign="middle">投诉人</th>
                                <th data-field="ComplainUserPhone" data-halign="center" data-align="center" data-valign="middle">投诉人电话</th>
                                <th data-field="Status" data-halign="center" data-align="center" data-valign="middle">状态</th>
                                <th data-formatter="options.action.TableFormatter" data-events="options.action.TableEvents" data-halign="center" data-align="center" data-valign="middle">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>