
@{
    ViewData["Title"] = "商家详情";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
    <style>
        th {
            text-align: center;
            vertical-align: middle;
        }

        td {
            text-align: center;
            vertical-align: middle;
        }
    </style>
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                this.Guid = controller.GetParam("Id");
                options.GetMerchantDetail(this.Guid);
            },
            //事件
            InitEvents: function () {
                //查看大图
                $("img").on('click', function () {
                    var option = {
                        title: "证书图片",
                        data: [{
                            alt: "证书图片",
                            src: $(this).attr("src")
                        }]
                    };
                    controller.Photos(option);
                });
            },
            //获取详情
            GetMerchantDetail: function (Guid) {
                controller.ajax({
                    url: 'Repast/GetMerchantDetail',
                    data: { Id: Guid },
                    type: "post",
                    async: false,
                    success: function (result) {
                        controller.SetCtrlValue("#MerchantDetail", result.data);
                        options.BindAuditInfo(result.data.AuditInfo);
                    }
                });
            },
            //绑定审核信息
            BindAuditInfo: function (data) {
                var html = '';
                $.each(data, function (i, obj) {
                    html += '<tr><td class="text-warning">' + obj.AuditName + '</td>';
                    html += '<td class="text-warning">' + obj.CreateTime + '</td>';
                    if (obj.AuditSuggestion.length < 8)
                        html += '<td class="text-warning">' + obj.AuditSuggestion + '</td>';
                    else
                        html += '<td class="text-warning"><lable title="' + obj.AuditSuggestion + '">' + obj.AuditSuggestion.substring(0, 8) + '..</lable></td>';
                    if (obj.AuditType == 10)
                        html += '<td class="text-warning">审核未通过</td></tr>';
                    if (obj.AuditType == 20)
                        html += '<td class="text-warning">等待审核</td></tr>';
                    if (obj.AuditType == 30)
                        html += '<td class="text-warning">待上级审核</td></tr>';
                    if (obj.AuditType == 40)
                        html += '<td class="text-warning">审核通过</td></tr>';
                })
                $("#AuditInfo").html(html);
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<form class="orm-horizontal" method="post" action="Repast/GetMerchantDetail" id="MerchantDetail">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#tab-1" aria-expanded="true"> 基本资料</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-3" aria-expanded="false">审核详情</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <table class="table table-hover table-bordered m-t-sm">
                    <tr>
                        <th><label class="control-label">商家名称</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="MerchantName" readonly="readonly" />
                        </td>
                        <th><label class="control-label">商家类型</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="DiningTypeName" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">联系电话</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="Phone" readonly="readonly" />
                        </td>
                        <th><label class="control-label">商家邮箱</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="Email" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">登入账号</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="Account" readonly="readonly" />
                        </td>
                        <th><label class="control-label">法人代表</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="ImplUser" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">所属单位</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="AllowUnit" readonly="readonly" />
                        </td>
                        <th><label class="control-label">系统版本</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="VersionTypeName" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">社会信用码</label></th>
                        <td class="has-warning" colspan="3">
                            <input type="text" class="form-control" name="CommunityCode" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">所属区域</label></th>
                        <td class="has-warning" colspan="3">
                            <table>
                                <tr>
                                    <td><input name="Province" class="form-control" readonly="readonly" /></td>
                                    <td><input name="City" class="form-control" readonly="readonly" /></td>
                                    <td><input name="Area" class="form-control" readonly="readonly" /></td>
                                    <td><input name="Twon" class="form-control" readonly="readonly" /></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <img class="img-preview-sm" src="" type="image" name="Certification" style="display:block;margin:auto" title="点击放大" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="tab-3" class="tab-pane">
                <table class="table table-bordered m-t-sm">
                    <thead>
                        <tr>
                            <th>
                                <span class="text-navy fa fa-user">审核人</span>
                            </th>
                            <th>
                                <span class="text-navy fa fa-calendar">审核时间</span>
                            </th>
                            <th>
                                <span class="text-navy fa fa-commenting">审核意见</span>
                            </th>
                            <th>
                                <span class="text-navy fa fa-question">审核状态</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="AuditInfo"></tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4" class="text-danger">
                                没有更多记录...
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</form>
