
@{
    ViewData["Title"] = "编辑角色";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            }, 
            //元素
            InitDom: function () {
                controller.ajax({
                    url: "Repast/GetRepastRoleAuthorDetail",
                    type: "post",
                    async: false,
                    data: { Id: controller.GetParam("Id") },
                    success: function (result) {
                        controller.SetCtrlValue("#Edit", result.data);
                        $("#AuthorName").val(result.data.MerchantRoleName);
                        options.InitMenu(result.data.AuthorMenuPath);
                    }
                });
            },
            InitMenu: function (Path) {
                controller.ajax({
                    url: "Repast/GetDiningTree",
                    type: "post",
                    async: false,
                    data: { Id: Path },
                    success: function (result) {
                        var tree = controller.TreeCtrl("#TreeView", { levels: 2, data: result.data }, "#ShowMenu");
                        var CheckList = $(tree).treeview("getChecked", [{ silent: true }]);
                        var html = '';
                        $.each(CheckList, function (i, data) {
                            html += '<p class="text text-info" data-values=' + data.id + '><i class="fa fa-check-circle" aria-hidden="true"></i>' + data.text + '</p>';
                        });
                        $("#ShowMenu").html(html);
                    }
                });
            },
            //事件
            InitEvents: function () {
                $("#save").click(function () {
                    controller.ajax({
                        url: $("#Edit").attr("action"),
                        type: $("#Edit").attr("method"),
                        data: $("#Edit").SerializeOver(),
                        success: function (result) {
                            controller.Msg(result.data);
                        }
                    });
                });
            },
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
@section css{

}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>编辑角色</h5>
            </div>
            <div class="ibox-content">
                <form method="post" class="form-horizontal" action="Repast/EditRole" id="Edit">
                    <input type="hidden" name="Id" />
                    <!--名称-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">请输入集团角色名称<span style="color:red">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required" name="AuthorName"  id="AuthorName" data-msg-required="请输入集团角色名称">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <!--菜单-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">请分配权限菜单</label>
                        <div class="col-sm-4">
                            <div id="TreeView"></div>
                        </div>
                        <div class="col-sm-6">
                            <div id="ShowMenu"></div>
                        </div>
                    </div>
                    <!--结束-->
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary" type="button" id="save">保存内容</button>
                            <button class="btn btn-white" type="button">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>