<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link href="~/Content/BootStrap/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/FontAwesome/Css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/BootStrap-Table/Css/bootstrap-table.css" rel="stylesheet" />
    <link href="~/Content/HPlus/Css/Hplus.css" rel="stylesheet" />
    <link href="~/Content/TreeView/Css/bootstrap-treeview.css" rel="stylesheet" />
    <link href="~/Content/BootStrap-Select/Css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Uploader/css/upload.css" rel="stylesheet" />
    <link href="~/Content/BootStrap-Summernote/Css/summernote.css" rel="stylesheet" />

    <script src="~/Content/JavaScript/jquery.min.js"></script>
    <script src="~/Content/JavaScript/jquery.cookie.js"></script>
    <script src="~/Content/BootStrap/Script/bootstrap.js"></script>
    <script src="~/Content/BootStrap-Select/Script/bootstrap-select.js"></script>
    <script src="~/Content/BootStrap-Select/Script/defaults-zh_CN.js"></script>
    <script src="~/Content/BootStrap-Table/Script/bootstrap-table.js"></script>
    <script src="~/Content/BootStrap-Table/Script/bootstrap-table-zh-CN.js"></script>
    <script src="~/Content/Validate/jquery.validate.js"></script>
    <script src="~/Content/Validate/jqury.validate_zh.js"></script>
    <script src="~/Content/TreeView/Script/bootstrap-treeview.js"></script>
    <script src="~/Content/Layer/layer.js"></script>
    <script src="~/Content/LayerDate/laydate.js"></script>
    <script src="~/Content/Uploader/js/upload.js"></script>
    <script src="~/Content/Moment/Moment.js"></script>
    <script src="~/Content/BootStrap-Summernote/Script/summernote.js"></script>
    <script src="~/Content/BootStrap-Summernote/Script/summernote-zh-CN.js"></script>
    <script src="~/Content/BootStrap-Suggest/bootstrap-suggest.js"></script>
    <script src="~/Content/QRCode/Script/Jquery.QRCode.js"></script>
    <script src="~/Content/QRCode/Script/QRCode.js"></script>
    <script src="~/Content/Echarts/echarts.min.js"></script>
    <script src="~/Content/JavaScript/jquery.extension.js"></script>
    <script src="~/Content/JavaScript/Controller.js"></script>
    <script src="~/Content/JavaScript/validate.extension.js"></script>
    <script>
        var SysUserInfo = parent.UserInfo;
        var CompanyInfo = parent.CompanyUser;
        var RepastUser = parent.RepastInfo;
        var CookerInfo = parent.Cooker;
        var GovtInfo = parent.Govt
    </script>
    @RenderSection("script", false)
    @RenderSection("css", false)
</head>
<body>
    @RenderBody()
</body>
</html>