
@{
    ViewData["Title"] = "编辑厂商";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
                this.ShowCard();
            },
            //元素
            InitDom: function () {
                var Guid = controller.GetParam("Id");
                $("#No").val("S" + controller.FormatDate("YYMMDDHHmmss"));
                $("#CompanyId").val(CompanyInfo.Id);
                this.GetDetail(Guid);
            },
            //取详情
            GetDetail: function (data) {
                if (data != null && data != "" && data != undefined)
                {
                    controller.ajax({
                        url: "EnterpriseWeb/GetSellerDetail",
                        data: { Id: data },
                        type: "post",
                        success: function (result) {
                            controller.SetCtrlValue("#Edit", result.data);
                        }
                    });
                }
            },
            //设置文件值
            SetFileValue: function (data, elememt) {
                var files = $(elememt).val();
                if (files != null && files != "" && files != undefined) {
                    files += "," + data;
                    $(elememt).val(files);
                } else {
                    $(elememt).val(data);
                }
            },
            //是否企业
            ShowCard: function () {
                $("input:radio[name='SupplierType']").on('click',function () {
                    if ($(this).val() == 1) 
                        $("#last").css("display", "none");
                    else
                        $("#last").css({ display: "block", display:"table-row" });
                });
            },
            //事件
            InitEvents: function () {
                //文件上传
                controller.Upload({
                    url: "File/UploadImg",
                    element: "#img1",
                    maxNum: 1,
                    node: '#card1',
                    success: function (result) {
                        controller.Alter(result.msg);
                        $("#RunCard").val(result.data);
                    }
                });
                //文件上传
                controller.Upload({
                    url: "File/UploadImg",
                    element: "#img2",
                    maxNum: 1,
                    node: '#card2',
                    success: function (result) {
                        controller.Alter(result.msg);
                        $("#OkayCard").val(result.data);
                    }
                });
                //文件上传
                controller.Upload({
                    url: "File/UploadImg",
                    element: "#img3",
                    maxNum: 2,
                    node: '#card3',
                    success: function (result) {
                        controller.Alter(result.msg);
                        this.SetFileValue(result.data, "#IdCard");
                    }
                });
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="orm-horizontal" method="post" action="EnterpriseWeb/EditSeller" id="Edit">
            <input type="hidden" id="CompanyId" name="CompanyId" />
            <input type="hidden" id="RunCard" name="RunCard" />
            <input type="hidden" id="IdCard" name="IdCard" />
            <input type="hidden" id="OkayCard" name="OkayCard" />
            <input type="hidden" name="SellerType" value="10" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">商户类型</label></th>
                    <td class="has-warning" colspan="3">
                        <label class="radio-inline">
                            <input type="radio" name="SupplierType" value="1" style="margin-top:3px" checked />
                            <text title="企业">企业</text>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="SupplierType" value="2" style="margin-top:3px" />
                            <text title="个人">个人</text>
                        </label>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">编号</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="No"  id="No"/>
                    </td>
                    <th><label class="control-label">企业名称</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="SupplierName" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">负责人</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="DutyMan" />
                    </td>
                    <th><label class="control-label">电话</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="LinkPhone" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">地址</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="Address" />
                    </td>
                    <th><label class="control-label">社会代码</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="Code" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">营业执照</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="image-box clear" id="card1">
                            <section class="upload-section">
                                <div class="upload-btn"></div>
                                <input type="file" id="img1" name="Files" class="upload-input" value="" accept="image/*" multiple="multiple" />
                            </section>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">经营许可</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="image-box clear" id="card2">
                            <section class="upload-section">
                                <div class="upload-btn"></div>
                                <input type="file" id="img2" name="Files" class="upload-input" value="" accept="image/*" multiple="multiple" />
                            </section>
                        </div>
                    </td>
                </tr>
                <tr style="display:none" id="last">
                    <th><label class="control-label">身份证</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="image-box clear" id="card3">
                            <section class="upload-section">
                                <div class="upload-btn"></div>
                                <input type="file" id="img3" name="Files" class="upload-input" value="" accept="image/*" multiple="multiple" />
                            </section>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>