@{
    ViewData["Title"] = "编辑销售台账";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                $("#InfoId").val(RepastUser.Id);
                controller.LayDate({ elem: "input[name='SellTime']" });
                controller.LayDate({ elem: "input[name='ProTime']" });
                var Guid = controller.GetParam("Id");
                //获取负责人
                controller.ajax({
                    url: "RepastWeb/GetMerchantList",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>==请选择==</option>'
                        $.each(result.data, function (i, obj) {
                            html += '<option value=' + obj.TrueName + '>' + obj.TrueName + '</option>';
                        });
                        $("select[name='Manager']").html(html);
                    }
                });
                options.GetDetail(Guid);
            },
            //获取详情
            GetDetail: function (Guid) {
                if (Guid != null && Guid != undefined && Guid != "")
                    controller.ajax({
                        url: "RepastWeb/GetSellbillDetail",
                        data: { Id: Guid },
                        async: false,
                        type: "post",
                        success: function (result) {
                            controller.SetCtrlValue("#Edit", result.data);
                        }
                    });
            },
            //事件
            InitEvents: function () {
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="RepastWeb/EditSellbill" id="Edit">
            <input type="hidden" name="Id" id="Id" />
            <input type="hidden" name="InfoId" id="InfoId" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">产品名称</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="GoodsName" />
                    </td>
                    <th><label class="control-label">销售数量</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="GoodsNum" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">单价</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="UnPay" />
                    </td>
                    <th><label class="control-label">总价</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="ToPay" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">保质期</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="NoExp" id="NoExp" />
                    </td>
                    <th><label class="control-label">生产日期</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="ProTime" id="ProTime" />
                    </td>
                <tr>
                    <th><label class="control-label">销售时间</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="SellTime" />
                    </td>
                    <th><label class="control-label">负责人</label></th>
                    <td class="has-warning">
                        <select type="select" name="Manager" class="form-control"></select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>