@{
    ViewData["Title"] = "供应商";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //恢复高度
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        options.$table.bootstrapTable("resetView", { height: $(window).height() - 150 });
                    }, 200);
                    e.stopPropagation();
                });
                //设置表单
                this.$table = controller.Table("#tableList", { url: "RepastWeb/GetSupplierPage", height: $(window).height() - 150, refreshBtn: "#btn-refresh", formElement: "#Edit" });
            },
            //事件
            InitEvents: function () {
                $("#add").on('click', function () {
                    controller.OpenWindow({
                        title: "新增供应商",
                        type: 2,
                        height: "90%",
                        width: "80%",  
                        url: "WebMerchantManage/Function/MerchantSupplierEdit",
                        callBack: function (result) {
                            result.$("#Edit").submit();
                        }
                    })
                });
            },
            //行为
            action: {
                ImgFormatter: function (val, row, index) {
                    var action = [];
                    if(controller.CheckFeild(row.HealthCard))
                        action.push('<img class="photo" src="' + row.HealthCard + '" style="width:48px;height:32px;"">');
                    if(controller.CheckFeild(row.RunCard))
                        action.push('<img class="photo" src="' + row.RunCard + '" style="width:48px;height:32px;"">');
                    return action.join("&nbsp;")
                },
                ImgEvents: {
                    "click .photo": function (event, val, row, index) {
                        var option = {
                            title: "供应商相关证书",
                            data: [{
                                alt: "供应商相关证书",
                                src: $(this).attr("src")
                            }]
                        };
                        controller.Photos(option);
                    }
                },
                TableFormatter: function (val, row, index) {
                    var action = [];
                    action.push('<button class="btn btn-sm btn-primary del"><i class="fa fa-trash-o"></i>删除</button>');
                    return action.join("&nbsp;")
                },
                TableEvents: {
                    "click .del": function (event, val, row, index) {
                        controller.Confirm("确认删除？", function (bool) {
                            if (bool) {
                                controller.ajax({
                                    url: "RepastWeb/DeleteSupplier",
                                    data: { Id: row.Id },
                                    type: 'post',
                                    success: function (result) {
                                        options.$table.refresh();
                                    }
                                });
                            }
                        });
                    }
                }//表单事件结束
            }//行为结束
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
@section css{

}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox ibox-c float-e-margins">
            <div class="ibox-title ibox-title-c">
                <h5>供应商</h5>
            </div>
            <div class="ibox-content ibox-content-c">
                <div class="row">
                    <form id="Edit">
                        <div class="col-sm-8 m-b-xs">
                            <div class="input-group">
                                <button type="button" class="btn btn-sm btn-white" id="add"><i class="fa fa-plus"></i>新增</button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" placeholder="供应商名称" class="input-sm form-control" name="SupplierName">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>搜索</button>
                                    <button type="button" id="btn-refresh" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i>刷新</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table id="tableList" class="table">
                        <thead>
                            <tr>
                                <th data-field="SupplierNo" class="th-center">编号</th>
                                <th data-field="SupplierName" class="th-center">供应商名称</th>
                                <th data-field="Address" class="th-center">地址</th>
                                <th data-field="SupplierUser" class="th-center">法人代表</th>
                                <th data-field="LinkPhone" class="th-center">电话</th>
                                <th data-formatter="options.action.ImgFormatter" data-events="options.action.ImgEvents" class="th-center">证书</th>
                                <th data-formatter="options.action.TableFormatter" data-events="options.action.TableEvents" class="th-center">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>