
@{
    ViewData["Title"] = "二维码管理";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                $("#InfoId").val(RepastUser.Id);
                options.Hash = {
                    "GetDishList": "DishIds",
                    "GetStuffList": "StuffIds",
                    "GetVideoList": "VideoIds",
                    "GetUserList": "UserIds",
                    "GetDuckList": "DuckIds",
                    "GetDrawList": "DrawIds",
                    "GetSampleList": "SampleIds",
                    "GetDisinfectList": "DisinfectIds",
                    "GetAdditiveList": "AdditiveIds",
                    "GetTicketList": "Tickets",
                    "GetWeekMenuList": "WeekMenus"
                }
                controller.LayDate({ elem: "input[name='ShowTime']" });
                $.each(options.Hash, function (key, value) {
                    options.InitDropDwon("#" + value, "RepastWeb/" + key);
                });
                var Id = controller.GetParam("Id");
                if (Id != null) {
                    controller.ajax({
                        url: "RepastWeb/GetScanInfoDetail",
                        data: { Id: Id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            controller.SetCtrlValue("#Edit", result.data);
                            $.each(options.Hash, function (key, value) {
                                if (controller.CheckFeild(result.data[value])) {
                                    var arr = result.data[value].split(",");
                                    $("#" + value).selectpicker('val', arr);
                                }
                            });
                        }
                    });
                }
            },
            //事件
            InitEvents: function () {
                $.each(options.Hash, function (key, value) {
                    options.InitSelectEvent(value);
                });
                //验证
                controller.ValidateConfirm("#Edit");
            },
            InitDropDwon: function (node, url) {
                controller.Select({
                    document: node,
                    arrelemnt: [node],
                    url: url,
                    flag: false,
                    callBack: function (result) {
                        var html = '';
                        $.each(result, function (i, obj) {
                            html += '<option value="' + obj.Id + '">' + obj.Name + '</option>';
                        });
                        $(node).html(html);
                        $(node).selectpicker("refresh");
                    }
                });
            },
            InitSelectEvent: function (node) {
                $("#" + node).on('changed.bs.select', function () {
                    var $Id = $('input[name="' + node + '"]');
                    if ($Id.val() != "") {
                        var arr = ($Id.val() + "," + $(this).val()).split(",");
                        $.unique(arr);
                        $Id.val(arr);
                    }
                    else
                        $Id.val($(this).val());
                });
            }
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="RepastWeb/SaveScanInfo" id="Edit">
            <input type="hidden" name="Id" />
            <input type="hidden" name="InfoId" id="InfoId" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">记录名称</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="RecordName" />
                    </td>
                    <th><label class="control-label">上架时间</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="ShowTime" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">菜品信息</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" class="selectpicker form-control" id="DishIds" multiple data-live-search="true" data-live-search-placeholder="搜索"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">溯源信息</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" class="selectpicker form-control" id="StuffIds" multiple data-live-search="true" data-live-search-placeholder="搜索"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">视频信息</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" class="selectpicker form-control" id="VideoIds" multiple data-live-search="true" data-live-search-placeholder="搜索"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">添&nbsp;&nbsp;加&nbsp;&nbsp;剂</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" class="selectpicker form-control" id="AdditiveIds" multiple data-live-search="true" data-live-search-placeholder="搜索"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">废物处理</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" class="selectpicker form-control" id="DuckIds" multiple data-live-search="true" data-live-search-placeholder="搜索"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">抽样信息</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" class="selectpicker form-control" id="DrawIds" multiple data-live-search="true" data-live-search-placeholder="搜索"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">留样信息</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" class="selectpicker form-control" id="SampleIds" multiple data-live-search="true" data-live-search-placeholder="搜索"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">消毒信息</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" class="selectpicker form-control" id="DisinfectIds" multiple data-live-search="true" data-live-search-placeholder="搜索"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">台账凭证</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" class="selectpicker form-control" id="Tickets" multiple data-live-search="true" data-live-search-placeholder="搜索"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">周&nbsp;&nbsp;菜&nbsp;&nbsp;谱</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" class="selectpicker form-control" id="WeekMenus" multiple data-live-search="true" data-live-search-placeholder="搜索"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">人员信息</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" class="selectpicker form-control" id="UserIds" multiple data-live-search="true" data-live-search-placeholder="搜索"></select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>