@{
    ViewData["Title"] = "周菜谱";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                controller.Editor(".summernote", { width: 1000 });
                controller.LayDate({ elem: "input[name='UpTime']" });
                $("input[name='InfoId']").val(RepastUser.Id);
                   //恢复高度
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        options.$table.bootstrapTable("resetView", { height: $(window).height() - 150 });
                    }, 200);
                    e.stopPropagation();
                });
                //设置表单
                this.$table = controller.Table("#tableList", { url: "RepastWeb/GetMerchantWeekPage", height: $(window).height() - 150, refreshBtn: "#btn-refresh", formElement: "#PEdit" });
            },
            //事件
            InitEvents: function () {
                $("#save").click(function () {
                    controller.Validate("#Edit");
                    $("#Edit").submit();
                })
            },
            action: {
                 ContentFormatter: function (val, row, index) {
                    var action = [];
                    action.push(row.Content.replace(new RegExp("<img ", 'g'), "<img class='photo' style='max-height:36px;width:auto'"));
                    return action;
                },
                ContentEvents: {
                    "click .photo": function (event, val, row, index) {
                        var option = {
                            title: "周菜谱",
                            data: [{
                                alt: "周菜谱",
                                src: $(this).attr("src")
                            }]
                        };
                        controller.Photos(option);
                    }
                },
                TableFormatter: function (val, row, index) {
                    var action = [];
                    action.push('<button class="btn btn-sm btn-primary del"><i class="fa fa-trash-o"></i>删除</button>');
                    return action.join("&nbsp;")
                },
                TableEvents: {
                    "click .del": function (event, val, row, index) {
                        controller.Confirm("确认删除？", function (bool) {
                            if (bool) {
                                controller.ajax({
                                    url: "RepastWeb/DeleteWeekMenu",
                                    data: { Id: row.Id },
                                    type: 'post',
                                    success: function (result) {
                                        options.$table.refresh();
                                    }
                                });
                            }
                        });
                    }
                }
            }
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<!--导航-->
<div class="tabs-container" style="padding: 15px; background: #f5f5f5;">
    <ul class="nav nav-tabs" style="border-radius: 8px 8px 0 0; box-shadow: 0px -2px 16px 0px rgba(47,64,80,0.16);">
        <li class="active">
            <a data-toggle="tab" href="#tab-1" aria-expanded="true" style="border-left: #fff;">周菜谱列表</a>
        </li>
        <li>
            <a data-toggle="tab" href="#tab-2" aria-expanded="false">新增周菜谱</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
            <div class="ibox-content ibox-content-c">
                <div class="row">
                    <form id="PEdit">
                        <div class="col-sm-8 m-b-xs">
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" placeholder="菜谱名称" class="input-sm form-control" name="FoodMenuName">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>搜索</button>
                                    <button type="button" id="btn-refresh" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i>刷新</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive m-t-sm">
                    <table id="tableList" class="table">
                        <colgroup>
                            <col width="356"/>
                            <col width="166" />
                            <col />
                            <col width="256"/>
                        </colgroup>
                        <thead>
                            <tr>
                                <th data-field="FoodMenuName" data-halign="center" data-align="center" data-valign="middle">菜谱名称</th>
                                <th data-field="UpTime" data-halign="center" data-align="center" data-valign="middle">上报时间</th>
                                <th data-field="Content" data-formatter="options.action.ContentFormatter" data-events="options.action.ContentEvents"  data-halign="center" data-align="center" data-valign="middle">图片</th>
                                <th data-formatter="options.action.TableFormatter" data-events="options.action.TableEvents" data-halign="center" data-align="center" data-valign="middle">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div id="tab-2" class="tab-pane ibox-content-c">
            <div class="panel-body">
                <form method="post" class="form-horizontal" action="RepastWeb/EditFoodMenu" id="Edit">
                    <input type="hidden" name="InfoId" />
                    <!--名称-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">菜谱名称<span style="color:red">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required" name="FoodMenuName" data-msg-required="请输入菜谱名称" placeholder="请输入菜谱名称">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <!--时间-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">上报日期<span style="color:red">*</span></label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required" name="UpTime" data-msg-required="请输入上报日期" placeholder="请输入上报日期">
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <!--内容-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">菜谱内容<span style="color:red">*</span></label>
                        <div class="col-sm-4">
                            <div class="summernote" name="Content"></div>
                        </div>
                        <div class="col-sm-6">
                            <input class="hidden" name="Content" />
                        </div>
                    </div>
                    <!--结束-->
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary" type="button" id="save">保存内容</button>
                            <button class="btn btn-white" type="button">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>