
@{
    ViewData["Title"] = "账号编辑";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{

}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.GetProvince();
                this.GetCityByProvince();
                this.GetAreaByCity();
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                controller.ValidateConfirm("#Edit");
            },
            //获取省份
            GetProvince: function () {
                controller.ajax({
                    url: "System/GetProvince",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.ProvinceId + '">' + obj.ProvinceName + '</option>';
                        });
                        $("#province").html(html);
                    }
                });
            },
            //选中省份后获取城市
            GetCityByProvince: function () {
                $("#province").change(function () {
                    controller.ajax({
                        url: "System/GetCity",
                        data: { Id: $(this).find("option:selected").data().id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            var html = '<option>=请选择=</option>';
                            $.each(result.data, function (i, obj) {
                                html += '<option value="' + obj.Id + '" data-id="' + obj.CityId + '">' + obj.CityName + '</option>';
                            });
                            $("#city").html(html);
                        }
                    });
                });
            },
            //选中城市后获取区域
            GetAreaByCity: function () {
                $("#province").change(function () {
                    var html = '<option>=请选择=</option>';
                    $("#area").html(html);
                });
                $("#city").change(function () {
                    controller.ajax({
                        url: "System/GetArea",
                        data: { Id: $(this).find("option:selected").data().id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            var html = '<option>=请选择=</option>';
                            $.each(result.data, function (i, obj) {
                                html += '<option value="' + obj.Id + '" data-id="' + obj.AreaId + '">' + obj.AreaName + '</option>';
                            });
                            $("#area").html(html);
                        }
                    });
                });
            },
            //事件
            InitEvents: function () {
            }
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="Govt/EditInfo" id="Edit">
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">账号名称<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="Account" data-msg-required="请输入账号" />
                    </td>
                    <th><label class="control-label">账号类型</label></th>
                    <td class="has-warning">
                        <select type="select" name="AccountType" class="form-control">
                            <option value="20">市级账号</option>
                            <option value="30">区县账号</option>
                            <option value="40">乡镇账号</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">是否教育局账号<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <select type="select" name="IsEdu" class="form-control">
                            <option value="false">否</option>
                            <option value="true">是</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">所属区域</label></th>
                    <td colspan="3">
                        <table style="width:100%">
                            <tr>
                                <td class="has-warning" style="width:33.3%">
                                    <select type="select" class="form-control" name="Province" id="province">
                                        <option>=请选择=</option>
                                    </select>
                                </td>
                                <td class="has-warning" style="width:33.3%">
                                    <select type="select" class="form-control" name="City" id="city">
                                        <option>=请选择=</option>
                                    </select>
                                </td>
                                <td class="has-warning" style="width:33.3%">
                                    <select type="select" class="form-control" name="Area" id="area">
                                        <option>=请选择=</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>