@{
    ViewData["Title"] = "预警提示";
    Layout = "~/Views/Shared/BaseView.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="http://old.cfda.vip/Cashier/MUI/mui.min.css" rel="stylesheet" />
    <title>高风险企业</title>
</head>
<body>
    <div class="mui-content">
        <table>
            <thead>
                <tr><th align="center">企业名称</th><th align="center">投诉</th><th align="center">通报</th><th align="center">到期</th><th align="center">预警</th></tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</body>
</html>
