@{
    ViewData["Title"] = "企业数量";
    Layout = "~/Views/Shared/BaseView.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="http://old.cfda.vip/Cashier/MUI/mui.min.css" rel="stylesheet" />
    <title>企业数量</title>
    <script type="text/javascript">
    var options = {
        Init: function () {
             this.InitDom();
        },
        InitDom: function () {
            var ApiKey = controller.GetParam("ApiKey");
            var Syskey = controller.GetParam("SysKey");
            var Token = controller.GetParam("Token");
            var obj = { "RSAToKen": Token, "RSAApiKey": ApiKey, "RSASysKey": Syskey };
            controller.SetCookie(obj);
            controller.ajax({
                url: "GovtWeb/GetNewStayInAllCompanyCount",
                data: {},
                type: "post",
                async: false,
                success: function (result) {
                    $.each(result.data, function (i,item) {
                        $("#CompanyCount").append(` <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="background-color:#fff;">
                            <a href="#">
                                <span>${item.name}</span>
                                <div class="mui-media-body">${item.value}</div>
                            </a>
                        </li>`);
                    });
                    //图形
                    var Charts = document.getElementById("companyCharts");
                    options.Com = echarts.init(Charts, "light");
                    options.Com.setOption({
                        title: {
                            text: '企业统计',
                            x: 'left'
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'right',
                            data: result.data,
                            textStyle: {
                                fontSize: 10,
                                color: "#b0c2f9"
                            }
                        },
                        series: [
                            {
                                name: '企业统计',
                                label: {
                                    normal: {
                                        formatter: '{b|{b}:}{c}家 ',
                                        backgroundColor: '#fff',
                                        borderColor: '#aaa',
                                        borderWidth: 1,
                                        borderRadius: 2,
                                        rich: {
                                            a: {
                                                color: '#999',
                                                lineHeight: 12,
                                                align: 'center'
                                            },
                                            hr: {
                                                borderColor: '#aaa',
                                                width: '100%',
                                                borderWidth: 0.5,
                                                height: 0
                                            },
                                            b: {
                                                fontSize: 10,
                                                lineHeight: 16
                                            },
                                            per: {
                                                color: '#eee',
                                                backgroundColor: '#334455',
                                                padding: [2, 2],
                                                borderRadius: 2
                                            }
                                        }
                                    },
                                    emphasis: {
                                        show: true,
                                        textStyle: {
                                            fontSize: '15',
                                            fontWeight: 'bold'
                                        }
                                    }
                                },
                                type: 'pie',
                                radius: '55%',
                                center: ['50%', '60%'],
                                data: result.data,
                                itemStyle: {
                                    emphasis: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    })
                }
            });
        }
    };
     //页面初始化
    $(document).ready(function () {
        options.Init();
    });
    </script>
</head>
<body>
    <div class="mui-content">
        <ul class="mui-table-view mui-grid-view mui-grid-9" id="CompanyCount">
           
           
        </ul>
    </div>
    <div class="mui-content">
        <div style="padding:4px 0px;background-color:#fff;margin-bottom:6px;">
            <div id="companyCharts" style="height: 300px;width:98%;"></div>
        </div>
    </div>
</body>
</html>
