@{
    ViewData["Title"] = "产品数量";
    Layout = "~/Views/Shared/BaseView.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="http://old.cfda.vip/Cashier/MUI/mui.min.css" rel="stylesheet" />
    <title>产品数量</title>
    <script type="text/javascript">
    var options = {
        Init: function () {
             this.InitDom();
        },
        InitDom: function () {
            var ApiKey = controller.GetParam("ApiKey");
            var Syskey = controller.GetParam("SysKey");
            var Token = controller.GetParam("Token");
            var obj = { "RSAToKen": Token, "RSAApiKey": ApiKey, "RSASysKey": Syskey };
            controller.SetCookie(obj);
            controller.ajax({
                url: "GovtWeb/GetProductRank",
                data: {},
                type: "post",
                async: false,
                success: function (result) {
                    $.each(result.data, function (i,item) {
                        $("#ProductCount").append(` <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3" style="background-color:#fff;">
                            <a href="#">
                                <span>${item.name}</span>
                                <div class="mui-media-body">${item.value}</div>
                            </a>
                        </li>`);
                    });
                    //图形
                    var Charts = document.getElementById("productCharts");
                    options.Pro = echarts.init(Charts, "light");
                    options.Pro.setOption({
                        title: {
                            text: '产品统计',
                            x: 'left'
                        },
                        tooltip: {
                            trigger: "item",
                            formatter: "{b0}<br />产品数：{c0}<br />占比：{d0}%"
                        },
                        legend: {
                            type: "scroll",
                            orient: "vertical",
                            padding: 0,
                            top: 15,
                            right: 0,
                            itemGap: 5,
                            itemWidth: 10,
                            itemHeight: 10,
                            textStyle: {
                                fontSize: 10,
                                color: "#b0c2f9"
                            }
                        },
                        series: [{
                            name: "产品统计",
                            type: "pie",
                            center: ["47%", "55%"],
                            radius: ["45%", "70%"],
                            data: result.data
                        }]
                    });
                }
            });
        }
    };
     //页面初始化
    $(document).ready(function () {
        options.Init();
    });
    </script>
</head>
<body>
    <div class="mui-content">
        <ul class="mui-table-view mui-grid-view mui-grid-9" id="ProductCount">
            
        </ul>
    </div>
    <div class="mui-content">
        <div style="padding:4px 0px;background-color:#fff;margin-top:12px;">
            <div id="productCharts" style="height: 360px;width:98%;"></div>
        </div>
    </div>
</body>
</html>
