
@{
    ViewData["Title"] = "企业详情";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                var Guid = controller.GetParam("Id");
                options.GetProvince();
                options.GetCompanyDetail(Guid);
            },
            //事件
            InitEvents: function () {
                $("#tab-3,#tab-4").find("img").on('click', function () {
                    var option = {
                        title: "相关证书",
                        data: [{
                            alt: "相关证书",
                            src: $(this).attr("src")
                        }]
                    };
                    controller.Photos(option);
                });
            },
            //获取详情
            GetCompanyDetail: function (Guid) {
                controller.ajax({
                    url: 'Enterprise/GetCompanyDetail',
                    data: { Id: Guid },
                    type: "post",
                    async: false,
                    success: function (result) {
                        controller.SetCtrlValue("#CompanyDetail", result.data);
                        options.GetCity();
                        controller.SetCtrlValue("#CompanyDetail", result.data);
                        options.GetArea();
                        controller.SetCtrlValue("#CompanyDetail", result.data);
                        options.GetTown();
                        controller.SetCtrlValue("#CompanyDetail", result.data);
                        //绑定审核意见
                        controller.SetCtrlValue("#CompanyDetail", result.data.AuditDetails);
                        options.BindHonor(result.data.HonorCertification)
                    }
                });
            },
            //获取省份
            GetProvince: function () {
                controller.ajax({
                    url: "System/GetProvince",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.ProvinceId + '">' + obj.ProvinceName + '</option>';
                        });
                        $("#province").html(html);
                    }
                });
            },
            //取得详情后获取城市
            GetCity: function () {
                controller.ajax({
                    url: "System/GetCity",
                    data: { Id: $("#province").find("option:selected").data().id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.CityId + '">' + obj.CityName + '</option>';
                        });
                        $("#city").html(html);
                    }
                });
            },
            //取得详情后获取区域
            GetArea: function () {
                controller.ajax({
                    url: "System/GetArea",
                    data: { Id: $("#city").find("option:selected").data().id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.AreaId + '">' + obj.AreaName + '</option>';
                        });
                        $("#area").html(html);
                    }
                });
            },
            //取得详情后获取乡镇
            GetTown: function () {
                controller.ajax({
                    url: "System/GetTown",
                    data: { Id: $("#area").find("option:selected").data().id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.TownId + '">' + obj.TownName + '</option>';
                        });
                        $("#town").html(html);
                    }
                });
            },
            //绑定荣誉证书
            BindHonor: function (data) {
                if (data != null) {
                    var html = '';
                    $.each(data, function (i, obj) {
                        html += '<img src="' + obj + '" class="img-preview-sm" title="点击放大"/>';
                    });
                    $("#tab-4").find(".ibox-content").html(html);
                    if (data.length > 3)
                        $("#tab-4").find(".ibox-content").find("img").css({ width: "184px", padding: "1px" });
                    else
                        $("#tab-4").find(".ibox-content").find("img").css({ width: "186px", padding: "1px" });
                }
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<form class="form-horizontal" method="post" action="Enterprise/GetCompanyDetail" id="CompanyDetail">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#tab-1" aria-expanded="true"> 基本信息</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-2" aria-expanded="false">其它信息</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-3" aria-expanded="false">营业执照</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-4" aria-expanded="false">荣誉证书</a>
            </li>
            <li>
                <a data-toggle="tab" href="#tab-5" aria-expanded="false">审核信息</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <table class="table table-hover table-bordered m-t-sm">
                    <tr>
                        <th><label class="control-label">企业名称</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="CompanyName" readonly="readonly" />
                        </td>
                        <th><label class="control-label">所属行业</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="CompanyTypeName" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">企业账号</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="CompanyAccount" readonly="readonly" />
                        </td>
                        <th><label class="control-label">信用代码</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="CommunityCode" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">企业电话</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="CompanyPhone" readonly="readonly" />
                        </td>
                        <th><label class="control-label">企业地址</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="CompanyAddress" readonly="readonly" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="tab-2" class="tab-pane">
                <table class="table table-hover table-bordered m-t-sm">
                    <tr>
                        <th><label class="control-label">工商地址</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="SellerAddress" readonly="readonly" />
                        </td>
                        <th><label class="control-label">生产地址</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="ProductionAddress" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">视频地址</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="VideoAddress" readonly="readonly" />
                        </td>
                        <th><label class="control-label">网站地址</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="NetAddress" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">安全员</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="SafeOffer" readonly>
                        </td>
                        <th><label class="control-label">安全等级</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="OfferLv" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">经度纬度</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="LngAndLat" placeholder="点击获取" readonly>
                        </td>
                        <th><label class="control-label">证件到期</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="CardExpiredDate" readonly>
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">所属区域</label></th>
                        <td class="has-warning" colspan="3">
                            <table style="width:100%">
                                <tr>
                                    <td class="has-warning" style="width:25%">
                                        <select type="select" class="form-control" name="Province" id="province" disabled="disabled">
                                            <option>=请选择=</option>
                                        </select>
                                    </td>
                                    <td class="has-warning" style="width:25%">
                                        <select type="select" class="form-control" name="City" id="city" disabled="disabled">
                                            <option>=请选择=</option>
                                        </select>
                                    </td>
                                    <td class="has-warning" style="width:25%">
                                        <select type="select" class="form-control" name="Area" id="area" disabled="disabled">
                                            <option>=请选择=</option>
                                        </select>
                                    </td>
                                    <td class="has-warning" style="width:25%">
                                        <select type="select" class="form-control" name="Town" id="town" disabled="disabled">
                                            <option>=请选择=</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">企业介绍</label></th>
                        <td class="has-warning" colspan="3">
                            <textarea class="form-control" name="Discription" readonly="readonly"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="tab-3" class="tab-pane">
                <div class="ibox-content">
                    <img class="img-preview-sm" src="" type="image" name="Certification" style="display:block;margin:auto" title="点击放大" />
                </div>
            </div>
            <div id="tab-4" class="tab-pane">
                <div class="ibox-content">
                </div>
            </div>
            <div id="tab-5" class="tab-pane">
                <table class="table table-hover table-bordered m-t-sm">
                    <tr>
                        <th><label class="control-label">审核人</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="AuditName" readonly="readonly" />
                        </td>
                        <th><label class="control-label">审核时间</label></th>
                        <td class="has-warning">
                            <input type="text" class="form-control" name="CreateTime" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <th><label class="control-label">审核意见</label></th>
                        <td class="has-warning" colspan="3">
                            <textarea type="text" class="form-control" name="AuditSuggestion" readonly="readonly"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>
