
@{
    ViewData["Title"] = "产品审核";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //恢复高度
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        options.$table.bootstrapTable("resetView", { height: $(window).height() - 150 });
                    }, 200);
                    e.stopPropagation();
                });
                options.InitData = {
                    TempPath: undefined,
                }
                if (SysUserInfo.AccountType == 30)
                    options.InitData.TempPath == SysUserInfo.Province;
                if (SysUserInfo.AccountType == 40)
                    options.InitData.TempPath == SysUserInfo.City;
                if (SysUserInfo.AccountType == 50)
                    options.InitData.TempPath == SysUserInfo.Area;
                if (SysUserInfo.AccountType == 60)
                    options.InitData.TempPath == SysUserInfo.Town;
                //设置表单
                this.$table = controller.Table("#tableList", { url: "Enterprise/GetWaitAuditGoodPage", height: $(window).height() - 150, refreshBtn: "#btn-refresh", formElement: "#Edit", param: options.InitData });
            },
            //事件
            InitEvents: function () {
            },
            //行为
            action: {
                TableFormatter: function (val, row, index) {
                    var action = [];
                    if (row.AuditType < 40)
                        action.push('<button class="btn btn-sm btn-primary audit"><i class="fa fa-pencil-square-o"></i>审核</button>');
                    action.push('<button class="btn btn-sm btn-primary sea"><i class="fa fa-eye"></i>查看图片</button>');
                    action.push('<button class="btn btn-sm btn-primary watch"><i class="fa fa-eye"></i>查看备注</button>');
                    action.push('<button class="btn btn-sm btn-primary detail"><i class="fa fa-eye"></i>详情</button>');
                    return action.join("&nbsp;");
                },
                TableEvents: {
                    "click .sea": function (event, val, row, index) {
                        var arr = [];
                        var datas = [];
                        if (row.ImgUr == null) {
                            controller.Msg("未上传图片");
                            return;
                        }
                        if (row.ImgUrl != "")
                            arr = row.ImgUrl.split(",");
                        $.each(arr, function (i, obj) {
                            var prop = {
                                alt: "产品图片",
                                src: obj
                            };
                            datas.push(prop);
                        });
                        controller.Photos({ title: "产品图片", data: datas });
                    },
                    "click .watch": function (event, val, row, index) {
                        controller.Prompt({ formType: 2, value: row.Remark, title: "备注"}, function ()
                        {
                            controller.Close();
                        });
                    },
                    "click .audit": function (event, val, row, index) {
                        controller.Confirm("确认审核？", function (bool) {
                            if (bool) {
                                controller.ajax({
                                    url: "Enterprise/AuditGoodSuccess",
                                    data: { Id: row.GoodsId },
                                    type: 'post',
                                    success: function (result) {
                                        options.$table.refresh();
                                    }
                                });
                            }
                        });
                    },
                    "click .detail": function (event, val, row, index) {
                        controller.OpenWindow({
                            title: "产品详情",
                            type: 2,
                            height: "400px",
                            width: "800px",
                            url: "CliqueManage/Enterprise/AuditProductDetail?Id=" + row.GoodsId,
                            callBack: function (result) {
                                result.$("#Edit").submit();
                            }
                        })
                    }
                }//表单事件结束
            }//行为结束
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
@section css{

}

<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>产品审核</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form id="Edit">
                        <div class="col-sm-8 m-b-xs">
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" placeholder="产品名称" class="input-sm form-control" name="GoodsName">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>搜索</button>
                                    <button type="button" id="btn-refresh" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i>刷新</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table id="tableList" class="table">
                        <thead>
                            <tr>
                                <th data-field="GoodsName" data-halign="center" data-align="center" data-valign="middle">产品名称</th>
                                <th data-field="ExpiredDate" data-halign="center" data-align="center" data-valign="middle">保质期</th>
                                <th data-field="Spec" data-halign="center" data-align="center" data-valign="middle">规格</th>
                                <th data-field="Unit" data-halign="center" data-align="center" data-valign="middle">单位</th>
                                <th data-field="AuditTypeName" data-halign="center" data-align="center" data-valign="middle">审核类型</th>
                                <th data-formatter="options.action.TableFormatter" data-events="options.action.TableEvents" data-halign="center" data-align="center" data-valign="middle">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
