
@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                var Guid = controller.GetParam("Id");
                controller.LayDate({ elem: "input[name='STime']",max: controller.GetDate(10) });
                controller.LayDate({ elem: "input[name='ETime']", max: controller.GetDate(10) });
                options.GetDetail(Guid);
            },
            //获取详情
            GetDetail: function (Guid) {
                if (Guid != null && Guid != undefined && Guid != "")
                    controller.ajax({
                        type: "post",
                        data: { Id: Guid },
                        async: false,
                        url: "System/GetPresonDetail",
                        success: function (result) {
                            controller.SetCtrlValue("#Edit", result.data);
                        }
                    });
            },
            //事件
            InitEvents: function () {
                //文件上传
                controller.Upload({
                    url: "File/UploadImg",
                    element: ".upload-input",
                    maxNum: 2,
                    node: '.image-box',
                    success: function (result) {
                        controller.Alter(result.msg);
                        $("#IdImage").val(result.data);
                    }
                });
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="System/EditNetService" id="Edit">
            <input type="hidden" name="Id" />
            <input type="hidden" class="form-control" name="IdImage" id="IdImage" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">公司名称<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="CompanyName" data-msg-required="请输入公司名称" />
                    </td>
                    <th><label class="control-label">联系电话<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="LinkPhone" data-msg-required="请输入联系电话" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">信用代码<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control  required" name="Code" data-msg-required="请输入信用代码" />
                    </td>
                    <th><label class="control-label">网点名称<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="ServiceNetName" data-msg-required="请输入网点名称" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">法人代表<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="Off" />
                    </td>
                    <th><label class="control-label">公司地址<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="Address" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">合约期限<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="ServiceYear" />
                    </td>
                    <th><label class="control-label">服务区域<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="ServciePath" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">开始日期<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="STime" />
                    </td>
                    <th><label class="control-label">结束日期<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="ETime" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">营业执照</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="image-box clear">
                            <section class="upload-section">
                                <div class="upload-btn"></div>
                                <input type="file" name="Files" class="upload-input" value="" accept="image/*" multiple="multiple" />
                            </section>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>