
@{
    ViewData["Title"] = "PresonEdit";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                var Guid = controller.GetParam("Id");
                options.GetDetail(Guid);
            },
            //获取详情
            GetDetail: function (Guid) {
                if (Guid != null && Guid != undefined && Guid != "")
                    controller.ajax({
                        type: "post",
                        data: { Id: Guid },
                        async: false,
                        url: "System/GetPresonDetail",
                        success: function (result) {
                            controller.SetCtrlValue("#Edit", result.data);
                        }
                    });
            },
            //事件
            InitEvents: function () {
                //文件上传
                controller.Upload({
                    url: "File/UploadImg",
                    element: ".upload-input",
                    maxNum: 2,
                    node: '.image-box',
                    success: function (result) {
                        controller.Alter(result.msg);
                        $("#HeadImage").val(result.data);
                    }
                });
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="System/PresonEdit" id="Edit">
            <input type="hidden" name="Id" />
            <input type="hidden" class="form-control" name="HeadImage" id="HeadImage" />
            <input type="hidden" class="form-control" name="WorkNum" id="WorkNum" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">姓名<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="TrueName" data-msg-required="请输入姓名" />
                    </td>
                    <th><label class="control-label">联系电话<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="LinkPhone" data-msg-required="请输入联系电话" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">身份证<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control  required" name="IdCard" data-msg-required="请输入身份证" />
                    </td>
                    <th><label class="control-label">公司地址<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="Address" data-msg-required="请输入公司地址" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">个人头像</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="image-box clear">
                            <section class="upload-section">
                                <div class="upload-btn"></div>
                                <input type="file" name="Files" class="upload-input" value="" accept="image/*" multiple="multiple" />
                            </section>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>