
@{
    ViewData["Title"] = "首页";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{

}
@section script{
    <script>
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            InitDom: function () {
                controller.ajax({
                    url: "Function/GetPieData",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        controller.Echarts("#pie", result.data);
                    }
                });
                controller.ajax({
                    url: "Function/GetBarData",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        controller.Echarts("#bar", result.data);
                    }
                });
            },
            InitEvents: function () { }
        }
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="row">
    <div class="col-sm-6" id="pie" style="height:400px;">
    </div>
    <div class="col-sm-6" id="bar" style="height:400px;">
    </div>
</div>

