body {
    background-color: #f2f2f2;
}

.head {
    height: 100px;
    background-color: #4e77b9;
}

    .head img {
        margin-top: 0.8%;
        margin-left: 5%;
    }

    .head h1 {
        line-height: 100%;
        color: #ffffff;
        font-size: 55px;
        letter-spacing: 18px;
        margin-left: 17%;
    }

.content {
    width: 96%;
    margin: 2% auto;
}

    .content a {
        border: none;
        color: #3a8bd0;
        font-size: 30px;
        background-color: #e9effb;
        width: 98.5%;
        margin-left: 1.5%;
        margin-top: 3%
    }

    .content h6 {
        font-size: 30px;
        letter-spacing: 5px;
        font-family: STZhongsong;
    }

    .content strong {
        color: #3a8bd0;
        font-size: 30px;
        font-weight: bold;
    }

    .content p {
        font-size: 30px;
        font-weight: bold;
    }

.title {
    text-align: center;
    vertical-align: middle;
    margin-top: 3%;
    font-size: 30px;
}

.detail_t {
    margin-left: 2%;
}

.detail_b {
    font-size: 30px;
}

.Report {
    display: none;
}
