body {
    background-color: #f2f2f2;
}

.head {
    height: 100px;
    background-color: #4e77b9;
}

    .head img {
        margin-top: 0.8%;
        margin-left: 5%;
    }

    .head h1 {
        line-height: 100%;
        color: #ffffff;
        font-size: 55px;
        letter-spacing: 18px;
        margin-left: 17%;
    }

.content {
    width: 96%;
    margin: 2% auto;
}

    .content a {
        border: none;
        color: #3a8bd0;
        font-size: 30px;
        background-color: #e9effb;
        width: 98.5%;
        margin-left: 1.5%;
        margin-top: 3%
    }

    .content h6 {
        font-size: 36px;
        letter-spacing: 5px;
        padding-left:2%;
    }

    .content strong {
        color: #3a8bd0;
        font-size: 30px;
        font-weight: bold;
    }

    .content p {
        font-size: 30px;
        font-weight: bold;
    }

    .content .OnClick {
        background-image: url(ScanDetailImg/Close.png);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #f2f2f2;
        border: none;
        margin-top: 1%;
        height: 35px;
    }

    .content .NorClick {
        background-image: url(ScanDetailImg/Open.png);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #f2f2f2;
        border: none;
        margin-top: 1%;
        height: 35px;
    }

.title {
    text-align: center;
    vertical-align: middle;
    margin-top: 3%;
    font-size: 30px;
}

.detail_t {
    margin-left: 2%;
}

.detail_b {
    font-size: 30px;
}

.feed-back {
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 999;
}

.info {
    position: fixed;
    font-size: 35px;
    letter-spacing: 70px;
    z-index: 999;
    bottom: 3%;
}

.testInfo {
    position: fixed;
    z-index: 999;
    bottom: 3%;
    font-size: 35px;
}

.info span {
    font-size: 35px;
    width: 120px;
    height: 81px;
    border-radius: 12px;
}
