@{
    ViewData["Title"] = "首页";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
<script src="http://api.map.baidu.com/api?v=2.0&ak=3ce7ddfda60046708248ea55e10b1435"></script>
<script>
    var option = {
        Init: function () {
            this.InitDom();
            this.InitEvent();
            this.InitMap();
        },
        InitDom: function () {
            //获取当前页面可见高度，给视频盒子设置高度
            let HC = document.body.clientHeight;
            $("#center-video").css({ height: HC });
            //视频图片点击事件
            $(".item2 .content2 img").on("click", function () {
                controller.OpenWindow({
                        title: "视频播放",
                        type: 2,
                        btn: [],
                        maxmin: false,
                        height: "480px",
                        width: "520px",
                        url: "StaticHtml/PlayVedio.html?addr=" + $(this).attr("Vedio") + "&cover=" + $(this).attr("src"),
                        callBack: function (result) {
                            result.popClose();
                        }
                    });
            });
            //关闭视频窗口
            $("#center-video .shut").on("click", function () {
                $("#center-video").css({ display: "none" });
            });
            //获取视频
            controller.ajax({
                url: "EnterpriseWeb/GetVedioPage",
                data: { pageSize: 4, pageNumber: 1, QueryParam: { IsIndex: true } },
                async: false,
                type: "post",
                success: function (result) {
                    $(".item2 .content2 img").each(function (i, obj) {
                        if (result.data.rows[i] != undefined)
                            $(this).attr("title", result.data.rows[i].VedioName).attr("vedio", result.data.rows[i].VedioAddr).attr("src", result.data.rows[i].VedioCover);
                    });
                }
            });
        },
        InitEvent: function () {

        },
        InitMap: function () {

        }
    };
    $(document).ready(function () {
        option.Init();
    });
</script>
}
@section css{
<style>
    #Edit {
        box-sizing: border-box;
        padding: 30px;
        color: #404040;
    }
    /*共有样式*/
    .section {
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .item {
        border-radius: 8px;
        background: #fff;
        box-shadow: 0px 4px 16px 0px rgba(47,64,80,0.16);
    }

        .item .title {
            padding: 0 15px;
            height: 50px;
            font-size: 18px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #E6E6E6;
        }

            .item .title div {
                background: #239FE6;
                width: 4px;
                height: 18px;
                margin-right: 8px;
            }

        .item .content {
            padding: 15px;
        }
    /*第一个区域样式*/
    .section1 .item1 {
        width: 24%;
        height: 140px;
    }

        .section1 .item1 .content0 {
            display: flex;
            align-items: center;
        }

        .section1 .item1 .left {
            margin-right: 20px;
            width: 56px;
            height: 56px;
            border-radius: 28px;
            background: url("/Content/Company/images/firm_index.png") center center no-repeat;
        }

        .section1 .item1 .right {
            min-width: 62%;
        }

            .section1 .item1 .right p {
                font-size: 16px;
                line-height: 24px;
            }

                .section1 .item1 .right p:last-child {
                    margin-bottom: 0;
                }

                .section1 .item1 .right p span {
                    color: #000;
                    font-weight: bold;
                }
    /*第二个区域样式*/
    .section2 .item2 {
        width: 24%;
        height: 320px;
    }

        .section2 .item2:first-child {
            width: 49.5%;
        }

    .section2 .item2-3 {
        overflow: hidden;
    }

        .section2 .item2-3 .item2-item {
            float: left;
            width: 48%;
            height: 155px;
        }

            .section2 .item2-3 .item2-item:nth-child(1), .section2 .item2-3 .item2-item:nth-child(3) {
                margin-right: 4%;
            }

            .section2 .item2-3 .item2-item:nth-child(1), .section2 .item2-3 .item2-item:nth-child(2) {
                margin-bottom: 10px;
            }

    .section2 .item2 .content1 {
        padding-bottom: 0;
    }

        .section2 .item2 .content1 a {
            display: inline-block;
            width: 18%;
            height: 110px;
            margin-right: 1%;
            margin-bottom: 15px;
            text-align: center;
            font-size: 16px;
            color: #404040;
        }

            .section2 .item2 .content1 a img {
                width: 50px;
                height: 50px;
                margin: 10px 0;
            }

    .section2 .item2 .content2 img {
        margin-left: 12px;
        cursor: pointer;
        height: 75px !important;
        width: 75px !important;
    }
    /*第三个区域样式*/
    .section3 .item3 {
        width: 30%;
        height: 320px;
    }

        .section3 .item3:nth-child(2) {
            width: 36%;
        }

        .section3 .item3 .content3 div {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            .section3 .item3 .content3 div p {
                width: 16%;
            }

            .section3 .item3 .content3 div .progress {
                height: 16px;
                border-radius: 8px;
                margin-bottom: 0;
                width: 60%;
            }

            .section3 .item3 .content3 div span {
                width: 16%;
            }

            .section3 .item3 .content3 div .progress .bar {
                background: #3FC8F6;
                height: 16px;
                border-radius: 8px 0 0 8px;
            }
    /*地图样式*/
    #Map {
        width: 100%;
        height: 600px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0px 4px 16px 0px rgba(47,64,80,0.16);
    }
</style>
}
<form id="Edit">
    <!--第一个区域-->
    <div class="section section1">
        <div class="item item1">
            <div class="title">
                <div></div>
                周产量
            </div>
            <div class="content content0">
                <div class="left" style="background-color: #FCB600;"></div>
                <div class="right">
                    <p>周产量：<span name="">452,451</span></p>
                    <p>较上周：<img src="~/Content/Company/images/firm_up.png" />&nbsp;<span name="">245吨</span></p>
                </div>
            </div>
        </div>
        <div class="item item1">
            <div class="title">
                <div></div>
                月产量
            </div>
            <div class="content content0">
                <div class="left" style="background-color: #00D1CE;"></div>
                <div class="right">
                    <p>月产量：<span name="">452,451</span></p>
                    <p>较上月：<img src="~/Content/Company/images/firm_up.png" />&nbsp;<span name="">245吨</span></p>
                </div>
            </div>
        </div>
        <div class="item item1">
            <div class="title">
                <div></div>
                年产量
            </div>
            <div class="content content0">
                <div class="left" style="background-color: #36C3FF;"></div>
                <div class="right">
                    <p>年产量：<span name="">452,451</span></p>
                    <p>较去年：<img src="~/Content/Company/images/firm_up.png" />&nbsp;<span name="">245吨</span></p>
                </div>
            </div>
        </div>
        <div class="item item1">
            <div class="title">
                <div></div>
                批次统计
            </div>
            <div class="content content0">
                <div class="left" style="background-color: #AF6CC1;"></div>
                <div class="right">
                    <p>批次总量：<span name="">452,451</span></p>
                    <p>较上周：<img src="~/Content/Company/images/firm_up.png" />&nbsp;<span name="">245吨</span></p>
                </div>
            </div>
        </div>
    </div>
    <!--第二个区域-->
    <div class="section section2">
        <div class="item item2">
            <div class="title">
                <div></div>
                常用功能
            </div>
            <div class="content content1">
                <a href="/WebCompanyManage/Base/UserManage">
                    <img src="~/Content/Company/images/firm_cygn1.png" />
                    <p>人员管理</p>
                </a>
                <a href="/WebCompanyManage/ThingCode/OneCode">
                    <img src="~/Content/Company/images/firm_cygn2.png" />
                    <p>一物一码</p>
                </a>
                <a href="/WebCompanyManage/Seller/Supplier">
                    <img src="~/Content/Company/images/firm_cygn3.png" />
                    <p>供应商</p>
                </a>
                <a href="/WebCompanyManage/Seller/Production">
                    <img src="~/Content/Company/images/firm_cygn4.png" />
                    <p>生产商</p>
                </a>
                <a href="/WebCompanyManage/Seller/Distribution">
                    <img src="~/Content/Company/images/firm_cygn5.png" />
                    <p>分销商</p>
                </a>
                <a href="/WebCompanyManage/Logistics/SendGoods">
                    <img src="~/Content/Company/images/firm_cygn6.png" />
                    <p>发货管理</p>
                </a>
                <a href="/WebCompanyManage/Product/Series">
                    <img src="~/Content/Company/images/firm_cygn7.png" />
                    <p>产品系列</p>
                </a>
                <a href="/WebCompanyManage/Goods/GoodsList">
                    <img src="~/Content/Company/images/firm_cygn8.png" />
                    <p>产品列表</p>
                </a>
                <a href="/WebCompanyManage/Goods/Stock">
                    <img src="~/Content/Company/images/firm_cygn9.png" />
                    <p>产品仓库</p>
                </a>
                <a href="/WebCompanyManage/Quality/GoodsCheck">
                    <img src="~/Content/Company/images/firm_cygn10.png" />
                    <p>产品质检</p>
                </a>
            </div>
        </div>
        <div class="item item2">
            <div class="title">
                <div></div>
                库存
            </div>

        </div>
        <div class="item2 item2-3">
            <div class="item item2-item">
                <div class="title">
                    <div></div>
                    视频一
                </div>
                <div class="content content2">
                    <img src="" title="暂无视频" />
                </div>
            </div>
            <div class="item item2-item">
                <div class="title">
                    <div></div>
                    视频二
                </div>
                <div class="content content2">
                    <img src="" title="暂无视频" />
                </div>
            </div>

            <div class="item item2-item">
                <div class="title">
                    <div></div>
                    视频三
                </div>
                <div class="content content2">
                    <img src="" title="暂无视频"/>
                </div>
            </div>
            <div class="item item2-item">
                <div class="title">
                    <div></div>
                    视频四
                </div>
                <div class="content content2">
                    <img title="暂无视频"/>
                </div>
            </div>
        </div>


    </div>
    <!--第三个区域-->
    <div class="section section3">
        <div class="item item3">
            <div class="title">
                <div></div>
                数据统计
            </div>
            <div class="content content3">
                <div>
                    <p>产品系列</p>
                    <div class="progress">
                        <div class="bar" style="width: 60%;"></div>
                    </div>
                    <span name="">2000</span>
                </div>
                <div>
                    <p>产品总量</p>
                    <div class="progress">
                        <div class="bar" style="width: 60%;"></div>
                    </div>
                    <span name="">50000</span>
                </div>
                <div>
                    <p>供应商数量</p>
                    <div class="progress">
                        <div class="bar" style="width: 60%;"></div>
                    </div>
                    <span span="">30000</span>
                </div>
                <div>
                    <p>经销商数量</p>
                    <div class="progress">
                        <div class="bar" style="width: 60%;"></div>
                    </div>
                    <span name="">4000</span>
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="title">
                <div></div>
                质量统计
            </div>

        </div>
        <div class="item item3">
            <div class="title">
                <div></div>
                溯源统计
            </div>

        </div>
    </div>
    <!--地图区域-->
    <div id="Map"></div>
</form>