
@{
    ViewData["Title"] = "首页";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        var option = {
            Init: function () {
                this.IntDom();
                this.InitEvent();
            },
            IntDom: function () {
                $("body").addClass("gray-bg");
                //数据统计
                controller.ajax({
                    url: "EnterpriseWeb/GetDataCount",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        $.each(result.data, function (obj, i) {
                            $("[name='" + obj + "']", $("#data1")).text(i);
                            $("[name='" + obj + "']", $("#data2")).text(i);
                            $("[name='" + obj + "']", $("#data3")).text(i);
                        })
                    }
                });
                //产量统计
                controller.ajax({
                    url: "EnterpriseWeb/GetPieCount",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        controller.Echarts("#echarts-pie-chart", result.data);
                    }
                });
                //批次统计
                controller.ajax({
                    url: "EnterpriseWeb/GetPieCountBatch",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        controller.Echarts("#echarts-pie-chart-batch", result.data);
                    }
                });
            },
            InitEvent: function () {
                //显示或隐藏
                $(".collapse-link").on('click', function () {
                    var ibox = $(this.closest('div.ibox'));
                    var i = $(this).find("i");
                    var content = ibox.find("div.ibox-content");
                    content.slideToggle(200);
                    i.toggleClass("fa-chevron-up").toggleClass("fa-chevron-down");
                    ibox.toggleClass("").toggleClass("border-bottom");
                    setTimeout(function () {
                        ibox.resize();
                        ibox.find("[id^=map-]").resize();
                    }, 50);
                });
                //关闭
                $(".close-link").click(function () {
                    var ibox = $(this).closest("div.ibox");
                    ibox.hide()
                });
            }
        };
        $(document).ready(function () {
            option.Init();
        });
    </script>
}
@section css{
    <style>
        .noborder {
            border: none;
        }
    </style>
}
<form id="Edit">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>数据统计</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="background-color:#f8f8f8;">
                        <table class="table table-hover no-margins">
                            <thead>
                                <tr>
                                    <th>产品系列</th>
                                    <th>产品种类</th>
                                    <th>供应商数量</th>
                                    <th>经销商数量</th>
                                </tr>
                            </thead>
                            <tbody id="data1">
                                <tr>
                                    <td name="Series"></td>
                                    <td name="Goods"></td>
                                    <td name="Supplier"></td>
                                    <td name="Sale"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>质量统计</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="background-color:#f8f8f8;">
                        <table class="table table-hover no-margins">
                            <thead>
                                <tr>
                                    <th>不合格品数量</th>
                                    <th>过期产品数量</th>
                                    <th>产品召唤数量</th>
                                    <th>投诉数量</th>
                                </tr>
                            </thead>
                            <tbody id="data2">
                                <tr>
                                    <td name="VeinTag"></td>
                                    <td name="TagClass"></td>
                                    <td name="TagThing"></td>
                                    <td name="Info"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>溯源统计</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="background-color:#f8f8f8;">
                        <table class="table table-hover no-margins">
                            <thead>
                                <tr>
                                    <th>纹理二维码</th>
                                    <th>一品一码</th>
                                    <th>一物一码</th>
                                    <th>扫码次数</th>
                                </tr>
                            </thead>
                            <tbody id="data3">
                                <tr>
                                    <td name="VeinTag"></td>
                                    <td name="TagClass"></td>
                                    <td name="TagThing"></td>
                                    <td name="Info"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>产量统计</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="echarts" id="echarts-pie-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>批次统计</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="echarts" id="echarts-pie-chart-batch"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>