@{
    ViewData["Title"] = "首页";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
<script src="http://api.map.baidu.com/api?v=2.0&ak=3ce7ddfda60046708248ea55e10b1435"></script>
<script>
    var option = {
        Init: function () {
            this.InitDom();
            this.InitEvent();
            this.InitMap();
        },
        InitDom: function () {

        },
        InitEvent: function () {

        },
        InitMap: function () {

        }
    };
    $(document).ready(function () {
        option.Init();
    });
</script>

}
@section css{
<style>
</style>
}
<form id="Edit">
    
</form>