@{
    ViewData["Title"] = "首页";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=3ce7ddfda60046708248ea55e10b1435"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/AreaRestriction/1.2/src/AreaRestriction_min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.min.js"></script>
    <script src="~/Content/Tabs/contabsiframe.js"></script>
    <script>
        var option = {
            Init: function () {
                this.InitDom();
                this.InitMap();
                this.InitEvent();
            },
            InitDom: function () {
                //初始化显示
                if (CompanyInfo.CompanyType == "40" || CompanyInfo.CompanyType == "50") {
                    $(".ts").each(function (i, item) {
                        $(this).html($(this).html().replace(new RegExp("产量", "g"), "销量"));
                    })
                }
                //视频图片点击事件
                $(".item2 .content2 img").on("click", function () {
                    controller.OpenWindow({
                        title: "视频播放",
                        type: 2,
                        btn: [],
                        maxmin: false,
                        height: "480px",
                        width: "520px",
                        url: "StaticHtml/PlayVedio.html?addr=" + $(this).attr("Vedio") + "&cover=" + $(this).attr("src"),
                        callBack: function (result) {
                            result.popClose();
                        }
                    });
                });
                //关闭视频窗口
                $("#center-video .shut").on("click", function () {
                    $("#center-video").css({ display: "none" });
                });
                //获取视频
                controller.ajax({
                    url: "EnterpriseWeb/GetVedioPage",
                    data: { pageSize: 4, pageNumber: 1, QueryParam: { IsIndex: true } },
                    async: false,
                    type: "post",
                    success: function (result) {
                        if (result.data.rows.length == 0) {
                            $(".item2 .content2").html("暂无视频");
                        } else {
                            $(".item2 .content2 img").each(function (i, obj) {
                                if (result.data.rows[i] != null) {
                                    if (result.data.rows[i].VedioCover == undefined || result.data.rows[i].VedioCover == null) {
                                        result.data.rows[i].VedioCover = "http://system.cfda.vip/Content/HPlus/img/Nopic.jpg";
                                    }
                                    if (result.data.rows[i] != undefined)
                                        $(this).attr("title", result.data.rows[i].VedioName).attr("vedio", result.data.rows[i].VedioAddr).attr("src", result.data.rows[i].VedioCover);
                                }
                            });
                        }
                    }
                });
                //给左侧按钮注册点击事件，点击时隐藏或显示右侧停靠栏盒子
                let flag = true;
                $(".left-btn").on('click', function () {
                    if (flag == true) {
                        flag = false;
                        $('.right-tab').css({
                            right: -410 + 'px',
                            transition: 'right 1s'
                        });
                        $(this).text("<");
                    } else {
                        flag = true;
                        $('.right-tab').css({
                            right: 0,
                            transition: 'right 1s'
                        });
                        $(this).text(">");
                    }
                });
                //分销商模糊查询
                $('#search').click(function () {
                    var text = $('#input').val();
                    if ($.trim(text) != "") {
                        $("#Distributor li").hide().filter(":contains('" + text + "')").show();
                    }
                });
            },
            InitEvent: function () {
                //数据统计
                controller.ajax({
                    url: "EnterpriseWeb/GetDataCount",
                    data: { Id: CompanyInfo.Id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        controller.SetLableValue(".content3", result.data);
                        controller.Echarts("#echarts-pie-chart-safe", result.data.dataCount);
                        controller.Echarts("#echarts-pie-chart-source", result.data.dataCounts);
                        //动态设置进度条宽度
                        let sum = $(".content3").width(); //进度条总宽度
                        let sum1 = 0.01; //进度条的0.01代表1
                        let sum2 = 0.1; //进度条的0.1代表1
                        $(".content3 .product:first .bar").css({ width: result.data.Series * sum * sum1 });
                        $(".content3 .product:last .bar").css({ width: result.data.Goods * sum * sum1 });
                        $(".content3 .business:first .bar").css({ width: result.data.Supplier * sum * sum2 });
                        $(".content3 .business:last .bar").css({ width: result.data.Sale * sum * sum2 });
                    }
                });
                //产量统计
                controller.ajax({
                    url: "EnterpriseWeb/GetPieCount",
                    data: { Id: CompanyInfo.Id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        controller.SetLableValue(".section1", result.data);
                    }
                });
                //批次统计
                controller.ajax({
                    url: "EnterpriseWeb/GetPieCountBatch",
                    data: { Id: CompanyInfo.Id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        controller.Echarts("#echarts-pie-chart-batch", result.data);
                    }
                });
            },
            //地图
            InitMap: function () {
                let Country = "中华人民共和国";//行政区域
                let myIcon = new BMap.Icon("http://system.cfda.vip/content/HPlus/img/lightblue.png", new BMap.Size(26, 33));//自定义图标地址及大小设置
                var Map = new BMap.Map("Map");//在百度地图容器中创建一个地图
                var Point = new BMap.Point(CompanyInfo.LngAndLat.split(",")[0], CompanyInfo.LngAndLat.split(",")[1]);//定义一个中心点坐标
                Map.centerAndZoom(Point, 5);// 初始化地图,设置中心点坐标和地图级别
                Map.enableScrollWheelZoom();//启用地图滚轮放大缩小
                addDistrict(Country, Map)//添加行政区域
                var markers = new BMap.Marker(Point, { icon: myIcon });//自定义坐标点图标
                Map.addOverlay(markers);//画企业坐标点，即：地图中心点
                controller.ajax({
                    url: "EnterpriseWeb/GetReceipt",
                    data: {},
                    async: false,
                    type: "post",
                    success: function (result) {
                        $.each(result.data, function (i, obj) {
                            $.ajax({
                                url: "http://api.map.baidu.com/geocoder/v2/?address=" + obj.Address + "&output=json&ak=3ce7ddfda60046708248ea55e10b1435",//逆解析地址
                                type: "get",
                                async: false,
                                dataType: "jsonp",
                                success: function (result) {
                                    //逆解析得到坐标点经纬度
                                    let myIcon = new BMap.Icon("http://system.cfda.vip/content/HPlus/img/red.png", new BMap.Size(26, 33));
                                    let marker = new BMap.Marker(new BMap.Point(result.result.location.lng, result.result.location.lat), { icon: myIcon });
                                    marker.setAnimation(BMAP_ANIMATION_BOUNCE);//跳动的动画
                                    //发货路线图连线
                                    function drawLine() {
                                        var polyline = new BMap.Polyline([
                                            new BMap.Point(CompanyInfo.LngAndLat.split(",")[0], CompanyInfo.LngAndLat.split(",")[1]),//起始点的经纬度
                                            new BMap.Point(marker.point.lng, marker.point.lat)//终点的经纬度
                                        ],
                                            {
                                                enableEditing: false,//是否启用线编辑，默认为false
                                                enableClicking: true,//是否响应点击事件，默认为true
                                                strokeColor: "#f60",//设置颜色
                                                strokeWeight: 2, //宽度
                                                strokeOpacity: 1, //透明度
                                                strokeStyle: "dashed"//虚线，默认为实线
                                            });
                                        Map.addOverlay(polyline);//画折线
                                    }
                                    drawLine();
                                    //分销商坐标点点击弹出框
                                    Map.addOverlay(marker);
                                    marker.addEventListener('click', function (e) {
                                        var InfoWin = '<table class="table table-bordered">' +
                                            '<tr><th>分销商名称</th> <td>' + obj.GainUser + '</td></tr>' +
                                            '<tr><th>分销商电话</th><td>' + obj.LinkPhone + '</td></tr>' +
                                            '<tr><th>分销商地址</th><td>' + obj.Address + '</td></tr></table>'
                                        var p = e.target;
                                        var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
                                        var infoWindow = new BMap.InfoWindow(InfoWin);  // 创建信息窗口对象
                                        Map.openInfoWindow(infoWindow, point); //开启信息窗口
                                    });
                                }
                            });
                            if (obj.DistributorImg == null) obj.DistributorImg = "http://system.cfda.vip/content/HPlus/img/Nopic.jpg";
                            var Distributor = `
                                    <li>
                                        <img src="${obj.DistributorImg}">
                                        <div>
                                            <h4>${obj.GainUser}</h4>
                                            <p>发货状态：<span>${obj.FlagName}</span></p>
                                            <p>联系电话：<span>${obj.LinkPhone}</span></p>
                                            <p>收货地址：<span>${obj.Address}</span></p>
                                        </div>
                                    </li>`;
                            //加载列表
                            $("#Distributor").append(Distributor);
                        });
                        $("#Num").html(result.data.length);
                    }
                });
                //企业坐标点点击弹出框
                markers.addEventListener('click', function (e) {
                    var InfoWin = '<table class="table table-bordered">' +
                        '<tr><th>企业名称</th> <td>' + CompanyInfo.CompanyName + '</td></tr>' +
                        '<tr><th>企业地址</th><td>' + CompanyInfo.CompanyAddress + '</td></tr></table>'
                    var p = e.target;
                    var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
                    var infoWindow = new BMap.InfoWindow(InfoWin);  // 创建信息窗口对象
                    Map.openInfoWindow(infoWindow, point); //开启信息窗口
                });
            }
        };
        $(document).ready(function () {
            option.Init();
        });

        /* 行政区划高亮显示 */
        var blist = [];
        var districtLoading = 0;

        /* 添加行政区域 */
        function addDistrict(districtName, map) {
            //使用计数器来控制加载过程
            districtLoading++;
            var bdary = new BMap.Boundary();
            bdary.get(districtName, function (rs) {//获取行政区域
                var count = rs.boundaries.length;//行政区域的点有多少个
                if (count === 0) {
                    console.log('未能获取当前行政区域');
                    return;
                }
                for (var i = 0; i < count; i++) {
                    blist.push({ points: rs.boundaries[i], name: districtName });
                };
                //加载完成区域点后计数器-1
                districtLoading--;
                if (districtLoading == 0) {
                    //全加载完成后画端点
                    drawBoundary(map);
                }
            });
        };

        /* 绘制边界 */
        function drawBoundary(map) {
            //包含所有区域的点数组
            var pointArray = [];
            //循环添加各闭合区域
            for (var i = 0; i < blist.length; i++) {
                //添加多边形层并显示
                var ply = new BMap.Polygon(blist[i].points, {
                    strokeWeight: 2,
                    strokeColor: "#F00",
                    fillOpacity: 0.05,
                    fillColor: " #FF7F50"
                }); //建立多边形覆盖物
                ply.name = blist[i].name;
                map.addOverlay(ply);
            }
        }
    </script>
}
@section css{
    <link href="~/Content/Company/css/company.css" rel="stylesheet" />
}
<div id="Edit">
    <!--第一个区域-->
    <div class="section section1">
        <div class="item item1">
            <div class="title ts">
                <div></div>
                周产量
            </div>
            <div class="content content0">
                <div class="left" style="background-color: #FCB600;"></div>
                <div class="right">
                    <p class="ts">周产量：<span name="WeekDataCount"></span>件</p>
                    <p>较上周：<img src="~/Content/Company/images/firm_up.png" />&nbsp;<span name="TwoWeek"></span>件</p>
                </div>
            </div>
        </div>
        <div class="item item1">
            <div class="title ts">
                <div></div>
                月产量
            </div>
            <div class="content content0">
                <div class="left" style="background-color: #00D1CE;"></div>
                <div class="right">
                    <p class="ts">月产量：<span name="MonthDataCount"></span>件</p>
                    <p>较上月：<img src="~/Content/Company/images/firm_up.png" />&nbsp;<span name="TwoMonth"></span>件</p>
                </div>
            </div>
        </div>
        <div class="item item1">
            <div class="title ts">
                <div></div>
                年产量
            </div>
            <div class="content content0">
                <div class="left" style="background-color: #36C3FF;"></div>
                <div class="right">
                    <p class="ts">年产量：<span name="YearDataCount"></span>件</p>
                    <p>较去年：<img src="~/Content/Company/images/firm_up.png" />&nbsp;<span name="TwoYear"></span>件</p>
                </div>
            </div>
        </div>
        <div class="item item1">
            <div class="title">
                <div></div>
                库存统计
            </div>
            <div class="content content0">
                <div class="left" style="background-color: #AF6CC1;"></div>
                <div class="right">
                    <p>总量：<span name="Total"></span>件</p>
                    <p>同比数量：<img src="~/Content/Company/images/firm_up.png" />&nbsp;<span name="Totals"></span>件</p>
                </div>
            </div>
        </div>
    </div>
    <!--第二个区域-->
    <div class="section section2">
        <div class="item item2">
            <div class="title">
                <div></div>
                常用功能
            </div>
            <div class="content content1">
                <a class="J_menuItem" href="/WebCompanyManage/Base/UserManage">
                    <img src="~/Content/Company/images/firm_cygn1.png" />
                    <p>人员管理</p>
                </a>
                <a class="J_menuItem" href="/WebCompanyManage/ThingCode/OneCode">
                    <img src="~/Content/Company/images/firm_cygn2.png" />
                    <p>一物一码</p>
                </a>
                <a class="J_menuItem" href="/WebCompanyManage/Seller/Supplier">
                    <img src="~/Content/Company/images/firm_cygn3.png" />
                    <p>供应商</p>
                </a>
                <a class="J_menuItem" href="/WebCompanyManage/Seller/Production">
                    <img src="~/Content/Company/images/firm_cygn4.png" />
                    <p>生产商</p>
                </a>
                <a class="J_menuItem" href="/WebCompanyManage/Seller/Distribution">
                    <img src="~/Content/Company/images/firm_cygn5.png" />
                    <p>分销商</p>
                </a>
                <a class="J_menuItem" href="/WebCompanyManage/Logistics/SendGoods">
                    <img src="~/Content/Company/images/firm_cygn6.png" />
                    <p>发货管理</p>
                </a>
                <a class="J_menuItem" href="/WebCompanyManage/Product/Series">
                    <img src="~/Content/Company/images/firm_cygn7.png" />
                    <p>产品系列</p>
                </a>
                <a class="J_menuItem" href="/WebCompanyManage/Goods/GoodsList">
                    <img src="~/Content/Company/images/firm_cygn8.png" />
                    <p>产品列表</p>
                </a>
                <a class="J_menuItem" href="/WebCompanyManage/Goods/Stock">
                    <img src="~/Content/Company/images/firm_cygn9.png" />
                    <p>产品仓库</p>
                </a>
                <a class="J_menuItem" href="/WebCompanyManage/Quality/GoodsCheck">
                    <img src="~/Content/Company/images/firm_cygn10.png" />
                    <p>产品质检</p>
                </a>
            </div>
        </div>
        <div class="item item2">
            <div class="title">
                <div></div>
                批次统计
            </div>
            <div class="echarts" id="echarts-pie-chart-batch"></div>
        </div>
        <div class="item2 item2-3">
            <div class="item item2-item">
                <div class="title">
                    <div></div>
                    视频一
                </div>
                <div class="content content2">
                    <img src="" title="暂无视频" />
                </div>
            </div>
            <div class="item item2-item">
                <div class="title">
                    <div></div>
                    视频二
                </div>
                <div class="content content2">
                    <img src="" title="暂无视频" />
                </div>
            </div>

            <div class="item item2-item">
                <div class="title">
                    <div></div>
                    视频三
                </div>
                <div class="content content2">
                    <img src="" title="暂无视频" />
                </div>
            </div>
            <div class="item item2-item">
                <div class="title">
                    <div></div>
                    视频四
                </div>
                <div class="content content2">
                    <img title="暂无视频" />
                </div>
            </div>
        </div>

    </div>
    <!--第三个区域-->
    <div class="section section3">
        <div class="item item3">
            <div class="title">
                <div></div>
                数据统计
            </div>
            <div class="content content3">
                <div class="product">
                    <p>产品系列</p>
                    <div class="progress">
                        <div class="bar"></div>
                    </div>
                    <span name="Series"></span>
                </div>
                <div class="product">
                    <p>产品总量</p>
                    <div class="progress">
                        <div class="bar"></div>
                    </div>
                    <span name="Goods"></span>
                </div>
                <div class="business">
                    <p>供应商数量</p>
                    <div class="progress">
                        <div class="bar"></div>
                    </div>
                    <span name="Supplier"></span>
                </div>
                <div class="business">
                    <p>经销商数量</p>
                    <div class="progress">
                        <div class="bar"></div>
                    </div>
                    <span name="Sale"></span>
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="title">
                <div></div>
                质量统计
            </div>
            <div class="echarts" id="echarts-pie-chart-safe"></div>
        </div>
        <div class="item item3">
            <div class="title">
                <div></div>
                溯源统计
            </div>
            <div class="echarts" id="echarts-pie-chart-source"></div>
        </div>
    </div>
    <!--地图区域-->
    <div class="section4">
        <div id="Map"></div>
        <!-- 右侧停靠栏 -->
        <div class="right-tab">
            <div class="left-btn">></div>
            <div class="form">
                <input type="text" name="" id="input" placeholder="请输入查询关键词">
                <input type="button" id="search" value="查找">
            </div>
            <div class="list">
                <div class="msg">
                    <img src="/content/Hplus/img/map.png">
                    <div id="Area"></div>
                    <div>共&nbsp;<span id="Num">0</span>&nbsp;个发货批次</div>
                </div>
                <ul id="Distributor"></ul>
            </div>
        </div>
    </div>
</div>