@{
    ViewData["Title"] = "首页";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
<script>
    var option = {
        Init: function () {
            this.InitDom();
            this.InitMap();
            this.InitEvent();
        },
        InitDom: function () {
            //初始化显示
            if (CompanyInfo.CompanyType == "40" || CompanyInfo.CompanyType == "50") {
                $(".title").each(function (i, item) {
                    $(this).html($(this).html().replace(new RegExp("产量", "g"), "销量"));
                })
            }
            //视频图片点击事件
            $(".item2 .content2 img").on("click", function () {
                controller.OpenWindow({
                    title: "视频播放",
                    type: 2,
                    btn: [],
                    maxmin: false,
                    height: "480px",
                    width: "520px",
                   url: "StaticHtml/PlayVedio.html?addr=" + $(this).attr("Vedio") + "&cover=" + $(this).attr("src"),
                    callBack: function (result) {
                        result.popClose();
                    }
                });
            });
            //关闭视频窗口
            $("#center-video .shut").on("click", function () {
                $("#center-video").css({ display: "none" });
            });
            //获取视频
            controller.ajax({
                url: "EnterpriseWeb/GetVedioPage",
                data: { pageSize: 4, pageNumber: 1, QueryParam: { IsIndex: true } },
                async: false,
                type: "post",
                success: function (result) {
                    if (result.data.rows.length == 0) {
                        $(".item2 .content2").html("暂无视频");
                    } else {
                        $(".item2 .content2 img").each(function (i, obj) {
                            if (result.data.rows[i].VedioCover == undefined || result.data.rows[i].VedioCover == null) {
                                result.data.rows[i].VedioCover = "http://system.cfda.vip/Content/HPlus/img/Nopic.jpg";
                            }
                            if (result.data.rows[i] != undefined)
                                $(this).attr("title", result.data.rows[i].VedioName).attr("vedio", result.data.rows[i].VedioAddr).attr("src", result.data.rows[i].VedioCover);
                        });
                    }
                }
            });
        },
        InitEvent: function () {
            //数据统计
            controller.ajax({
                url: "EnterpriseWeb/GetDataCount",
                data: { Id: CompanyInfo.Id },
                type: "post",
                async: false,
                success: function (result) {
                    controller.SetLableValue(".content3", result.data);
                    controller.Echarts("#echarts-pie-chart-safe", result.data.dataCount);
                    controller.Echarts("#echarts-pie-chart-source", result.data.dataCounts);
                    //动态设置进度条宽度
                    let sum = $(".content3").width(); //进度条总宽度
                    let sum1 = 0.01; //进度条的0.01代表1
                    let sum2 = 0.1; //进度条的0.1代表1
                    $(".content3 .product:first .bar").css({ width: result.data.Series * sum * sum1 });
                    $(".content3 .product:last .bar").css({ width: result.data.Goods * sum * sum1 });
                    $(".content3 .business:first .bar").css({ width: result.data.Supplier * sum * sum2 });
                    $(".content3 .business:last .bar").css({ width: result.data.Sale * sum * sum2 });
                }
            });
            //产量统计
            controller.ajax({
                url: "EnterpriseWeb/GetPieCount",
                data: { Id: CompanyInfo.Id },
                type: "post",
                async: false,
                success: function (result) {
                    controller.SetLableValue(".section1", result.data);
                }
            });
            //批次统计
            controller.ajax({
                url: "EnterpriseWeb/GetPieCountBatch",
                data: { Id: CompanyInfo.Id },
                type: "post",
                async: false,
                success: function (result) {
                    controller.Echarts("#echarts-pie-chart-batch", result.data);
                }
            });
        },
        InitMap: function () {
            controller.ajax({
                url: "EnterpriseWeb/GetReceipt",
                data: {},
                async: false,
                type: "post",
                success: function (result) {
                    $.each(result.data, function (i, obj) {
                        $.ajax({
                            url: "http://api.map.baidu.com/geocoder/v2/?address=" + obj.Address + "&output=json&ak=3ce7ddfda60046708248ea55e10b1435",
                            type: "get",
                            async: false,
                            dataType: "jsonp",
                            success: function (result) {
                                var marker = new BMap.Marker(new BMap.Point(result.result.location.lng, result.result.location.lat));
                                Map.addOverlay(marker);
                                marker.addEventListener('click', function (e) {
                                    var InfoWin = '<table class="table table-bordered">' +
                                        '<tr><th>分销商名称</th> <td>' + obj.GainUser + '</td></tr>' +
                                        '<tr><th>分销商电话</th><td>' + obj.LinkPhone + '</td></tr>' +
                                        '<tr><th>分销商地址</th><td>' + obj.Address + '</td></tr></table>'
                                    var p = e.target;
                                    var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
                                    var infoWindow = new BMap.InfoWindow(InfoWin);  // 创建信息窗口对象
                                    Map.openInfoWindow(infoWindow, point); //开启信息窗口
                                });
                            }
                        });
                    });
                }
            });
        }
    };
    $(document).ready(function () {
        option.Init();
    });
</script>
}
@section css{
<link href="~/Content/Company/css/company.css" rel="stylesheet" />
}
<form id="Edit">
    <!--第一个区域-->
    <div class="section section1">
        <div class="item item1">
            <div class="title">
                <div></div>
                周产量
            </div>
            <div class="content content0">
                <div class="left" style="background-color: #FCB600;"></div>
                <div class="right">
                    <p>周产量：<span name="WeekDataCount"></span>件</p>
                    <p>较上周：<img src="~/Content/Company/images/firm_up.png" />&nbsp;<span name="TwoWeek"></span>件</p>
                </div>
            </div>
        </div>
        <div class="item item1">
            <div class="title">
                <div></div>
                月产量
            </div>
            <div class="content content0">
                <div class="left" style="background-color: #00D1CE;"></div>
                <div class="right">
                    <p>月产量：<span name="MonthDataCount"></span>件</p>
                    <p>较上月：<img src="~/Content/Company/images/firm_up.png" />&nbsp;<span name="TwoMonth"></span>件</p>
                </div>
            </div>
        </div>
        <div class="item item1">
            <div class="title">
                <div></div>
                年产量
            </div>
            <div class="content content0">
                <div class="left" style="background-color: #36C3FF;"></div>
                <div class="right">
                    <p>年产量：<span name="YearDataCount"></span>件</p>
                    <p>较去年：<img src="~/Content/Company/images/firm_up.png" />&nbsp;<span name="TwoYear"></span>件</p>
                </div>
            </div>
        </div>
        <div class="item item1">
            <div class="title">
                <div></div>
                库存统计
            </div>
            <div class="content content0">
                <div class="left" style="background-color: #AF6CC1;"></div>
                <div class="right">
                    <p>总量：<span name="Total"></span>件</p>
                    <p>同比数量：<img src="~/Content/Company/images/firm_up.png" />&nbsp;<span name="Totals"></span>件</p>
                </div>
            </div>
        </div>
    </div>
    <!--第二个区域-->
    <div class="section section2">
        <div class="item item2">
            <div class="title">
                <div></div>
                常用功能
            </div>
            <div class="content content1">
                <a href="/WebCompanyManage/Base/UserManage">
                    <img src="~/Content/Company/images/firm_cygn1.png" />
                    <p>人员管理</p>
                </a>
                <a href="/WebCompanyManage/ThingCode/OneCode">
                    <img src="~/Content/Company/images/firm_cygn2.png" />
                    <p>一物一码</p>
                </a>
                <a href="/WebCompanyManage/Seller/Supplier">
                    <img src="~/Content/Company/images/firm_cygn3.png" />
                    <p>供应商</p>
                </a>
                <a href="/WebCompanyManage/Seller/Production">
                    <img src="~/Content/Company/images/firm_cygn4.png" />
                    <p>生产商</p>
                </a>
                <a href="/WebCompanyManage/Seller/Distribution">
                    <img src="~/Content/Company/images/firm_cygn5.png" />
                    <p>分销商</p>
                </a>
                <a href="/WebCompanyManage/Logistics/SendGoods">
                    <img src="~/Content/Company/images/firm_cygn6.png" />
                    <p>发货管理</p>
                </a>
                <a href="/WebCompanyManage/Product/Series">
                    <img src="~/Content/Company/images/firm_cygn7.png" />
                    <p>产品系列</p>
                </a>
                <a href="/WebCompanyManage/Goods/GoodsList">
                    <img src="~/Content/Company/images/firm_cygn8.png" />
                    <p>产品列表</p>
                </a>
                <a href="/WebCompanyManage/Goods/Stock">
                    <img src="~/Content/Company/images/firm_cygn9.png" />
                    <p>产品仓库</p>
                </a>
                <a href="/WebCompanyManage/Quality/GoodsCheck">
                    <img src="~/Content/Company/images/firm_cygn10.png" />
                    <p>产品质检</p>
                </a>
            </div>
        </div>
        <div class="item item2">
            <div class="title">
                <div></div>
                批次统计
            </div>
            <div class="echarts" id="echarts-pie-chart-batch"></div>
        </div>
        <div class="item2 item2-3">
            <div class="item item2-item">
                <div class="title">
                    <div></div>
                    视频一
                </div>
                <div class="content content2">
                    <img src="" title="暂无视频" />
                </div>
            </div>
            <div class="item item2-item">
                <div class="title">
                    <div></div>
                    视频二
                </div>
                <div class="content content2">
                    <img src="" title="暂无视频" />
                </div>
            </div>

            <div class="item item2-item">
                <div class="title">
                    <div></div>
                    视频三
                </div>
                <div class="content content2">
                    <img src="" title="暂无视频" />
                </div>
            </div>
            <div class="item item2-item">
                <div class="title">
                    <div></div>
                    视频四
                </div>
                <div class="content content2">
                    <img title="暂无视频" />
                </div>
            </div>
        </div>

    </div>
    <!--第三个区域-->
    <div class="section section3">
        <div class="item item3">
            <div class="title">
                <div></div>
                数据统计
            </div>
            <div class="content content3">
                <div class="product">
                    <p>产品系列</p>
                    <div class="progress">
                        <div class="bar"></div>
                    </div>
                    <span name="Series"></span>
                </div>
                <div class="product">
                    <p>产品总量</p>
                    <div class="progress">
                        <div class="bar"></div>
                    </div>
                    <span name="Goods"></span>
                </div>
                <div class="business">
                    <p>供应商数量</p>
                    <div class="progress">
                        <div class="bar"></div>
                    </div>
                    <span name="Supplier"></span>
                </div>
                <div class="business">
                    <p>经销商数量</p>
                    <div class="progress">
                        <div class="bar"></div>
                    </div>
                    <span name="Sale"></span>
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="title">
                <div></div>
                质量统计
            </div>
            <div class="echarts" id="echarts-pie-chart-safe"></div>
        </div>
        <div class="item item3">
            <div class="title">
                <div></div>
                溯源统计
            </div>
            <div class="echarts" id="echarts-pie-chart-source"></div>
        </div>
    </div>
    <!--地图区域-->
    <div id="Map"></div>
</form>