
@{
    ViewData["Title"] = "Msg";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        $(function () {
            controller.ajax({
                url: "system/GetMsgDetail",
                type: "get",
                data: { Id: controller.GetParam("Id") },
                async: false,
                success: function (res) {
                    controller.SetLableValue("#Edit", res.data);
                }
            });
        });
    </script>
}
<form id="Edit">
    <table class="table table-bordered m-t-sm">
        <tr>
            <th style="text-align:center"><label class="control-label">名称</label></th>
            <td class="has-warning">
                <label type="txt" name="Title"></label>
            </td>
            <th style="text-align:center"><label class="control-label">消息内容</label></th>
            <td class="has-warning">
                <label type="txt" name="Content"></label>
            </td>
        </tr>
        <tr>
            <th style="text-align:center"><label class="control-label">状态</label></th>
            <td class="has-warning">
                <label type="txt" name="Status"></label>
            </td>
            <th style="text-align:center"><label class="control-label">类别</label></th>
            <td class="has-warning">
                <label type="txt" name="Category"></label>
            </td>
        </tr>
        <tr>
            <th style="text-align:center"><label class="control-label">回复</label></th>
            <td class="has-warning" colspan="3">
                <label type="txt" name="Replay"></label>
            </td>
        </tr>
    </table>
</form>