@{
    ViewData["Title"] = "装箱管理";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                $("#CompanyId").val(CompanyInfo.Id);
                $("input[name='BoxBatchNo']").val("B" + controller.FormatDate("YYMMDDHHmmss"));
                controller.LayDate({ elem: 'input[name="BoxTime"]' });
                $("input[name='GoodName']").val(controller.GetParam("Good"));
                $("input[name='StockBatchNo']").val(controller.GetParam("StockNo"));
                $("input[name='ProductionBatchNo']").val(controller.GetParam("ProNo"));
            },
            //事件
            InitEvents: function () {
                //计数器
                setInterval(function () {
                    var ele = $("textarea");
                    var res = ele.val();
                    var replayArr = [];
                    if (controller.CheckFeild(res)) {
                        var data = null;
                        if (controller.CheckFeild(decodeURI(res).match(/[A-F0-9]{8}(-[A-F0-9]{4}){3}-[A-F0-9]{12}/ig))) {
                            //匹配箱码
                            var data = decodeURI(res).match(/Code=\W+\S\d+/g).join(",").match(/\d+/g).filter(function (item) {
                                return item != "" && item != "\n";
                            })
                        } else {
                            //匹配追溯码和纹理二维码
                            data = decodeURI(res).match(/\d+/g).filter(function (item) {
                                return item != "" && item != "\n";
                            });
                        }
                        var datas = data.join(",") + ",";
                        for (var i = 0; i < data.length; i++) {
                            if (datas.replace(data[i] + ",", "").indexOf(data[i] + ",") > -1) {
                                if ($.inArray(data[i], replayArr) < 0) {
                                    replayArr.push(data[i]);
                                    $("#replay").val(replayArr.join(","));
                                    $("#replaycount").val(replayArr.length);
                                } else {
                                    $("#replay").val(replayArr.join(","));
                                    $("#replaycount").val(replayArr.length);
                                }
                            }
                            else {
                                $("#replay").val("");
                                $("#replaycount").val(0);
                            }
                        }
                        $("#activecount").val(data.length - replayArr.length);
                        $("#count").val(data.length);
                    } else {
                        $("#count").val(0);
                        $("#activecount").val(0);
                        $("#replaycount").val(0);
                        $("#replay").val("");
                    }
                }, 100);
                controller.ValidateConfirm("#Edit");
            },
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="EnterpriseWeb/EditBoxing" id="Edit">
            <input type="hidden" name="CompanyId" id="CompanyId" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">装箱批次</label></th>
                    <td class="has-warning">
                        <input class="form-control" name="BoxBatchNo" type="text" readonly />
                    </td>
                    <th><label class="control-label">产品名称</label></th>
                    <td class="has-warning">
                        <input class="form-control" name="GoodName" type="text" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">出/入库批次</label></th>
                    <td class="has-warning">
                        <input class="form-control" name="StockBatchNo" type="text" />
                    </td>
                    <th><label class="control-label">生产批次</label></th>
                    <td class="has-warning">
                        <input class="form-control" name="ProductionBatchNo" type="text" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">装箱码</label><span style="color:red">*</span></th>
                    <td class="has-warning">
                        <input class="form-control required" name="BoxCode" type="text" data-msg-required="请填入装箱码" />
                    </td>
                    <th><label class="control-label">装箱时间</label></th>
                    <td class="has-warning">
                        <input class="form-control" name="BoxTime" type="text" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">追溯码</label><span style="color:red">*</span></th>
                    <td class="has-warning" colspan="3">
                        <textarea class="form-control" name="ThingCode" rows="30" cols="30" placeholder="每箱最大建议扫入2000个物品，建议不要超过4000个"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="has-warning" colspan="4">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="col-sm-2"><label class="control-label">扫码数量<span style="color:red">*</span></label></div>
                                <div class="col-sm-2"><input type="text" class="form-control" readonly id="count" /></div>
                                <div class="col-sm-2"><label class="control-label">重复数量<span style="color:red">*</span></label></div>
                                <div class="col-sm-2"><input type="text" class="form-control" readonly id="replaycount" /></div>
                                <div class="col-sm-2"><label class="control-label">有效数量<span style="color:red">*</span></label></div>
                                <div class="col-sm-2"><input type="text" class="form-control" readonly id="activecount" /></div>
                            </div>
                            <div class="col-sm-7">
                                <div class="col-sm-2"><label class="control-label">重复号段</label><span style="color:red">*</span></div>
                                <div class="col-sm-10"><input type="text" class="form-control" readonly id="replay" /></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>