
@{
    ViewData["Title"] = "产品出库";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                $("#GoodsBatchNo").val("C" + controller.FormatDate("YYMMDDHHmmss"));
                controller.LayDate({ elem: "#OutStockTime" });
                $("#CompanyId").val(CompanyInfo.Id);
                var Guid = controller.GetParam("Id");
                $("#StockId").val(Guid);
                this.GetList(Guid);
            },
            GetList: function (data) {
                //负责人下拉
                controller.ajax({
                    url: "EnterpriseWeb/GetUserList",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>==请选择==</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option>' + obj.TrueName + '</option>';
                        });
                        $("#OutStockUser").html(html);
                    }
                });
                //厂商下拉
                controller.ajax({
                    url: "EnterpriseWeb/GetSellerList",
                    data: { Parameter: 20 },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>==请选择==</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option>' + obj.SupplierName + '</option>';
                        });
                        $("#Seller").html(html);
                    }
                });
                //获取追溯号段
                controller.ajax({
                    url: "EnterpriseWeb/GetCodeSerialNo",
                    data: {Id:data},
                    type: "post",
                    async: false,
                    success: function (result) {
                        $("input[name='CodeSerialNo']").val(result.data);
                    }
                });
            },
            //事件
            InitEvents: function () {
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="orm-horizontal" method="post" action="EnterpriseWeb/EditStockAttach" id="Edit">
            <input type="hidden" class="form-control" name="CompanyId" id="CompanyId" />
            <input type="hidden" class="form-control" name="StockId" id="StockId" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">批次号</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="GoodsBatchNo" id="GoodsBatchNo" readonly />
                    </td>
                    <th><label class="control-label">出库数量</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="OutStockNum" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">出库时间</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="OutStockTime" id="OutStockTime" />
                    </td>
                    <th><label class="control-label">负责人</label></th>
                    <td class="has-warning">
                        <select type="select" class="form-control" name="OutStockUser" id="OutStockUser"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">出库类型</label></th>
                    <td class="has-warning">
                        <select class="form-control" name="OutStockType" type="select">
                            <option value="产品出库">产品出库</option>
                            <option value="其他出库">其他出库</option>
                        </select>
                    </td>
                    <th><label class="control-label">分销商</label></th>
                    <td class="has-warning">
                        <select class="form-control" name="Seller" id="Seller" type="select"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">追溯开始号段</label></th>
                    <td class="has-warning">
                        <input type="text"  class="form-control" name="CodeSerialNo" readonly/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>