
@{
    ViewData["Title"] = "产品出库";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                $("#GoodsBatchNo").val("C" + controller.FormatDate("YYMMDDHHmmss"));
                controller.LayDate({ elem: "#OutStockTime" });
                $("#CompanyId").val(CompanyInfo.Id);
                var Guid = controller.GetParam("Id");
                $("#StockId").val(Guid);
                this.GetList(Guid);
                $("input[type='radio'][name='CodeType']").on('click', function () {
                    if ($(this).val() == 1)
                        $("#last").find("label").text('装箱码段').parents().find("tr[id='last']").find("textarea").attr("name", "BoxCodeNo")
                    else
                        $("#last").find("label").text('溯源码段').parents().find("tr[id='last']").find("textarea").attr("name", "SourceCodeNo")
                });
            },
            GetList: function (data) {
                //负责人下拉
                controller.ajax({
                    url: "EnterpriseWeb/GetUserList",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>==请选择==</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option>' + obj.TrueName + '</option>';
                        });
                        $("#OutStockUser").html(html);
                    }
                });
            },
            //事件
            InitEvents: function () {
                //计数器
                setInterval(function () {
                    var ele = $("textarea");
                    var res = ele.val();
                    var replayArr = [];
                    if (controller.CheckFeild(res)) {
                        var data = decodeURI(res).match(/\d+/g).filter(function (item) {
                            return item != "" && item != "\n";
                        });
                        var datas = data.join(",") + ",";
                        for (var i = 0; i < data.length; i++) {
                            if (datas.replace(data[i] + ",", "").indexOf(data[i] + ",") > -1) {
                                if ($.inArray(data[i], replayArr) < 0) {
                                    replayArr.push(data[i]);
                                    $("#replay").val(replayArr.join(","));
                                    $("#replaycount").val(replayArr.length);
                                } else {
                                    $("#replay").val(replayArr.join(","));
                                    $("#replaycount").val(replayArr.length);
                                }
                            }
                            else {
                                $("#replay").val("");
                                $("#replaycount").val(0);
                            }
                        }
                        $("#activecount").val(data.length - replayArr.length);
                        $("#count").val(data.length);
                    } else {
                        $("#count").val(0);
                        $("#activecount").val(0);
                        $("#replaycount").val(0);
                        $("#replay").val("");
                    }
                }, 100);
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="EnterpriseWeb/EditStockAttach" id="Edit">
            <input type="hidden" class="form-control" name="CompanyId" id="CompanyId" />
            <input type="hidden" class="form-control" name="StockId" id="StockId" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">扫描类型<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <label class="radio-inline">
                            <input type="radio" name="CodeType" value="1" style="margin-top:3px" checked />
                            <text title="装箱码">装箱码</text>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="CodeType" value="2" style="margin-top:3px" />
                            <text title="溯源码">溯源码</text>
                        </label>
                    </td>
                    <th><label class="control-label">批次号</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="GoodsBatchNo" id="GoodsBatchNo" readonly />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">出库时间</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="OutStockTime" id="OutStockTime" />
                    </td>
                    <th><label class="control-label">负责人</label></th>
                    <td class="has-warning">
                        <select type="select" class="form-control" name="OutStockUser" id="OutStockUser"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">出库类型</label></th>
                    <td class="has-warning" colspan="3">
                        <select class="form-control" name="OutStockType" type="select">
                            <option value="产品出库">产品出库</option>
                            <option value="抽检出库">抽检出库</option>
                            <option value="其他出库">其他出库</option>
                        </select>
                    </td>
                </tr>
                <tr id="last">
                    <th><label class="control-label">装箱码段</label></th>
                    <td class="has-warning" colspan="3">
                        <textarea rows="22" cols="5" class="form-control" name="BoxCodeNo" placeholder="最大扫入2000个，建议不要超过4000个"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="has-warning" colspan="4">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="col-sm-2"><label class="control-label">扫码数量<span style="color:red">*</span></label></div>
                                <div class="col-sm-2"><input type="text" class="form-control" readonly id="count"/></div>
                                <div class="col-sm-2"><label class="control-label">重复数量<span style="color:red">*</span></label></div>
                                <div class="col-sm-2"><input type="text" class="form-control" readonly id="replaycount"/></div>
                                <div class="col-sm-2"><label class="control-label">有效数量<span style="color:red">*</span></label></div>
                                <div class="col-sm-2"><input type="text" class="form-control" readonly id="activecount" /></div>
                            </div>
                            <div class="col-sm-7">
                                <div class="col-sm-2"><label class="control-label">重复号段</label><span style="color:red">*</span></div>
                                <div class="col-sm-10"><input type="text" class="form-control" readonly id="replay" /></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>