
@{
    ViewData["Title"] = "产品仓库";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //恢复高度
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        options.$table.bootstrapTable("resetView", { height: $(window).height() - 150 });
                    }, 200);
                    e.stopPropagation();
                });
                //设置表单
                this.$table = controller.Table("#tableListSet", { async: false, url: "EnterpriseWeb/GetGoodsStockPage", height: $(window).height() - 150, refreshBtn: "#btn-refresh", formElement: "#InStock" });
            },
            //事件
            InitEvents: function () {
                $("li").find("a").on('click', function () {
                    if ($(this).attr("href") == "#tab-1")
                        this.$table = controller.Table("#tableListSet", { async: false, url: "EnterpriseWeb/GetGoodsStockPage", height: $(window).height() - 150, refreshBtn: "#btn-refresh", formElement: "#InStock" });
                    else
                        this.$table = controller.Table("#tableListOut", { async: false, url: "EnterpriseWeb/GetGoodsStockAttachPage", height: $(window).height() - 150, refreshBtn: "#btn-refresh", formElement: "#OutStock" });
                });
                $("#add").on('click', function () {
                    controller.OpenWindow({
                        title: "新增入库",
                        type: 2,
                        height: "600px",
                        width: "800px",
                        url: "WebCompanyManage/Goods/StockIn",
                        callBack: function (result) {
                            result.$("#Edit").submit();
                        }
                    });
                });
            },
            //行为
            action: {
                TableFormatter: function (val, row, index) {
                    var action = [];
                    if (row.InStockNum != undefined) {
                        action.push('<button class="btn btn-sm btn-primary out"><i class="fa fa-pencil-square-o"></i>出库</button>');
                        if (row.AuditTypeName != "审核通过")
                            action.push('<button class="btn btn-sm btn-primary audit"><i class="fa fa-pencil-square-o"></i>提交审核</button>');
                    }
                    action.push('<button class="btn btn-sm btn-primary del"><i class="fa fa-trash-o"></i>删除</button>');
                    return action.join("&nbsp;");
                },
                TableEvents: {
                    "click .del": function (event, val, row, index) {
                        if (row.InStockNum != null) {
                            controller.ajax({
                                url: "EnterpriseWeb/RemoveGoodsStock",
                                data: { Id: row.Id },
                                type: "post",
                                success: function (result) {
                                    options.$table.refresh();
                                }
                            });
                        } else {
                            controller.ajax({
                                url: "EnterpriseWeb/RemoveGoodsStockAttach",
                                data: { Id: row.Id },
                                type: "post",
                                success: function (result) {
                                    options.$table.refresh();
                                }
                            });
                        }
                    },
                    "click .out": function (event, val, row, index) {
                        controller.OpenWindow({
                            title: "新增出库",
                            type: 2,
                            height: "450px",
                            width: "700px",
                            url: "WebCompanyManage/Goods/StockOut?Id=" + row.Id,
                            callBack: function (result) {
                                result.$("#Edit").submit();
                            }
                        });
                    },
                    "click .audit": function (event, val, row, index) {
                        controller.OpenWindow({
                            title: "提交审核",
                            type: 2,
                            height: "600px",
                            width: "900px",
                            url: "WebCompanyManage/Goods/SubmitAudit?Id=" + row.Id,
                            callBack: function (result) {
                                result.$("#Edit").submit();
                            }
                        });
                    }
                },//表单事件结束
            }//行为结束
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
@section css{
    <style>
        .ibox-content {
            border-top-style: none;
        }
    </style>
}
<!--导航-->
<div class="tabs-container" style="margin-top:10px;">
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#tab-1" aria-expanded="true"> 入库清单</a>
        </li>
        <li>
            <a data-toggle="tab" href="#tab-2" aria-expanded="false">出库清单</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
            <div class="ibox-content">
                <div class="row">
                    <form id="InStock">
                        <div class="col-sm-8 m-b-xs">
                            <div class="input-group">
                                <button type="button" class="btn btn-sm btn-white" id="add"><i class="fa fa-plus"></i>新增</button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" placeholder="产品名称" class="input-sm form-control" name="GoodsName">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>搜索</button>
                                    <button type="button" id="btn-refresh" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i>刷新</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive m-t-sm">
                    <table id="tableListSet" class="table">
                        <thead>
                            <tr>
                                <th data-field="ProBatch" data-halign="center" data-align="center" data-valign="middle">产品系列批次</th>
                                <th data-field="GoodsBatchNo" data-halign="center" data-align="center" data-valign="middle">入库批次</th>
                                <th data-field="GoodsName" data-halign="center" data-align="center" data-valign="middle">产品名称</th>
                                <th data-field="InStockNum" data-halign="center" data-align="center" data-valign="middle">当前库存</th>
                                <th data-field="MaterialName" data-halign="center" data-align="center" data-valign="middle">原辅料</th>
                                <th data-field="StockType" data-halign="center" data-align="center" data-valign="middle">入库类型</th>
                                <th data-field="AuditTypeName" data-halign="center" data-align="center" data-valign="middle">审核状态</th>
                                <th data-field="Manager" data-halign="center" data-align="center" data-valign="middle">负责人</th>
                                <th data-formatter="options.action.TableFormatter" data-events="options.action.TableEvents" data-halign="center" data-align="center" data-valign="middle">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div id="tab-2" class="tab-pane">
            <div class="ibox-content">
                <div class="row">
                    <form id="OutStock">
                        <div class="col-sm-8 m-b-xs">
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" placeholder="产品名称" class="input-sm form-control" name="GoodsName">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>搜索</button>
                                    <button type="button" id="btn-refresh" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i>刷新</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive m-t-sm">
                    <table id="tableListOut" class="table">
                        <thead>
                            <tr>
                                <th data-field="StockBatch" data-halign="center" data-align="center" data-valign="middle">入库批次</th>
                                <th data-field="GoodsBatchNo" data-halign="center" data-align="center" data-valign="middle">出库批次</th>
                                <th data-field="GoodsName" data-halign="center" data-align="center" data-valign="middle">产品名称</th>
                                <th data-field="OutStockNum" data-halign="center" data-align="center" data-valign="middle">出库数量</th>
                                <th data-field="StockEx" data-halign="center" data-align="center" data-valign="middle">库存</th>
                                <th data-field="Seller" data-halign="center" data-align="center" data-valign="middle">分销商</th>
                                <th data-field="CodeStarSerialNo" data-halign="center" data-align="center" data-valign="middle">开始号段</th>
                                <th data-field="CodeEndSerialNo" data-halign="center" data-align="center" data-valign="middle">结束号段</th>
                                <th data-field="OutStockType" data-halign="center" data-align="center" data-valign="middle">出库类型</th>
                                <th data-field="OutStockUser" data-halign="center" data-align="center" data-valign="middle">负责人</th>
                                <th data-formatter="options.action.TableFormatter" data-events="options.action.TableEvents" data-halign="center" data-align="center" data-valign="middle">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>