@{
    ViewData["Title"] = "提交审核";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                var Guid = controller.GetParam("Id");
                $("#Id").val(Guid);
                options.Editor = controller.Editor(".summernote");
                var GId = controller.GetParam("Good");
                controller.ajax({
                    url: "EnterpriseWeb/GetGoodsDetail",
                    type: "post",
                    async: false,
                    data: { Id: GId },
                    success: function (res) {
                        options.Editor.summernote('code', res.data.Remark);
                        if (controller.CheckFeild(res.data.Image)) {
                            //企业形象
                            $.each(res.data.Image.split(","), function (i, item) {
                                $("#Img5").append('<section class="image-section" img-url="' + item + '"><div class="image-shade"></div><div class="image-delete"></div><div class="image-zoom"></div><img class="image-show" src="' + item + '"></section>');
                            })
                            $("#ImgUrl").val(res.data.Image);
                        }
                    }
                });
            },
            //设置文件值
            SetFileValue: function (data, elememt) {
                var files = $(elememt).val();
                if (files != null && files != "" && files != undefined) {
                    files += "," + data;
                    $(elememt).val(files);
                } else {
                    $(elememt).val(data);
                }
            },
            //事件
            InitEvents: function () {
                //文件上传
                controller.Upload({
                    url: "File/UploadImg",
                    element: ".upload-input",
                    maxNum: 5,
                    node: '.image-box',
                    success: function (result) {
                        controller.Alter(result.msg);
                        options.SetFileValue(result.data, "#ImgUrl");
                    }
                });
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="EnterpriseWeb/AuditGoods" id="Edit">
            <input type="hidden" name="Id" id="Id" />
            <input type="hidden" name="ImgUrl" id="ImgUrl" />
            <input type="hidden" name="Remark" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">产品图片</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="image-box clear" id="Img5">
                            <section class="upload-section">
                                <div class="upload-btn"></div>
                                <input type="file" name="Files" class="upload-input" value="" accept="image/*" multiple="multiple" />
                            </section>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">产品介绍</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="summernote" name="Remark"></div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>