
@{
    ViewData["Title"] = "编辑抽样";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                $("#InfoId").val(RepastUser.Id);
                controller.LayDate({ elem: "#DrawTime" });
                 var Editor = controller.Editor(".summernote", { width: $(window).width });                //获取负责人
                controller.ajax({
                    url: "RepastWeb/GetMerchantList",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>==请选择==</option>'
                        $.each(result.data, function (i, obj) {
                            html += '<option>' + obj.TrueName + '</option>'
                        });
                        $("select[name='DrawUser']").html(html);
                    }
                });
            },
            //事件
            InitEvents: function () {
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="RepastWeb/EditDraw" id="Edit">
            <input type="hidden" class="form-control" name="InfoId" id="InfoId" />
            <input name="Remark" type="hidden" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">抽查单位</label></th>
                    <td class="has-warning">
                        <input type="text" name="DrawUnit" class="form-control" />
                    </td>
                    <th><label class="control-label">电话</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="Phone" />
                    </td>
                <tr>
                    <th><label class="control-label">抽样时间</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="DrawTime" id="DrawTime" />
                    </td>
                    <th><label class="control-label">操作人</label></th>
                    <td class="has-warning">
                        <select type="select" name="DrawUser" class="form-control"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">备注</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="summernote" name="Remark"></div>

                        @*<textarea class="form-control" name="Remark" rows="3" maxlength="200"></textarea>*@
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>