#Edit {
    box-sizing: border-box;
    padding: 30px;
    color: #404040;
}
/*共有样式*/
.echarts {
    padding: 15px !important;
}

.section {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.item {
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 16px 0px rgba(47,64,80,0.16);
}

    .item .title {
        padding: 0 15px;
        height: 50px;
        font-size: 18px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #E6E6E6;
    }

        .item .title div {
            background: #239FE6;
            width: 4px;
            height: 18px;
            margin-right: 8px;
        }

    .item .content {
        padding: 15px;
    }
/*第一个区域样式*/
.section1 .item1 {
    width: 24%;
    height: 140px;
}

    .section1 .item1 .content0 {
        display: flex;
        align-items: center;
    }

    .section1 .item1 .left {
        margin-right: 20px;
        width: 56px;
        height: 56px;
        border-radius: 28px;
        background: url("/Content/Company/images/firm_index.png") center center no-repeat;
    }

    .section1 .item1 .right {
        min-width: 62%;
    }

        .section1 .item1 .right p {
            font-size: 16px;
            line-height: 24px;
        }

            .section1 .item1 .right p:last-child {
                margin-bottom: 0;
            }

            .section1 .item1 .right p span {
                color: #000;
                font-weight: bold;
            }
/*第二个区域样式*/
.section2 .item2 {
    width: 24%;
    height: 320px;
}

    .section2 .item2:first-child {
        width: 49.5%;
    }

    .section2 .item2-3 .item2-item {
        float: left;
        width: 48%;
        height: 155px;
    }

        .section2 .item2-3 .item2-item:nth-child(1), .section2 .item2-3 .item2-item:nth-child(3) {
            margin-right: 4%;
        }

        .section2 .item2-3 .item2-item:nth-child(1), .section2 .item2-3 .item2-item:nth-child(2) {
            margin-bottom: 10px;
        }

.section2 .item2 .content1 {
    padding-bottom: 0;
}

    .section2 .item2 .content1 a {
        display: inline-block;
        width: 18%;
        height: 110px;
        margin-right: 1%;
        margin-bottom: 15px;
        text-align: center;
        font-size: 16px;
        color: #404040;
    }

        .section2 .item2 .content1 a img {
            width: 50px;
            height: 50px;
            margin: 10px 0;
        }

.section2 .item2 .content2 img {
    margin-left: 12px;
    cursor: pointer;
    height: 75px !important;
    width: 75px !important;
}
/*第三个区域样式*/
.section3 .item3 {
    width: 30%;
    height: 320px;
}

    .section3 .item3:nth-child(2) {
        width: 36%;
    }

    .section3 .item3 .content3 div {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .section3 .item3 .content3 div p {
            width: 16%;
        }

        .section3 .item3 .content3 div .progress {
            height: 16px;
            border-radius: 8px;
            margin-bottom: 0;
            width: 60%;
        }

        .section3 .item3 .content3 div span {
            width: 16%;
        }

        .section3 .item3 .content3 div .progress .bar {
            background: #3FC8F6;
            height: 16px;
            border-radius: 8px 0 0 8px;
        }

.section4 {
    box-shadow: 0px 4px 16px 0px rgba(47,64,80,0.16);
    position: relative;
    overflow: hidden;
}

    .section4 #Map {
        width: 100%;
        height: 800px;
        background: #fff;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0px 4px 16px 0px rgba(47,64,80,0.16);
    }

    .section4 .right-tab {
        width: 410px;
        height: 800px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #fff;
        border-radius: 0 8px 8px 0;
        box-sizing: border-box;
        padding: 15px;
        z-index: 10;
        zoom: 1;
    }

    .section4 .left-btn {
        position: absolute;
        background-color: #fff;
        left: -17px;
        top: 50%;
        width: 16px;
        height: 56px;
        text-align: center;
        line-height: 56px;
        margin-top: -28px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 3px 0 0 3px;
        font-family: '黑体';
        border: 1px solid #dbdbdb;
        border-right: none;
        color: #999
    }

.section4 .form {
    width: 380px;
    display: flex;
    justify-content: flex-start
}

.section4 .form input[type=text] {
    width: 290px;
    border: 1px solid #2ca8d1;
    border-radius: 4px 0 0 4px;
    line-height: 32px;
    text-indent: .5em
}

.section4 .form input[type=button] {
    width: 90px;
    border: none;
    background-color: #2ca8d1;
    border-radius: 0 4px 4px 0;
    line-height: 32px;
    font-size: 16px;
    color: #fff
}

    .section4 .list {
        position: relative;
        width: 380px;
        height: 92%;
        padding: 10px;
        border: 1px solid #dbdbdb;
        box-sizing: border-box;
        margin-top: 15px;
        border-radius: 4px
    }

        .section4 .list .msg {
            background-color: #ececec;
            padding: 6px;
            margin-bottom: 10px;
            height: 42px;
            width: 100%;
            display: flex;
            justify-content: space-between
        }

            .section4 .list .msg img {
                width: 30px;
                height: 30px
            }

            .section4 .list .msg #Area {
                width: 100%;
                font-size: 18px;
                line-height: 30px;
                text-align: left
            }

                .section4 .list .msg #Area ~ div {
                    width: 280px;
                    text-align: right;
                    font-size: 14px;
                    color: #666
                }

                    .section4 .list .msg #Area ~ div span {
                        color: #f20;
                        font-size: 18px
                    }

        .section4 .list ul {
            height: 92%;
            padding-left: 0;
            overflow-y: scroll
        }

            .section4 .list ul li {
                width: 96%;
                padding: 15px 0;
                border-bottom: 1px solid #dbdbdb;
                display: flex;
                justify-content: space-between
            }

                .section4 .list ul li img {
                    width: 120px;
                    height: 90px
                }

                .section4 .list ul li div {
                    width: 210px
                }

                    .section4 .list ul li div h4 {
                        font-size: 18px;
                        line-height: 20px;
                        margin-bottom: 10px;
                        font-weight: 400;
                        margin-top: 0;
                        color: #333;
                        width: 100%;
                        text-overflow: ellipsis;
                        -o-text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    .section4 .list ul li div p {
                        font-size: 14px;
                        line-height: 20px;
                        color: #666;
                        margin: auto auto
                    }