@{
    ViewData["Title"] = "查看分配的信息";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //恢复高度
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        options.$table.bootstrapTable("resetView", { height: $(window).height() - 150 });
                    }, 200);
                    e.stopPropagation();
                });
                //设置表单
                this.$table = controller.Table("#tableList", { url: "Function/GetTagToAdminPage", height: $(window).height() - 150, refreshBtn: "#btn-refresh", param: { Id: controller.GetParam("Id") } });
            },
            //事件
            InitEvents: function () {
            },
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox ibox-c float-e-margins">
            <div class="ibox-title ibox-title-c">
                <h5>分配信息</h5>
            </div>
            <div class="ibox-content ibox-content-c">
                <div class="row">
                </div>
                <div class="table-responsive">
                    <table id="tableList" class="table">
                        <thead>
                            <tr>
                                <th data-field="StarSerialNo" class="th-center">开始号段</th>
                                <th data-field="EndSerialNo" class="th-center">结束号段</th>
                                <th data-field="AcceptUserName" class="th-center">接收人(公司)</th>
                                <th data-field="AllotTypeName" class="th-center">分配类型</th>
                                <th data-field="TotalNo" class="th-center">分配数量</th>
                                <th data-field="IsAcceptName" class="th-center">是否签收</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
