
@{
    ViewData["Title"] = "区域码表";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //恢复高度
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        options.$table.bootstrapTable("resetView", { height: $(window).height() - 150 });
                    }, 200);
                    e.stopPropagation();
                });
                //设置表单
                this.$table = controller.Table("#tableList", { url: "Function/GetAreaDicPage", height: $(window).height() - 150, refreshBtn: "#btn-refresh", formElement: "#Edit" });
            },
            //事件
            InitEvents: function () {
            },
            InitDisable: function (Param) {
                controller.ajax({
                    url: "Function/IsEnable",
                    data: Param,
                    type: 'post',
                    success: function (result) {
                        options.$table.refresh();
                    }
                });
            },
            //行为
            action: {
                TableFormatter: function (val, row, index) {
                    var action = [];
                    if (row.IsEnable)
                        action.push('<button class="btn btn-sm btn-primary run"><i class="fa fa-play-circle-o"></i>启用</button>');
                    else
                        action.push('<button class="btn btn-sm btn-primary stop"><i class="fa fa-pause-circle-o"></i>禁用</button>');
                    return action.join("&nbsp;")
                },
                TableEvents: {
                    "click .run": function (event, val, row, index) {
                        controller.Confirm("确认启用？", function (bool) {
                            if (bool) {
                                if (SysUserInfo.AccountType > 20) {
                                    options.InitDisable({ AreaDicId: row.Id, IsEnable: false, ProvinceId: SysUserInfo.Province });
                                } else {
                                    controller.OpenWindow({
                                        title: "启用区域",
                                        type: 2,
                                        height: "150px",
                                        width: "300px",
                                        url: "StaticHtml/ProvinceContent.html",
                                        callBack: function (result) {
                                            options.InitDisable({ AreaDicId: row.Id, IsEnable: false, ProvinceId: result.$("#Province").find("option:selected").val() });
                                            result.popClose();
                                        }
                                    })
                                }
                            }
                        });
                    },
                    "click .stop": function (event, val, row, index) {
                        controller.Confirm("确认禁用？", function (bool) {
                            if (bool) {
                                if (SysUserInfo.AccountType > 20) {
                                    options.InitDisable({ AreaDicId: row.Id, IsEnable: true, ProvinceId: SysUserInfo.Province });
                                } else {
                                    controller.OpenWindow({
                                        title: "禁用区域",
                                        type: 2,
                                        height: "150px",
                                        width: "300px",
                                        url: "StaticHtml/ProvinceContent.html",
                                        callBack: function (result) {
                                            options.InitDisable({ AreaDicId: row.Id, IsEnable: true, ProvinceId: result.$("#Province").find("option:selected").val() });
                                            result.popClose();
                                        }
                                    })
                                }
                            }
                        });
                    }
                }//表单事件结束
            }//行为结束
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
@section css{

}

<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>区域码表</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form id="Edit">
                        <div class="col-sm-8 m-b-xs">
                            <div class="input-group">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table id="tableList" class="table">
                        <thead>
                            <tr>
                                <th data-field="DicName" data-halign="center" data-align="center" data-valign="middle">字典名称</th>
                                <th data-field="DicValue" data-halign="center" data-align="center" data-valign="middle">字典值</th>
                                <th data-field="AttachArea" data-halign="center" data-align="center" data-valign="middle">分配区域</th>
                                <th data-field="DisableArea" data-halign="center" data-align="center" data-valign="middle">禁用区域</th>
                                <th data-formatter="options.action.TableFormatter" data-events="options.action.TableEvents" data-halign="center" data-align="center" data-valign="middle">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>