
@{
    ViewData["Title"] = "修改密码";
    Layout = "~/Views/Shared/BaseView.cshtml";
}

<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div style="margin-top:30px;">
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                <input class="form-control" type="text" placeholder="Email address">
            </div>
            <div class="inline"></div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                <input class="form-control" type="password" placeholder="Password">
            </div>
            <div class="inline"></div>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                <input class="form-control" type="password" placeholder="Password">
            </div>
        </div>
    </div>
</div>