<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>政府监管-中食药追溯管理平台</title>
    <link rel="icon" type="image/x-icon" href="~/StaticHtml/StaticImg/logo.ico" />
    <link href="~/Content/BootStrap/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/FontAwesome/Css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Animate/Css/animate.css" rel="stylesheet" />
    <link href="~/Content/HPlus/Css/Hplus.css" rel="stylesheet" />

    <script src="~/Content/JavaScript/jquery.min.js"></script>
    <script src="~/Content/JavaScript/Controller.js"></script>
    <script src="~/Content/JavaScript/jquery.cookie.js"></script>
    <script src="~/Content/JavaScript/jquery.extension.js"></script>
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //安全退出
                options.SignOut();
                //用户信息
                if ($("body").GetGovtInfo())
                    $(".LoginOut").click();
                else
                    //获取树
                    options.GetMenu();
                //根据政府类型类型显示相应模块
                if (Govt.IsEdu) {
                    $("#FirstTab").attr("data-id", "/Govt/Room");
                    $("#iframe0").attr("src", "/Govt/Room");
                    $("#iframe0").attr("data-id", "/Govt/Room");
                }
                else {
                    $("#FirstTab").attr("data-id", "/Govt/index");
                    $("#iframe0").attr("src", "/Govt/Index");
                    $("#iframe0").attr("data-id", "/Govt/index");
                }
                //显示登录
                $(".text-muted").prepend(Govt.DepartName);
                $(".font-bold").prepend(Govt.Account);
                if (Govt.TypePath == null || Govt.TypePath == "")
                    controller.Alter("请前往部门信息用户管理完善账户信息！", "系统提示");

                //获取消息
                controller.ajax({
                    url: "GovtWeb/GetLogInfos",
                    data: {},
                    type: "post",
                    async: false,
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    success: function (result) {
                        $("#MsgNum").html(result.data.length);
                        $.each(result.data, function (i, item) {
                            if (i < 10) {
                                $(".dropdown-messages").append(`<li>
                                    <div class="dropdown-messages-box">
                                        <div class="media-body ">
                                            ${item.HandlerContent}
                                            <br>
                                            <small class="pull-right text-navy">${item.HandlerTime}</small>                                          
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>`);
                            }
                        });
                        $(".dropdown-messages").append(`<li>
                                    <div class="text-center link-block">
                                        <a class="J_menuItem" href="/">
                                            <i class="fa fa-envelope"></i> <strong> 查看所有消息</strong>
                                        </a>
                                    </div>
                                </li>`);
                    }
                });
            },
            //获取树
            GetMenu: function () {
                controller.ajax({
                    url: "GovtWeb/GetGovtMenu",
                    data: {},
                    type: "post",
                    async: false,
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    success: function (result) {
                        $('#side-menu').SetTree(result.data);
                        if (Govt.IsEdu) {
                            $("#餐饮企业").text("学校/单位食堂");
                            $("#企业分布").text("学校分布");
                        }
                    }
                });
            },
            //安全退出
            SignOut: function () {
                $(".LoginOut").on('click', function () {
                    controller.Confirm("确认退出系统！", function (index) {
                        if (index) {
                            controller.ClearLocal();
                            controller.ajax({
                                url: "Repast/LoginOut",
                                data: {},
                                type: "post",
                                async: false,
                                success: function (result) {
                                    controller.Confirm("您已经成功安全退出系统！", function (index) {
                                        controller.SetHref("Login");
                                    })
                                }
                            });
                            controller.DeleteCookie();
                        }
                    })
                });
            },
            //事件
            InitEvents: function () {
                   //修改密码
                $("#EditPwd").click(function () {
                    controller.OpenWindow({
                        title: "修改登陆信息",
                        type: 2,
                        height: "235px",
                        width: "650px",
                        url: "Govt/EditPwd",
                        callBack: function (result) {
                            result.$("#Edit").submit();
                        }
                    })
                });
                if (Govt.IsEdu)
                    $("#IsEdu").attr("href", "/Govt/DataV3");
            },
        };
        //初始化
        $(document).ready(function () {
            options.Init();

        });
    </script>
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close">
                <i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle" src="~/Content/HPlus/img/profile_small.jpg" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs"><strong class="font-bold"></strong></span>
                                    <span class="text-muted text-xs block"><b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li>
                                    <a href="javascript:void(0);" id="EditPwd">修改密码</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            溯本源
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <div></div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-envelope"></i> <span class="label label-warning" id="MsgNum">16</span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                @*<li class="m-t-xs">
                                    <div class="dropdown-messages-box">
                                        <div class="media-body">
                                            <small class="pull-right">46小时前</small>
                                            <strong>小四</strong> 这个在日本投降书上签字的军官，建国后一定是个不小的干部吧？
                                            <br>
                                            <small class="text-muted">3天前 2014.11.8</small>
                                        </div>
                                    </div>
                                </li>*@
                               
                                @**@
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell"></i> <span class="label label-primary">0</span>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts"></ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row content-tabs">
                <!--任务条-->
                <button class="roll-nav roll-left J_tabLeft">
                    <i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:void(0);" class="active J_menuTab" id="FirstTab" data-id="/Govt/Room">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight">
                    <i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">
                        关闭操作<span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive">
                            <a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll">
                            <a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther">
                            <a>关闭其他选项卡</a>
                        </li>
                        <li class="J_tabCloseOther">
                            <a href="/Govt/DataV2" id="IsEdu">返回大屏</a>
                        </li>
                    </ul>
                </div>
                <a href="#" class="roll-nav roll-right J_tabExit LoginOut"><i class="fa fa-sign-out"></i> 退出</a>
            </div>
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" id="iframe0" width="100%" height="100%" data-id="/Govt/Room" src="/Govt/Room" frameborder="0" seamless></iframe>
            </div>
            <div class="footer">
                <div class="pull-right">
                    &copy; @DateTime.Now.Year <a href="http://web.cfda.vip" target="_blank">成都溯本源</a>
                </div>
            </div>
        </div>
        <!--右侧部分结束-->
    </div>

    <script src="~/Content/BootStrap/Script/bootstrap.js"></script>
    <script src="~/Content/MetisMenu/Script/metisMenu.js"></script>
    <script src="~/Content/SlimScroll/slimscroll.js"></script>
    <script src="~/Content/Layer/layer.js"></script>
    <script src="~/Content/Tabs/contabs.js"></script>
    <script src="~/Content/Pace/pace.js"></script>
    <script src="~/Content/HPlus/Script/hplus.min.js"></script>
</body>
</html>
