@{
    ViewData["Title"] = "餐饮缴费";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //恢复高度
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        options.$table.bootstrapTable("resetView", { height: $(window).height() - 150 });
                    }, 200);
                    e.stopPropagation();
                });
                //设置表单
                this.$table = controller.Table("#tableList", { url: "Finance/GetDiningPayPage", height: $(window).height() - 150, refreshBtn: "#btn-refresh", formElement: "#FoodPay"});
                debugger;
            },
            //事件
            InitEvents: function () {
                options.BtnGroupSearch();
            },
            //按钮查询
            BtnGroupSearch: function () {
                $("div[type='button']").on('click', function () {
                    $(this).siblings().removeClass("active").end().addClass("active");
                    options.$table.queryParams.PayType = $(this).data().value;
                    $("#PayType").val($(this).data().value);
                    $("#FoodPay").submit();
                });
            },
            //行为
            action: {
                TableFormatter: function (val, row, index) {
                    var action = [];
                    action.push('<button class="btn btn-sm btn-primary watch"><i class="fa fa-eye"></i>查看</button>');
                    return action.join("&nbsp;")
                },
                TableEvents: {
                }//表单事件结束
            }//行为结束
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
@section css{

}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>餐饮餐饮</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form id="FoodPay">
                        <div class="col-sm-8 m-b-xs">
                            <div class="input-group">
                                <div type="button" class="btn btn-outline btn-info active" data-value="0">全部</div>
                                <div type="button" class="btn btn-outline btn-info" data-value="1">月付费</div>
                                <div type="button" class="btn btn-outline btn-info" data-value="2">月付费</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" placeholder="商家名称" class="input-sm form-control" name="MerchantName">
                                <input type="hidden" name="PayType" id="PayType" value="0" />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>搜索</button>
                                    <button type="button" id="btn-refresh" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i>刷新</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table id="tableList" class="table">
                        <thead>
                            <tr>
                                <th data-field="MerchantName" data-halign="center" data-align="center" data-valign="middle">商家名称</th>
                                <th data-field="PayTime" data-halign="center" data-align="center" data-valign="middle">缴费时间</th>
                                <th data-field="EnableYear" data-halign="center" data-align="center" data-valign="middle">开通年限</th>
                                <th data-field="EnableYearEndTime" data-halign="center" data-align="center" data-valign="middle">到期时间</th>
                                <th data-field="Paymoney" data-halign="center" data-align="center" data-valign="middle">缴费金额</th>
                                <th data-field="OrderMoneySum" data-halign="center" data-align="center" data-valign="middle">月订单总额</th>
                                <th data-field="PayUser" data-halign="center" data-align="center" data-valign="middle">缴费人</th>
                                <th data-field="LinkPhone" data-halign="center" data-align="center" data-valign="middle">联系电话</th>
                                <th data-formatter="options.action.TableFormatter" data-events="options.action.TableEvents" data-halign="center" data-align="center" data-valign="middle">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
