
@{
    ViewData["Title"] = "功能更新";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
                this.InitList();
            },
            //元素
            InitDom: function () {
                var MerchantId = controller.GetParam("Id");
                var MerchantName = controller.GetParam("Name");
                $("#MerchantId").val(MerchantId);
                $("#MerchantName").val(MerchantName);
              
            },
            InitList: function () { 
                controller.ajax({
                    url: "Finance/GetDiningRoles",
                    data: {},
                    type: "post",
                    success: function (result) {
                        var html = '<option data-watch="">==请选择==</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-watch="' + obj.AuthorMenuName + '">' + obj.AuthorName + '</option>'
                        });
                        $("#Roles").html(html);
                    }
                });
            },
            //事件
            InitEvents: function () {
                //验证
                controller.ValidateConfirm("#Edit");
                //功能更改
                $("#Roles").change(function () {
                    $("#watch").html($(this).find("option:selected").data().watch);

                });
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="orm-horizontal" method="post" action="Finance/EditDiningRole" id="Edit">
            <input type="hidden" name="Id" id="MerchantId" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">商家名称</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="MerchantName" id="MerchantName" readonly/>
                    </td>
                    <th><label class="control-label">功能选取</label></th>
                    <td class="has-warning">
                       <select type="select" class="form-control" name="DingRoleId" id="Roles">
                           <option>==请选择==</option>
                       </select>
                    </td>
                </tr>
                <tfoot>
                    <tr>
                        <th><label class="control-label">功能名称</label></th>
                        <td colspan="3" id="watch" class="has-warning"></td>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>


