@{
    ViewData["Title"] = "企业认证";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //恢复高度
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        options.$table.bootstrapTable("resetView", { height: $(window).height() - 150 });
                    }, 200);
                    e.stopPropagation();
                });
                //设置表单
                this.$table = controller.Table("#tableList", { url: "Finance/IdentEnterprisePay", height: $(window).height() - 150, refreshBtn: "#btn-refresh", formElement: "#IdentPay" });
            },
            //事件
            InitEvents: function () {
            },
            //行为
            action: {
                TableFormatter: function (val, row, index) {
                    var action = [];
                    action.push('<button class="btn btn-sm btn-primary finals"><i class="fa fa-check"></i>终审通过</button>');
                    action.push('<button class="btn btn-sm btn-primary finalf"><i class="fa fa-close"></i>终审不通过</button>');
                    action.push('<button class="btn btn-sm btn-primary shows"><i class="fa fa-eye"></i>查看凭证</button>');
                    return action.join("&nbsp;");
                },
                TableEvents: {
                    "click .finals": function (event, val, row, index) {
                        controller.Confirm("确认通过？", function (bool) {
                            if (bool) {
                                controller.ajax({
                                    url: "Finance/AuditIndetEnterprisePay",
                                    data: { Id: row.Id, Parameter: true },
                                    type: 'post',
                                    success: function (result) {
                                        options.$table.refresh();
                                    }
                                });
                            }
                        });
                    },
                    "click .finalf": function (event, val, row, index) {
                        controller.Confirm("确认未通过？", function (bool) {
                            if (bool) {
                                controller.ajax({
                                    url: "Finance/AuditIndetEnterprisePay",
                                    data: { Id: row.Id, Parameter: false },
                                    type: 'post',
                                    success: function (result) {
                                        options.$table.refresh();
                                    }
                                });
                            }
                        });
                    },
                    "click .shows": function (event, val, row, index) { 
                        controller.OpenWindow({
                            title: "缴费凭证",
                            type: 2,
                            height: "90%",
                            width: "80%",
                            url: "MoneyManage/Finance/PaymentNotice?Id=" + row.Id + "&TableName=" + row.TableName,
                            callBack: function (result) {
                                result.popClose();
                            }
                        });
                    }
                }//表单事件结束
            }//行为结束
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox ibox-c float-e-margins">
            <div class="ibox-title ibox-title-c">
                <h5>企业认证</h5>
            </div>
            <div class="ibox-content ibox-content-c">
                <div class="row">
                    <form id="IdentPay">
                        <div class="col-sm-8 m-b-xs">
                            <div class="input-group">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" placeholder="公司名称" class="input-sm form-control" name="CompanyName">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>搜索</button>
                                    <button type="button" id="btn-refresh" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i>刷新</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive m-t-sm">
                    <table id="tableList" class="table">
                        <thead>
                            <tr>
                                <th data-field="IdentNo" class="th-center">认证编号</th>
                                <th data-field="CompanyName" class="th-center">公司名称</th>
                                <th data-field="IdentStarName" class="th-center">认证星级</th>
                                <th data-field="LinkPhone" class="th-center">联系电话</th>
                                <th data-field="IdentStartTime" class="th-center">开始时间</th>
                                <th data-field="IdentEndTime" class="th-center">截止时间</th>
                                <th data-field="AuditTypeName" class="th-center">审核状态</th>
                                <th data-formatter="options.action.TableFormatter" data-events="options.action.TableEvents" class="th-center">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

