
@{
    ViewData["Title"] = "认证缴费";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
    <style>
        .line-width {
            display: block;
        }
    </style>
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                var Guid = controller.GetParam("Id");
                var TableName = controller.GetParam("TableName");
                //查看缴费信息
                controller.ajax({
                    url: "Finance/WatchCertificate",
                    type: "post",
                    data: { Id: Guid, Parameter: TableName },
                    success: function (result) {
                        debugger;
                        controller.SetCtrlValue("#Edit", result.data);
                    }
                });
            },
            //事件
            InitEvents: function () {
                //查看大图
                $(".upload-btn").click(function () {
                    var option = {
                        title: "缴费凭证",
                        data: [{
                            alt: "缴费凭证",
                            src: $(this).attr("src")
                        }]
                    };
                    controller.Photos(option);
                 });
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="orm-horizontal" id="Edit">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="input-group line-width">
                        <span class="label label-warning">缴费人</span>
                        <input type="text" class="form-control" name="PaymentUser" readonly />
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="input-group line-width">
                        <span class="label label-warning">联系电话</span>
                        <input type="text" class="form-control" name="LinkPhone" readonly />
                    </div>
                </div>
            </div>
            <div class="row m-t-sm">
                <div class="col-sm-6 col-md-6">
                    <div class="input-group line-width">
                        <span class="label label-warning">缴费时间</span>
                        <input type="text" class="form-control" name="PayTime" id="PayTime" readonly />
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="input-group line-width">
                        <span class="label label-warning">缴费金额</span>
                        <input type="text" class="form-control" name="Paymony" readonly />
                    </div>
                </div>
            </div>
            <div class="m-t-sm">
                <div class="input-group line-width">
                    <span class="label label-warning">备注</span>
                    <textarea class="form-control" maxlength="120" name="Remark" readonly></textarea>
                </div>
            </div>
            <div class="m-t-sm">
                <div class="input-group line-width">
                    <span class="label label-warning">缴费凭证</span>
                    <div class="image-box clear">
                        <section class="upload-section">
                            <img class="upload-btn" src="" type="image" name="PayCertificate" style="display:block;margin:auto" title="点击放大" />
                        </section>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
