
@{
    ViewData["Title"] = "入住合同";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //恢复高度
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        options.$table.bootstrapTable("resetView", { height: $(window).height() - 150 });
                    }, 200);
                    e.stopPropagation();
                });
                //设置表单
                this.$table = controller.Table("#tableList", { url: "Finance/GetStayContractPage", height: $(window).height() - 150, refreshBtn: "#btn-refresh", formElement: "#JoinPay" });
            },
            //事件
            InitEvents: function () {
            },
            //行为
            action: {
                TableFormatter: function (val, row, index) {
                    var action = [];
                    $.each(row.Contract, function (i, obj)
                    {
                        action.push('<a class="btn btn-sm btn-primary" download="' + obj + '" href="' + obj + '"><i class="fa fa-download"></i>下载合同第' + (i+1) +'页</a>');
                    });
                    action.push('<a class="btn btn-sm btn-primary" download="' + row.PayContract + '" href="' + row.PayContract + '"><i class="fa fa-download"></i>下载缴费凭证</a>');
                    return action.join("&nbsp;")
                },
                TableEvents: {
                }//表单事件结束
            }//行为结束
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
@section css{

}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>入住合同</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form id="JoinPay">
                        <div class="col-sm-8 m-b-xs">
                            <div class="input-group">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" placeholder="入驻企业" class="input-sm form-control" name="StayCompanyName"> <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>搜索</button>
                                    <button type="button" id="btn-refresh" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i>刷新</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table id="tableList" class="table">
                        <thead>
                            <tr>
                                <th data-field="StayCompanyName" data-halign="center" data-align="center" data-valign="middle">商家名称</th>
                                <th data-formatter="options.action.TableFormatter" data-events="options.action.TableEvents">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


