@{
    ViewData["Title"] = "一物一码";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //恢复高度
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        options.$table.bootstrapTable("resetView", { height: $(window).height() - 150 });
                    }, 200);
                    e.stopPropagation();
                });
                //设置表单
                this.$table = controller.Table("#tableList", { url: "EnterpriseWeb/GetTagPage", height: $(window).height() - 150, refreshBtn: "#btn-refresh", formElement: "#Edit", param: { TagType: 10 } });
            },
            //事件
            InitEvents: function () {
                $("#add").on('click', function () {
                    controller.OpenWindow({
                        title: "新增记录",
                        type: 2,
                        height: "90%",
                        width: "80%",
                        url: "WebCompanyManage/ThingCode/ThingCodeEdit?Flag=1",
                        callBack: function (result) {
                            result.$("#Edit").submit();
                        }
                    })
                });
            },
            //行为
            action: {
                TableFormatter: function (val, row, index) {
                    var action = [];
                    action.push('<button class="btn btn-sm btn-primary watch"><i class="fa fa-eye"></i>查看绑定信息</button>');
                    //if (row.IsCreate == null)
                    action.push('<button class="btn btn-sm btn-primary edit"><i class="fa fa-pencil-square-o"></i>生成标签(模式一)</button>');
                    action.push('<button class="btn btn-sm btn-primary edits"><i class="fa fa-pencil-square-o"></i>生成标签(模式二)</button>');
                    action.push('<button class="btn btn-sm btn-primary del"><i class="fa fa-trash-o"></i>删除</button>');
                    return action.join("&nbsp;")
                },
                TableEvents: {
                    "click .del": function (event, val, row, index) {
                        controller.Confirm("确认删除？", function (bool) {
                            if (bool) {
                                controller.ajax({
                                    url: "EnterpriseWeb/RemoveTag",
                                    data: { Id: row.Id },
                                    type: 'post',
                                    success: function (result) {
                                        options.$table.refresh();
                                    }
                                });
                            }
                        });
                    },
                    "click .watch": function (event, val, row, index) {
                        controller.OpenWindow({
                            title: "绑定信息",
                            type: 2,
                            height: "90%",
                            width: "80%",
                            url: "WebCompanyManage/ThingCode/WatchCodeUse?Id=" + row.Id,
                            callBack: function (result) {
                                result.popClose();
                            }
                        })
                    },
                    "click .edit": function (event, val, row, index) {
                        controller.Confirm("确认生成？", function (bool) {
                            if (bool) {
                                controller.ajax({
                                    url: "EnterpriseWeb/UpdateEmptyTag",
                                    data: { Id: row.Id },
                                    type: 'post',
                                    success: function (result) {
                                        options.$table.refresh();
                                        $("input[type='hidden'][name='SCodes']").val(row.StarSerialNo);
                                        $("input[type='hidden'][name='ECodes']").val(row.EndSerialNo);
                                        $("#Export").submit();
                                    }
                                });
                            }
                        });
                    },
                    "click .edits": function (event, val, row, index) {
                        controller.Confirm("确认生成？", function (bool) {
                            if (bool) {
                                controller.ajax({
                                    url: "EnterpriseWeb/UpdateEmptyTag",
                                    data: { Id: row.Id },
                                    type: 'post',
                                    success: function (result) {
                                        options.$table.refresh();
                                        $("input[type='hidden'][name='SCodes']").val(row.StarSerialNo);
                                        $("input[type='hidden'][name='ECodes']").val(row.EndSerialNo);
                                        $("#Exports").submit();
                                    }
                                });
                            }
                        });
                    },
                }//表单事件结束
            }//行为结束
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<form method="post" action="/File/ExportTxt" id="Export">
    <input type="hidden" name="SCodes" />
    <input type="hidden" name="ECodes" />
</form>
<form method="post" action="/File/ExportTxts" id="Exports">
    <input type="hidden" name="SCodes" />
    <input type="hidden" name="ECodes" />
</form>
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox ibox-c float-e-margins">
            <div class="ibox-title ibox-title-c">
                <h5>一物一码</h5>
            </div>
            <div class="ibox-content ibox-content-c">
                <div class="row">
                    <form id="Edit">
                        <div class="col-sm-8 m-b-xs">
                            <div class="input-group">
                                <button type="button" class="btn btn-sm btn-white" id="add"><i class="fa fa-plus"></i>新增</button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" placeholder="批次编号" class="input-sm form-control" name="BatchNo">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>搜索</button>
                                    <button type="button" id="btn-refresh" class="btn btn-sm btn-primary"><i class="fa fa-refresh"></i>刷新</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table id="tableList" class="table">
                        <thead>
                            <tr>
                                <th data-field="BatchNo" class="th-center">批次编号</th>
                                <th data-field="StarSerialNo" class="th-center">开始号段</th>
                                <th data-field="EndSerialNo" class="th-center">结束号段</th>
                                <th data-field="TotalNo" class="th-center">剩余数量</th>
                                <th data-field="TagTypeName" class="th-center">所属类型</th>
                                <th data-field="UseNum" class="th-center">绑定数量</th>
                                <th data-field="CreateEmpty" class="th-center">是否已生成空标签</th>
                                <th data-formatter="options.action.TableFormatter" data-events="options.action.TableEvents" class="th-center">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>