@{
    ViewData["Title"] = "查看二维码使用";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                //恢复高度
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        options.$table.bootstrapTable("resetView", { height: $(window).height() - 150 });
                    }, 200);
                    e.stopPropagation();
                });
                //设置表单
                this.$table = controller.Table("#tableList", { url: "EnterpriseWeb/GetBoxPage", height: $(window).height() - 150, refreshBtn: "#btn-refresh", formElement: "#Edit", param: { StarCode: controller.GetParam("Star"), EndCode: controller.GetParam("End") } });
            },
            //事件
            InitEvents: function () {
                options.IdListOut = null;
                $('#tableList').on('uncheck.bs.table check.bs.table check-all.bs.table uncheck-all.bs.table', function (event, rows) {
                    var IdListOut = $(this).data("Set");
                    if (!IdListOut) //JQ单例模式
                        $(this).data("Set", (IdListOut = new Set()));
                    var datas = $.isArray(rows) ? rows : [rows];
                    if (event.type.indexOf('uncheck') == -1)//选中
                        $.each(datas, function (i, data) {
                            IdListOut.add(data.BoxCode);
                        });
                    else//反选
                        $.each(datas, function (i, data) {
                            IdListOut.delete(data.BoxCode);
                        });
                    options.IdListOut = IdListOut;
                });
                $("#batchpack").click(function () {
                    controller.OpenWindow({
                        title: "绑定信息",
                        type: 2,
                        height: "90%",
                        width: "80%",
                        url: "WebCompanyManage/ThingCode/BindEdit?Id=" + Array.from(options.IdListOut).join(','),
                        callBack: function (result) {
                            result.popClose();
                        }
                    })
                });
            },
            action: {
                CheckOutFormatter: function (val, row, index) {
                    if (options.IdList != null) {
                        //集合先转数组
                        if ($.inArray(row.Id, Array.from(options.IdListOut)) != -1)
                            return {
                                checked: true
                            }
                    }
                },
                TableFormatter: function (val, row, index) {
                    var action = [];
                    action.push('<button class="btn btn-sm btn-primary print"><i class="fa fa-eye"></i>打印</button>');
                    return action.join("&nbsp;")
                },
                TableEvents: {
                    "click .print": function (event, val, row, index) {
                        controller.OpenWindow({
                            title: "打印二维码",
                            type: 2,
                            height: "90%",
                            width: "80%",
                            url: encodeURI("StaticHtml/PrintBoxCode.html?B=" + row.BoxCode),
                            callBack: function (result) {
                                result.$("#Edit").submit();
                            }
                        })
                    },
                }//表单事件结束
            }
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="row">
                <form id="OutStock">
                    <div class="col-sm-8 m-b-xs">
                        <button type="button" class="btn btn-sm btn-white" id="batchpack"><i class="fa fa-plus"></i>批量装包</button>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                        </div>
                    </div>
                </form>
            </div>
            <div class="table-responsive">
                <table id="tableList" class="table">
                    <thead>
                        <tr>
                            <th class="th-center" data-field="Stutas" data-checkbox="true" data-formatter="options.action.CheckOutFormatter"></th>
                            <th data-field="BoxBatchNo" class="th-center">装箱批次</th>
                            <th data-field="ProductionBatchNo" class="th-center">生产批次</th>
                            <th data-field="StockBatchNo" class="th-center">出/入库批次</th>
                            <th data-field="BoxCode" class="th-center">一箱一码</th>
                            <th data-field="GoodName" class="th-center">产品名称</th>
                            <th data-field="BoxCount" class="th-center">每箱数量/件</th>
                            <th data-field="BoxTime" class="th-center">装箱时间</th>
                            <th data-formatter="options.action.TableFormatter" data-events="options.action.TableEvents" class="th-center">操作</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>