@{
    ViewData["Title"] = "名称编辑";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                $("#InfoId").val(RepastUser.Id);
                //文件上传-产品
                controller.Upload({
                    url: "File/UploadImg",
                    element: ".upload-input",
                    maxNum: 5,
                    node: '.image-box',
                    success: function (result) {
                        controller.Alter(result.msg);
                        $("#ProImg").val(result.data);
                    }
                });
            },
            //事件
            InitEvents: function () {
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="RepastWeb/EditNames" id="Edit">
            <input type="hidden" name="InfoId" id="InfoId" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">名称</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="TypeNames" />
                    </td>
                    <th><label class="control-label">类型</label></th>
                    <td class="has-warning">
                        <select type="select" name="Types" class="form-control">
                            <option value="1">原料</option>
                            <option value="2">物品</option>
                            <option value="3">产品</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">规格</label></th>
                    <td class="has-warning" colspan="3">
                        <input type="text" class="form-control" name="Spec" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">产品图片</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="image-box clear">
                            <section class="upload-section">
                                <div class="upload-btn"></div>
                                <input type="file" name="Files" class="upload-input" value="" accept="image/*" multiple="multiple" />
                            </section>
                        </div>
                        <input type="hidden" id="ProImg" name="ProImg" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>