
@{
    ViewData["Title"] = "入驻企业统计";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script src="~/Content/ExportPlugin/Script/xlsx.core.min.js"></script>
    <script src="~/Content/ExportPlugin/Script/tableExport.js"></script>
    <script>
        //配置
        var options = {
            Init: function () {
                this.Inithom();
                this.InitEvents();
            },
            //元素
            Inithom: function () {
                controller.ajax({
                    url: "System/GetCompanyCountCenter",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '';
                        $.each(result.data, function (i, data) {
                            html += '<tr><td align="center" valign="middle">' + data.AreaName + '</td>';
                            html += '<td align="center" valign="middle">' + data.HistoryPlant + '</td>';
                            html += '<td align="center" valign="middle">' + data.NowPlant + '</td>';
                            html += '<td align="center" valign="middle">' + data.PlantSum + '</td>';
                            html += '<td align="center" valign="middle">' + data.HistoryCulture + '</td>';
                            html += '<td align="center" valign="middle">' + data.NowCulture + '</td>';
                            html += '<td align="center" valign="middle">' + data.CultureSum + '</td>';
                            html += '<td align="center" valign="middle">' + data.HistoryProduction + '</td>';
                            html += '<td align="center" valign="middle">' + data.NowProduction + '</td>';
                            html += '<td align="center" valign="middle">' + data.ProductionSum + '</td>';
                            html += '<td align="center" valign="middle">' + data.HistoryCirculation + '</td>';
                            html += '<td align="center" valign="middle">' + data.NowCirculation + '</td>';
                            html += '<td align="center" valign="middle">' + data.CirculationSum + '</td>';
                            html += '<td align="center" valign="middle">' + data.HistoryNormal + '</td>';
                            html += '<td align="center" valign="middle">' + data.NowNormal + '</td>';
                            html += '<td align="center" valign="middle">' + data.NormalSum + '</td>';
                            html += '<td align="center" valign="middle">' + data.HistoryUnitCanteen + '</td>';
                            html += '<td align="center" valign="middle">' + data.NowUnitCanteen + '</td>';
                            html += '<td align="center" valign="middle">' + data.UnitCanteenSum + '</td>';
                            html += '<td align="center" valign="middle">' + data.HistorySmall + '</td>';
                            html += '<td align="center" valign="middle">' + data.NowSmall + '</td>';
                            html += '<td align="center" valign="middle">' + data.SmallSum + '</td>';
                            html += '<td align="center" valign="middle">' + data.HistoryCook + '</td>';
                            html += '<td align="center" valign="middle">' + data.NowCook + '</td>';
                            html += '<td align="center" valign="middle">' + data.CookSum + '</td>';
                            html += '<td align="center" valign="middle">' + data.HistoryOther + '</td>';
                            html += '<td align="center" valign="middle">' + data.NowOther + '</td>';
                            html += '<td align="center" valign="middle">' + data.OtherSum + '</td>';
                            html += '<td align="center" valign="middle">' + data.MonthSum + '</td>';
                            html += '<td align="center" valign="middle">' + data.Total + '</td></tr>';
                        });
                        $("tbody").html(html);
                    }
                });
            },
            //事件
            InitEvents: function () {
                //导出Excel
                $("#export2003").on('click', function () {
                    $("#tableList").tableExport({
                        fileName: "二维码统计",
                        ignoreColumn: ["Handler"],
                        type: "excel",
                        mso: {
                            worksheetName: "二维码统计",
                        }
                    });
                });
                //导出Excel
                $("#export2007").on('click', function () {
                    $("#tableList").tableExport({
                        fileName: "二维码统计",
                        ignoreColumn: ["Handler"],
                        type: "excel",
                        mso: {
                            fileFormat: "xlsx",
                            worksheetName: "二维码统计",
                        }
                    });
                });
            },
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
@section css{
    <style>
        th {
            text-align: center;
            vertical-align: central;
        }
    </style>
}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>二维码统计</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form id="Edit">
                        <div class="col-sm-12 m-b-xs">
                            <div class="input-group">
                                <button type="button" class="btn btn-sm btn-white" id="export2003"><i class="fa fa-file-excel-o"></i>导出Excel2003</button>
                                <button type="button" class="btn btn-sm btn-white" id="export2007"><i class="fa fa-file-excel-o"></i>导出Excel2007</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive m-t-sm">
                <table id="tableList" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th rowspan="2" align="center" valign="middle">区域</th>
                            <th colspan="3" align="center" valign="middle">种植企业</th>
                            <th colspan="3" align="center" valign="middle">养殖企业</th>
                            <th colspan="3" align="center" valign="middle">生产企业</th>
                            <th colspan="3" align="center" valign="middle">流通企业</th>
                            <th colspan="3" align="center" valign="middle">餐饮企业</th>
                            <th colspan="3" align="center" valign="middle">单位食堂</th>
                            <th colspan="3" align="center" valign="middle">三小商家</th>
                            <th colspan="3" align="center" valign="middle">乡村厨师</th>
                            <th colspan="3" align="center" valign="middle">其他企业</th>
                            <th rowspan="2" align="center" valign="middle">本月新增合计</th>
                            <th rowspan="2" align="center" valign="middle">总计</th>
                        </tr>
                        <tr>
                            <th align="center" valign="middle">历史累计</th>
                            <th align="center" valign="middle">本月新增</th>
                            <th align="center" valign="middle">合计</th>
                            <th align="center" valign="middle">历史累计</th>
                            <th align="center" valign="middle">本月新增</th>
                            <th align="center" valign="middle">合计</th>
                            <th align="center" valign="middle">历史累计</th>
                            <th align="center" valign="middle">本月新增</th>
                            <th align="center" valign="middle">合计</th>
                            <th align="center" valign="middle">历史累计</th>
                            <th align="center" valign="middle">本月新增</th>
                            <th align="center" valign="middle">合计</th>
                            <th align="center" valign="middle">历史累计</th>
                            <th align="center" valign="middle">本月新增</th>
                            <th align="center" valign="middle">合计</th>
                            <th align="center" valign="middle">历史累计</th>
                            <th align="center" valign="middle">本月新增</th>
                            <th align="center" valign="middle">合计</th>
                            <th align="center" valign="middle">历史累计</th>
                            <th align="center" valign="middle">本月新增</th>
                            <th align="center" valign="middle">合计</th>
                            <th align="center" valign="middle">历史累计</th>
                            <th align="center" valign="middle">本月新增</th>
                            <th align="center" valign="middle">合计</th>
                            <th align="center" valign="middle">历史累计</th>
                            <th align="center" valign="middle">本月新增</th>
                            <th align="center" valign="middle">合计</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
