@{
    ViewData["Title"] = "入驻企业统计";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script src="~/Content/ExportPlugin/Script/xlsx.core.min.js"></script>
    <script src="~/Content/ExportPlugin/Script/tableExport.js"></script>
    <script>
        //配置
        var options = {
            Init: function () {
                this.Inithom();
                this.InitEvents();
            },
            //元素
            Inithom: function () {
                controller.ajax({
                    url: "System/GetCompanyCountCenter",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '';
                        $.each(result.data, function (i, data) {
                            html += '<tr><td class="th-center">' + data.AreaName + '</td>';
                            html += '<td class="th-center">' + data.HistoryPlant + '</td>';
                            html += '<td class="th-center">' + data.NowPlant + '</td>';
                            html += '<td class="th-center">' + data.PlantSum + '</td>';
                            html += '<td class="th-center">' + data.HistoryCulture + '</td>';
                            html += '<td class="th-center">' + data.NowCulture + '</td>';
                            html += '<td class="th-center">' + data.CultureSum + '</td>';
                            html += '<td class="th-center">' + data.HistoryProduction + '</td>';
                            html += '<td class="th-center">' + data.NowProduction + '</td>';
                            html += '<td class="th-center">' + data.ProductionSum + '</td>';
                            html += '<td class="th-center">' + data.HistoryCirculation + '</td>';
                            html += '<td class="th-center">' + data.NowCirculation + '</td>';
                            html += '<td class="th-center">' + data.CirculationSum + '</td>';
                            html += '<td class="th-center">' + data.HistoryNormal + '</td>';
                            html += '<td class="th-center">' + data.NowNormal + '</td>';
                            html += '<td class="th-center">' + data.NormalSum + '</td>';
                            html += '<td class="th-center">' + data.HistoryUnitCanteen + '</td>';
                            html += '<td class="th-center">' + data.NowUnitCanteen + '</td>';
                            html += '<td class="th-center">' + data.UnitCanteenSum + '</td>';
                            html += '<td class="th-center">' + data.HistorySmall + '</td>';
                            html += '<td class="th-center">' + data.NowSmall + '</td>';
                            html += '<td class="th-center">' + data.SmallSum + '</td>';
                            html += '<td class="th-center">' + data.HistoryCook + '</td>';
                            html += '<td class="th-center">' + data.NowCook + '</td>';
                            html += '<td class="th-center">' + data.CookSum + '</td>';
                            html += '<td class="th-center">' + data.HistoryOther + '</td>';
                            html += '<td class="th-center">' + data.NowOther + '</td>';
                            html += '<td class="th-center">' + data.OtherSum + '</td>';
                            html += '<td class="th-center">' + data.MonthSum + '</td>';
                            html += '<td class="th-center">' + data.Total + '</td></tr>';
                        });
                        $("tbody").html(html);
                    }
                });
            },
            //事件
            InitEvents: function () {
                //导出Excel
                $("#export2003").on('click', function () {
                    $("#tableList").tableExport({
                        fileName: "入住企业统计",
                        ignoreColumn: ["Handler"],
                        type: "excel",
                        mso: {
                            worksheetName: "入住企业统计",
                        }
                    });
                });
                //导出Excel
                $("#export2007").on('click', function () {
                    $("#tableList").tableExport({
                        fileName: "入住企业统计",
                        ignoreColumn: ["Handler"],
                        type: "excel",
                        mso: {
                            fileFormat: "xlsx",
                            worksheetName: "入住企业统计",
                        }
                    });
                });
            },
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox ibox-c float-e-margins">
            <div class="ibox-title ibox-title-c">
                <h5>入住企业统计</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form id="Edit">
                        <div class="col-sm-12 m-b-xs">
                            <div class="input-group">
                                <button type="button" class="btn btn-sm btn-white" id="export2003"><i class="fa fa-file-excel-o"></i>导出Excel2003</button>
                                <button type="button" class="btn btn-sm btn-white" id="export2007"><i class="fa fa-file-excel-o"></i>导出Excel2007</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive m-t-sm ibox-content-c" style="padding: 0 15px;">
                <table id="tableList" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th rowspan="2" class="th-center">区域</th>
                            <th colspan="3" class="th-center">种植企业</th>
                            <th colspan="3" class="th-center">养殖企业</th>
                            <th colspan="3" class="th-center">生产企业</th>
                            <th colspan="3" class="th-center">流通企业</th>
                            <th colspan="3" class="th-center">餐饮企业</th>
                            <th colspan="3" class="th-center">单位食堂</th>
                            <th colspan="3" class="th-center">三小商家</th>
                            <th colspan="3" class="th-center">乡村厨师</th>
                            <th colspan="3" class="th-center">其他企业</th>
                            <th rowspan="2" class="th-center">本月新增合计</th>
                            <th rowspan="2" class="th-center">总计</th>
                        </tr>
                        <tr>
                            <th class="th-center">历史累计</th>
                            <th class="th-center">本月新增</th>
                            <th class="th-center">合计</th>
                            <th class="th-center">历史累计</th>
                            <th class="th-center">本月新增</th>
                            <th class="th-center">合计</th>
                            <th class="th-center">历史累计</th>
                            <th class="th-center">本月新增</th>
                            <th class="th-center">合计</th>
                            <th class="th-center">历史累计</th>
                            <th class="th-center">本月新增</th>
                            <th class="th-center">合计</th>
                            <th class="th-center">历史累计</th>
                            <th class="th-center">本月新增</th>
                            <th class="th-center">合计</th>
                            <th class="th-center">历史累计</th>
                            <th class="th-center">本月新增</th>
                            <th class="th-center">合计</th>
                            <th class="th-center">历史累计</th>
                            <th class="th-center">本月新增</th>
                            <th class="th-center">合计</th>
                            <th class="th-center">历史累计</th>
                            <th class="th-center">本月新增</th>
                            <th class="th-center">合计</th>
                            <th class="th-center">历史累计</th>
                            <th class="th-center">本月新增</th>
                            <th class="th-center">合计</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
