@{
    ViewData["Title"] = "产品统计";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script src="~/Content/ExportPlugin/Script/xlsx.core.min.js"></script>
    <script src="~/Content/ExportPlugin/Script/tableExport.js"></script>
    <script>
        //配置
        var options = {
            Init: function () {
                this.Inithom();
                this.InitEvents();
            },
            //元素
            Inithom: function () {
                controller.ajax({
                    url: "System/GetProductCountCenter",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '';
                        $.each(result.data, function (i, data) {
                            html += '<tr><td class="th-center">' + data.AreaName + '</td>';
                            html += '<td class="th-center">' + data.HistoryFarmer + '</td>';
                            html += '<td class="th-center">' + data.NowFarmer + '</td>';
                            html += '<td class="th-center">' + data.FarmerSum + '</td>';
                            html += '<td class="th-center">' + data.HistoryFood + '</td>';
                            html += '<td class="th-center">' + data.NowFood + '</td>';
                            html += '<td class="th-center">' + data.FoodSum + '</td>';
                            html += '<td class="th-center">' + data.HistoryDrug + '</td>';
                            html += '<td class="th-center">' + data.NowDrug + '</td>';
                            html += '<td class="th-center">' + data.DrugSum + '</td>';
                            html += '<td class="th-center">' + data.HistoryCosplay + '</td>';
                            html += '<td class="th-center">' + data.NowCosplay + '</td>';
                            html += '<td class="th-center">' + data.CosplaySum + '</td>';
                            html += '<td class="th-center">' + data.HistoryMachine + '</td>';
                            html += '<td class="th-center">' + data.NowMachine + '</td>';
                            html += '<td class="th-center">' + data.MachineSum + '</td>';
                            html += '<td class="th-center">' + data.HistoryOhter + '</td>';
                            html += '<td class="th-center">' + data.NowOhter + '</td>';
                            html += '<td class="th-center">' + data.OhterSum + '</td>';
                            html += '<td class="th-center">' + data.MonthSum + '</td>';
                            html += '<td class="th-center">' + data.Total + '</td></tr>';
                        });
                        $("tbody").html(html);
                    }
                });
            },
            //事件
            InitEvents: function () {
                //导出Excel
                $("#export2003").on('click', function () {
                    $("#tableList").tableExport({
                        fileName: "产品统计",
                        ignoreColumn: ["Handler"],
                        type: "excel",
                        mso: {
                            worksheetName: "产品统计",
                        }
                    });
                });
                //导出Excel
                $("#export2007").on('click', function () {
                    $("#tableList").tableExport({
                        fileName: "产品统计",
                        ignoreColumn: ["Handler"],
                        type: "excel",
                        mso: {
                            fileFormat: "xlsx",
                            worksheetName: "产品统计",
                        }
                    });
                });
            },
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox ibox-c float-e-margins">
            <div class="ibox-title ibox-title-c">
                <h5>产品统计</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <form id="Edit">
                        <div class="col-sm-12 m-b-xs">
                            <div class="input-group">
                                <button type="button" class="btn btn-sm btn-white" id="export2003"><i class="fa fa-file-excel-o"></i>导出Excel2003</button>
                                <button type="button" class="btn btn-sm btn-white" id="export2007"><i class="fa fa-file-excel-o"></i>导出Excel2007</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive m-t-sm ibox-content-c" style="padding: 0 15px;">
                <table id="tableList" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th rowspan="2" class="th-center">区域</th>
                            <th colspan="3" class="th-center">农产品</th>
                            <th colspan="3" class="th-center">食品</th>
                            <th colspan="3" class="th-center">药品</th>
                            <th colspan="3" class="th-center">化妆品</th>
                            <th colspan="3" class="th-center">医疗器械</th>
                            <th colspan="3" class="th-center">其他</th>
                            <th rowspan="2" class="th-center">本月新增合计</th>
                            <th rowspan="2" class="th-center">总计</th>
                        </tr>
                        <tr>
                            <th class="th-center">历史累计</th>
                            <th class="th-center">本月新增</th>
                            <th class="th-center">合计</th>
                            <th class="th-center">历史累计</th>
                            <th class="th-center">本月新增</th>
                            <th class="th-center">合计</th>
                            <th class="th-center">历史累计</th>
                            <th class="th-center">本月新增</th>
                            <th class="th-center">合计</th>
                            <th class="th-center">历史累计</th>
                            <th class="th-center">本月新增</th>
                            <th class="th-center">合计</th>
                            <th class="th-center">历史累计</th>
                            <th class="th-center">本月新增</th>
                            <th class="th-center">合计</th>
                            <th class="th-center">历史累计</th>
                            <th class="th-center">本月新增</th>
                            <th class="th-center">合计</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
