
@{
    ViewData["Title"] = "用户编辑";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{ }
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
                this.GetDepartList();
                this.GetProvince();
                this.GetCityByProvince();
                this.GetAreaByCity();
                this.GetDetail();
            },
            //元素
            InitDom: function () {
                options.Guid = controller.GetParam("Id");
                //表示新增
                if (!controller.CheckFeild(options.Guid)) {
                    if (GovtInfo.IsEdu)
                        $("#IsEdu").find("option:contains('是')").attr("selected", true);
                    else
                        $("#IsEdu").find("option:contains('否')").attr("selected", true);
                    if (GovtInfo.AccountType == 20) 
                        $("#AccountType").find("option:contains('区县账号')").attr("selected", true);
                    if (GovtInfo.AccountType == 30)
                        $("#AccountType").find("option:contains('乡镇账号')").attr("selected", true);
                    $("#Allow").css({ "display": "none" });
                }
                $("input[name='GovtId']").val(GovtInfo.Id);
                $("#DepartId").on('change', function () {
                    $("input[name='DepartName']").val($(this).find("option:selected").text());
                });
                $("input[name='DepartName']").on("change", function () {
                    if ($(this).val() != "") {
                        var html = '<option>' + $(this).val() + '</option>';
                        $("#DepartId").html(html);
                    }
                    else
                        options.GetDepartList();
                });
            },
            //获取省份
            GetProvince: function () {
                controller.ajax({
                    url: "System/GetProvince",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.ProvinceId + '">' + obj.ProvinceName + '</option>';
                        });
                        $("#province").html(html);
                    }
                });
            },
            //选中省份后获取城市
            GetCityByProvince: function () {
                $("#province").change(function () {
                    controller.ajax({
                        url: "System/GetCity",
                        data: { Id: $(this).find("option:selected").data().id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            var html = '<option>=请选择=</option>';
                            $.each(result.data, function (i, obj) {
                                html += '<option value="' + obj.Id + '" data-id="' + obj.CityId + '">' + obj.CityName + '</option>';
                            });
                            $("#city").html(html);
                        }
                    });
                });
            },
            //选中城市后获取区域
            GetAreaByCity: function () {
                $("#province").change(function () {
                    var html = '<option>=请选择=</option>';
                    $("#area").html(html);
                });
                $("#city").change(function () {
                    controller.ajax({
                        url: "System/GetArea",
                        data: { Id: $(this).find("option:selected").data().id },
                        type: "post",
                        async: false,
                        success: function (result) {
                            var html = '<option>=请选择=</option>';
                            $.each(result.data, function (i, obj) {
                                html += '<option value="' + obj.Id + '" data-id="' + obj.AreaId + '">' + obj.AreaName + '</option>';
                            });
                            $("#area").html(html);
                        }
                    });
                });
            },
            //获取详情
            GetDetail: function () {
                if (controller.CheckFeild(options.Guid)) {
                    controller.ajax({
                        url: "GovtWeb/GetGovtInfoDetail",
                        data: { Id: options.Guid },
                        type: "post",
                        async: false,
                        success: function (result) {
                            controller.SetCtrlValue("#Edit", result.data);
                            options.SetCity();
                            controller.SetCtrlValue("#Edit", result.data);
                            options.SetArea();
                            controller.SetCtrlValue("#Edit", result.data);
                            if (GovtInfo.AccountType == 20)
                            {
                                $("#area").attr("disabled", true);
                            }
                        }
                    });
                }
            },
            //取得详情后获取城市
            SetCity: function () {
                controller.ajax({
                    url: "System/GetCity",
                    data: { Id: $("#province").find("option:selected").data().id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.CityId + '">' + obj.CityName + '</option>';
                        });
                        $("#city").html(html);
                    }
                });
            },
            //取得详情后获取区域
            SetArea: function () {
                controller.ajax({
                    url: "System/GetArea",
                    data: { Id: $("#city").find("option:selected").data().id },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>=请选择=</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '" data-id="' + obj.AreaId + '">' + obj.AreaName + '</option>';
                        });
                        $("#area").html(html);
                    }
                });
            },
            //部门列表
            GetDepartList: function () {
                controller.ajax({
                    url: "GovtWeb/GetInsList",
                    data: {},
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>==没有数据请输入==</option>';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '">' + obj.InstitutionName + '</option>';
                        });
                        $("#DepartId").html(html);
                    }
                });
            },
            //事件
            InitEvents: function () {
                controller.ValidateConfirm("#Edit")
            },
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="GovtWeb/EditUser" id="Edit">
            <input type="hidden" name="Id" />
            <input type="hidden" name="GovtId" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">账号<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="Account" data-msg-required="请输入账号">
                    </td>
                    <th><label class="control-label">密码<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="password" class="form-control required" name="PassWord" data-msg-required="请输入密码">
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">邮箱</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="Email">
                    </td>
                    <th><label class="control-label">电话</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="Phone">
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">负责人</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="TrueName">
                    </td>
                    <th><label class="control-label">所属机构</label></th>
                    <td class="has-warning">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" tabindex="-1" data-toggle="dropdown">点击输入</button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <input type="text" name="DepartName" class="form-control" placeholder="输入部门名称" />
                                    </li>
                                </ul>
                            </div>
                            <select type="select" class="form-control" name="DepartId" id="DepartId"></select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">账号类型</label></th>
                    <td class="has-warning">
                        <select type="select" class="form-control" name="AccountType" id="AccountType" disabled>
                            <option value="20">市级账号</option>
                            <option value="30">区县账号</option>
                            <option value="40">乡镇账号</option>
                        </select>
                    </td>
                    <th><label class="control-label">是否教育局</label></th>
                    <td class="has-warning">
                        <select type="select" class="form-control" name="IsEdu" id="IsEdu" disabled>
                            <option value="true">是</option>
                            <option value="false">否</option>
                        </select>
                    </td>
                </tr>
                <tr id="Allow">
                    <th><label class="control-label">所属区域</label></th>
                    <td colspan="3">
                        <table style="width:100%">
                            <tr>
                                <td class="has-warning" style="width:33.3%">
                                    <select type="select" class="form-control" name="Province" id="province" disabled>
                                        <option>=请选择=</option>
                                    </select>
                                </td>
                                <td class="has-warning" style="width:33.3%">
                                    <select type="select" class="form-control" name="City" id="city" disabled>
                                        <option>=请选择=</option>
                                    </select>
                                </td>
                                <td class="has-warning" style="width:33.3%">
                                    <select type="select" class="form-control" name="Area" id="area" disabled>
                                        <option>=请选择=</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>