
@{
    ViewData["Title"] = "编辑系列";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
                this.GetSelect();
            },
            //元素
            InitDom: function () {
                $("#CompanyId").val(CompanyInfo.Id);
            },
            GetSelect: function () {
                //初始化下拉字典
                controller.Select({
                    document: '.selectpicker',
                    arrelemnt: ['#Standard'],
                    data: {Id:"执行标准"},
                    url: 'EnterpriseWeb/GetDictionaryList',
                });
                $("#Standard").on('changed.bs.select', function () {
                    $('input[name="Standard"]').val($(this).val());
                });
                //初始化关键点
                controller.ajax({
                    url: "EnterpriseWeb/GetTargetList",
                    data: {},
                    async: false,
                    type: "post",
                    success: function (result) { 
                        var html = '';
                        $.each(result.data, function (i, obj) {
                            html += '<option value="' + obj.Id + '">' + obj.TargetName + '</option>';
                        });
                        $("#Target").html(html);
                    }
                });
                $("#Target").on('changed.bs.select', function () {
                    $('input[name="TargetId"]').val($(this).val());
                });
            },
            //事件
            InitEvents: function () {
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="EnterpriseWeb/EditSeries" id="Edit">
            <input type="hidden" id="CompanyId" name="CompanyId" />
            <input type="hidden"  name="TargetId" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">系列名称</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="SeriesName" />
                    </td>
                    <th><label class="control-label">执行标准</label></th>
                    <td class="has-warning">
                        <select type="select" class="selectpicker form-control" data-max-options="2" id="Standard" multiple data-live-search="true" data-live-search-placeholder="搜索"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">关键点控制</label></th>
                    <td class="has-warning" colspan="3">
                        <select type="select" class="selectpicker form-control" data-max-options="10" id="Target" multiple data-live-search="true" data-live-search-placeholder="搜索"></select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>