
@{
    ViewData["Title"] = "指标参考";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
    <style>
        th {
            text-align: center;
            vertical-align: middle;
        }

        td {
            text-align: center;
            vertical-align: middle;
        }
    </style>
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                this.BindPare(controller.GetParam("Id"));
            },
            //绑定对比值
            BindPare: function (Guid) {
                controller.ajax({
                    url: "EnterpriseWeb/GetProBatchAttachList",
                    data: { Id: Guid },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '';
                        $.each(result.data, function (i, obj) {
                            html += '<tr>';
                            html += '<td class="text-warning">' + obj.TargetName + '</td>';
                            html += '<td class="text-warning">' + obj.TargetUnit + '</td>';
                            html += '<td class="text-warning">' + obj.TargetValue + '</td>';
                            if (obj.Result == null || obj.ResultTime == null) {
                                html += '<td class="text-warning"><input type="text" class="form-control" name="Result"/></td>';
                                html += '<td class="text-warning"><input type="text" class="form-control" name="ResultTime"/></td>';
                                html += '<td class="text-warning">' + controller.GetParam("Manager") + '</td>';
                                html += '<td><button class="btn btn-sm btn-primary" type="button"><i class="fa fa-pencil-square-o"></i>保存</button></td>'
                            } else {
                                html += '<td class="text-warning">' + obj.Result + '</td>';
                                html += '<td class="text-warning">' + obj.ResultTime + '</td>';
                                html += '<td class="text-warning">' + controller.GetParam("Manager") + '</td>';
                                html += '<td></td>'
                            }
                          
                            html += '</tr>';
                        });
                        $("#content").html(html);
                        var res = $("input[name='ResultTime']");
                        for (var i = 0; i < res.length; i++) {
                            controller.LayDate({ elem: res[i] });
                        }
                    }
                });
            },
            //事件
            InitEvents: function () {
                $("button").on('click', function () {
                    var tds = $(this).parent().parent().find('td');
                    var datas = {
                        CompanyId: CompanyInfo.Id,
                        ProBatchId: controller.GetParam("Id"),
                        TargetName: tds.eq(0).text(),
                        TargetUnit: tds.eq(1).text(),
                        TargetValue: tds.eq(2).text(),
                        Result: tds.find("input[name='Result']").val(),
                        ResultTime: tds.find("input[name='ResultTime']").val(),
                        Manager: controller.GetParam("Manager")
                    };
                    if (datas.ResultTime == undefined || datas.ResultTime == "") {
                        tds.find("input[name='Result']").focus();
                        return false;
                    }
                    if (datas.Result == undefined || datas.Result == "") {
                        tds.find("input[name='ResultTime']").focus();
                        return false;
                    }
                    controller.ajax({
                        url: "EnterpriseWeb/EditProBatchAttach",
                        type: "post",
                        data: datas,
                        async: false,
                        success: function (result) {
                            controller.Msg(result.data);
                            window.location.reload();
                        }
                    });
                });
            },
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            <span class="text-navy">关键点名称</span>
                        </th>
                        <th>
                            <span class="text-navy">关键点单位</span>
                        </th>
                        <th>
                            <span class="text-navy">关键点限制值</span>
                        </th>
                        <th>
                            <span class="text-navy">记录结果</span>
                        </th>
                        <th>
                            <span class="text-navy">记录时间</span>
                        </th>
                        <th>
                            <span class="text-navy">负责人</span>
                        </th>
                        <th>
                            <span class="text-navy">操作</span>
                        </th>
                    </tr>
                </thead>
                <tbody id="content"></tbody>
                <tfoot>
                    <tr>
                        <th colspan="7" class="text-danger">
                            没有更多记录...
                        </th>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>