<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>餐饮系统-中食药监管信息查询平台</title>
    <link rel="icon" type="image/x-icon" href="~/StaticHtml/StaticImg/logo.ico" />
    <link href="~/Content/BootStrap/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/FontAwesome/Css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Animate/Css/animate.css" rel="stylesheet" />
    <link href="~/Content/HPlus/Css/Hplus.css" rel="stylesheet" />

    <script src="~/Content/JavaScript/jquery.min.js"></script>
    <script src="~/Content/JavaScript/Controller.js"></script>
    <script src="~/Content/JavaScript/jquery.cookie.js"></script>
    <script src="~/Content/JavaScript/jquery.extension.js"></script>

    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitMsg(1);
                this.InitEvents();
                this.InitPageEvent();
                this.InitHandleFile(RepastUser.DiningType);
            },
            //元素
            InitDom: function () {
                //安全退出
                options.SignOut();
                //用户信息
                if ($("body").GetRepastInfo())
                    $(".LoginOut").click();
                else
                    //获取树
                    options.GetMenu();
                //显示登录
                $(".text-muted").prepend(RepastInfo.MerchantName);
                $(".font-bold").prepend(RepastInfo.Account);
                if (RepastInfo.TypePath == null)
                    controller.OpenWindow({
                        title: "完善所属区域",
                        type: 2,
                        height: "235px",
                        width: "900px",
                        url: "WebMerchantManage/RepastBasic/MerchantInfoEditArea",
                        callBack: function (result) {
                            result.$("#Edit").submit();
                        }
                    })
            },
            //获取树
            GetMenu: function () {
                controller.ajax({
                    url: "RepastWeb/GetRepastMenu",
                    data: {},
                    type: "post",
                    async: false,
                    xhrFields: {
                        withCredentials: true
                    },
                    crossDomain: true,
                    success: function (result) {
                        $('#side-menu').SetTree(result.data);
                    }
                });
            },
            //安全退出
            SignOut: function () {
                $(".LoginOut").on('click', function () {
                    controller.Confirm("确认退出系统！", function (index) {
                        if (index) {
                            controller.ClearLocal();
                            controller.ajax({
                                url: "Repast/LoginOut",
                                data: {},
                                type: "post",
                                async: false,
                                success: function (result) {
                                    controller.Confirm("您已经成功安全退出系统！", function (index) {
                                        controller.SetHref("Login");
                                    })
                                }
                            });
                            controller.DeleteCookie();
                        }
                    })
                });
            },
            //获取消息
            InitMsg: function (Index) {
                controller.ajax({
                    url: "System/GetMsgPage",
                    data: { pageNumber: Index, pageSize: 10 },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '';
                        $.each(result.data.rows, function (i, obj) {
                            html += '<li><a href="#" data-id="' + obj.ComplainId + '" class="Replay"><div class="row"><section>';
                            html += ' <dl> <i class="fa fa-comment fa-fw"></i>' + obj.MsgName + '[' + obj.Status + ']</dl>';
                            html += '<article class="text text-warning">' + obj.MsgContent + '</article>';
                            html += ' <span class="pull-right small">发布时间：' + obj.ReleaseTime + '</span>';
                            html += '</section></div></a></li><li class="divider"></li>';
                        });
                        html += '<div style="margin-left:30%"><label class="label label-warning m-r" id="lastPage" data-index="' + result.data.Index + '">上一页</label>'
                            + '<small>' + result.data.Index + '/' + result.data.TotalPage+'</small>'
                            + '<label class="label label-warning m-l" id = "nextPage" data - index="' + result.data.Index + '" data - total="' + result.data.TotalPage + '" > 下一页</label ></div > '
                        $(".dropdown-alerts").html(html);
                        $(".label-primary").html(result.data.total);
                    }
                });
            },
            //事件
            InitEvents: function () {
                //修改密码
                $("#EditPwd").click(function () {
                    controller.OpenWindow({
                        title: "修改登陆信息",
                        type: 2,
                        height: "235px",
                        width: "650px",
                        url: "WebMerchantManage/RepastBasic/MerchantInfoEditAccount",
                        callBack: function (result) {
                            result.$("#Edit").submit();
                        }
                    })
                });
                //处理消息
                $(".Replay").on('click', function () {
                    controller.Prompt({ formType: 2, title: "消息处理" }, function (index) {
                        controller.ajax({
                            url: "GovtWeb/ReportComplainInfo",
                            data: { Id: $(this).data().id, Parameter: index },
                            type: 'post',
                            success: function (result) {
                                controller.Close();
                                options.InitMsg();
                            }
                        });
                    });

                });
            },
            //初始化操作文档
            InitHandleFile: function (Param) {
                if (Param == 10)
                    $("#HandleFile").attr("href", "../StaticHtml/File/餐饮企业操作手册.docx");
                if (Param == 20)
                    $("#HandleFile").attr("href", "../StaticHtml/File/单位食堂操作手册.docx");
                if (Param >20)
                    $("#HandleFile").attr("href", "../StaticHtml/File/三小企业操作手册.docx");
            },
            //分页事件
            InitPageEvent: function () {
                $("#lastPage").on('click', function () {
                    var Index = Number($(this).data().index);
                    Index == 1 ? options.InitMsg(1) : options.InitMsg(Index - 1);
                });
                $("#nextPage").on('click', function () {
                    var Index = Number($(this).data().index);
                    var Total = Number($(this).data().total);
                    if (Index < Total)
                        options.InitMsg(Index + 1);
                });
            }
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close">
                <i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle" src="~/Content/HPlus/img/profile_small.jpg" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs"><strong class="font-bold"></strong></span>
                                    <span class="text-muted text-xs block"><b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li>
                                    <a href="javascript:void(0);" id="EditPwd">修改密码</a>
                                </li>
                                <li>
                                    <a href="#" id="HandleFile">操作文档</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            H+
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell"></i> <span class="label label-primary"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts"></ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row content-tabs">
                <!--任务条-->
                <button class="roll-nav roll-left J_tabLeft">
                    <i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:void(0);" class="active J_menuTab" data-id="/Repast/Index">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight">
                    <i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">
                        关闭操作<span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive">
                            <a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll">
                            <a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther">
                            <a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
                <a href="#" class="roll-nav roll-right J_tabExit LoginOut"><i class="fa fa-sign-out"></i> 退出</a>
            </div>
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="~/Repast/Index" frameborder="0" seamless></iframe>
            </div>
            <div class="footer">
                <div class="pull-right">
                    &copy; 2017 <a href="#" target="_blank">KilyCore</a>
                </div>
            </div>
        </div>
        <!--右侧部分结束-->
    </div>
    <script src="~/Content/BootStrap/Script/bootstrap.js"></script>
    <script src="~/Content/MetisMenu/Script/metisMenu.js"></script>
    <script src="~/Content/SlimScroll/slimscroll.js"></script>
    <script src="~/Content/Layer/layer.js"></script>
    <script src="~/Content/Tabs/contabs.js"></script>
    <script src="~/Content/Pace/pace.js"></script>
    <script src="~/Content/HPlus/Script/hplus.min.js"></script>
</body>
</html>
