@{
    ViewData["Title"] = "商家详情";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
         // 对Date的扩展，将 Date 转化为指定格式的String   
        // 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，   
        // 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)   
        // 例子：   
        // (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423   
        // (new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18   
        Date.prototype.Format = function(fmt)   
        { //author: meizz   
          var o = {   
            "M+" : this.getMonth()+1,                 //月份   
            "d+" : this.getDate(),                    //日   
            "h+" : this.getHours(),                   //小时   
            "m+" : this.getMinutes(),                 //分   
            "s+" : this.getSeconds(),                 //秒   
            "q+" : Math.floor((this.getMonth()+3)/3), //季度   
            "S"  : this.getMilliseconds()             //毫秒   
          };   
          if(/(y+)/.test(fmt))   
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));   
          for(var k in o)   
            if(new RegExp("("+ k +")").test(fmt))   
          fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));   
          return fmt;   
        }
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
                this.InitBuyList();
                this.InitThing();
            },
            //元素
            InitDom: function () {
                  controller.LayDate({ elem: "input[name='Date']", max: controller.GetDate(1) });
                controller.LayDate({ elem: "input[name='SDate']", max: controller.GetDate(1) });
                var CurDate = new Date();
                SDate = CurDate.getFullYear() +"-" +(CurDate.getMonth()+1)+"-" + (CurDate.getDate()-7) + " " + CurDate.Format("hh:mm:ss");
                EdDate= CurDate.Format("yyyy-MM-dd hh:mm:ss");
                $("input[name='Date']").val(EdDate);
                $("input[name='SDate']").val(SDate);
                //取详情
                controller.ajax({
                    url: "GovtWeb/GetRepastDetail",
                    data: { Id: controller.GetParam("Id") },
                    async: false,
                    type: "post",
                    success: function (result) {
                        //controller.SetCtrlValue("#Edit", result.data);
                        controller.SetLableValue("#Edit", result.data);
                        options.BindHonor(result.data.HonorCertification);
                    }
                });
                //查看大图
                $("#tab-2,#tab-3").find("img").on('click', function () {
                    var option = {
                        title: "相关证书",
                        data: [{
                            alt: "相关证书",
                            src: $(this).attr("src")
                        }]
                    };
                    controller.Photos(option);
                });
            },
            //台账凭证
            InitThing: function () {
                //取详情
                controller.ajax({
                    url: "Temp/RepastThing",
                    data: { Id: controller.GetParam("Id") },
                    async: false,
                    type: "get",
                    success: function (result) {
                        var ThingHTML = "";
                        $.each(result.data, function (i, item) {
                            ThingHTML += '<tr>'
                                + '<td>' + item.ThingName + '</td>'
                                + '<td>' + item.BuyTime + '</td>'
                                + '<td>' + item.Remark.replace(new RegExp("<img ", 'g'), "<img class='photo' style='max-height:36px;width:auto'").replace(new RegExp("<p", 'g'), "<p style='display:inline-block;' ") + '</td>'
                                + '</tr>';
                        });
                        $("#ThingList").append(ThingHTML);
                    }
                });
            },
             //食材供应
            InitBuyList: function () {
                var time = $("input[name='Date']").val();
                    var stime = $("input[name='SDate']").val();
                    var sDate = new Date(stime);
                    var eDate = new Date(time);
                    var DateStr = "";
                    if (sDate.getMonth() == eDate.getMonth()) {
                        DateStr = sDate.getFullYear() + "年" + (sDate.getMonth() + 1) + "月" + sDate.getDate() + "-" + eDate.getDate() + "日";
                    }
                    else {
                        DateStr = sDate.getFullYear() + "年" + (sDate.getMonth() + 1) + "月" + sDate.getDate() + "-" +(eDate.getMonth() + 1) + "月"+ eDate.getDate() + "日";
                    }
                $("#TimeSection").html(DateStr);
                //取详情
                controller.ajax({
                    url: "Temp/GetBuybillPage",
                    data: { CompanyId: controller.GetParam("Id"), SDate: sDate.Format("yyyy-MM-dd hh:mm:ss"), EDate: eDate.Format("yyyy-MM-dd hh:mm:ss") },
                    async: false,
                    type: "get",
                    success: function (result) {
                        var BuyHTML = "";
                        $.each(result.data, function (i, item) {
                            BuyHTML += '<tr>'
                                + '<td align="center">' + item.GoodsName + '</td>'
                                + '<td align="center">' + item.GoodsNum + '</td>'
                                + '<td align="center">' + item.Unit + '</td>'
                                + '<td align="center">' + item.UnPay + '</td>'
                                + '<td align="center">' + item.ToPay + '</td>'
                                + '<td align="center">' + item.Supplier + '</td>'
                                + '<td align="center">' + item.LinkPhone + '</td>'
                                + '<td align="center">' + item.NoExp + '</td>'
                                + '<td align="center">' + item.ProTime + '</td>'
                                + '<td align="center">' + item.Purchase + '</td>'
                                + '<td align="center">' + item.OrderTime + '</td>'
                                + '</tr>';
                        });
                        $("#BuyList").append(BuyHTML);
                    }
                });
            },
            //绑定荣誉证书
            BindHonor: function (data) {
                if (data != null) {
                    var html = '';
                    $.each(data, function (i, obj) {
                        html += '<img src="' + obj + '" class="img-preview-sm" title="点击放大"/>';
                    });
                    $("#tab-3").find(".ibox-content").html(html);
                    if (data.length > 4)
                        $("#tab-3").find(".ibox-content").find("img").css({ width: "184px", padding: "1px" });
                    else
                        $("#tab-3").find(".ibox-content").find("img").css({ width: "186px", padding: "1px" });
                }
            },
            //事件
            InitEvents: function () {
                 $("#search").on("click", function () {                    
                    options.InitBuyList();
                });
            },
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });

    </script>
}
<form class="form-horizontal" method="post" id="Edit">
    <div class="tabs-container">
        <div class="ibox-content">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#tab-1" aria-expanded="true"> 基本信息</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-2" aria-expanded="false">营业执照</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-3" aria-expanded="false">荣誉证书</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-4" aria-expanded="false">台账凭证</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-5" aria-expanded="false">食材供应</a>
                </li>
            </ul>
            <div class="tab-content">
                <!--基础信息-->
                <div id="tab-1" class="tab-pane active">
                    <table class="table table-bordered m-t-sm">
                        <colgroup>
                            <col width="120" />
                            <col width="40%" />
                            <col width="120" />
                            <col />
                        </colgroup>
                        <tr>
                            <th align="center"><label class="control-label">企业名称</label></th>
                            <td class="has-warning">
                                <label type="txt" name="MerchantName"></label>
                            </td>
                            <th align="center"> <label class="control-label">所属行业</label></th>
                            <td class="has-warning">
                                <label type="txt" name="DiningTypeName"></label>
                            </td>
                        </tr>
                        <tr>
                            <th align="center"><label class="control-label">企业邮箱</label></th>
                            <td class="has-warning">
                                <label type="txt" name="Email"></label>
                            </td>
                            <th align="center"><label class="control-label">信用代码</label></th>
                            <td class="has-warning">
                                <label type="txt" name="CommunityCode"></label>
                            </td>
                        </tr>
                        <tr>
                            <th align="center"><label class="control-label">企业电话</label></th>
                            <td class="has-warning">
                                <label type="txt" name="Phone"></label>
                            </td>
                            <th align="center"><label class="control-label">法人代表</label></th>
                            <td class="has-warning">
                                <label type="txt" name="ImplUser"></label>
                            </td>
                        </tr>
                        <tr>
                            <th align="center"><label class="control-label">企业地址</label></th>
                            <td class="has-warning" colspan="3">
                                <label type="txt" name="Address"></label>
                            </td>
                        </tr>
                        <tr>
                            <th align="center"><label class="control-label">企业介绍</label></th>
                            <td class="has-warning" colspan="3">
                                <label type="txt" name="Remark"></label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="ibox-content">
                        <img class="img-preview" src="" type="image" name="Certification" style="display:block;margin:auto" title="点击放大" />
                    </div>
                </div>
                <div id="tab-3" class="tab-pane">
                    <div class="ibox-content">
                    </div>
                </div>
                <!--台账凭证-->
                <div id="tab-4" class="tab-pane">
                    <div class="ibox-content">
                        <table id="tableList" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th data-field="Theme" class="th-center">台账名称</th>
                                    <th data-field="UpTime" class="th-center">上报时间</th>
                                    <th data-field="Content" class="th-center">凭证</th>
                                </tr>
                            </thead>
                            <tbody id="ThingList">
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--食材供应-->
                <div id="tab-5" class="tab-pane">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-2 m-b-xs" style="width:262px;"><span>开始日期：</span><input type="text" class="form-control input-sm" placeholder="开始日期" name="SDate" style="display:inline-block;width:164px;" /></div>
                            <div class="col-sm-1 m-b-xs" style="width:24px;padding:6px 4px;">-</div>
                            <div class="col-sm-2 m-b-xs" style="width:262px;"><span>结束日期：</span><input type="text" class="form-control input-sm" placeholder="结束日期" name="Date" style="display:inline-block;width:164px;" /></div>
                            <div class="col-sm-2 m-b-xs"><button type="button" class="btn btn-sm btn-white" id="search"><i class="fa fa-search"></i>查询</button></div>
                        </div>
                        <table id="tableList" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="th-center" colspan="13" style="font-size:16px;"><span id="TimeSection">最近7天</span>进销台账</th>
                                </tr>
                                <tr>
                                    <th data-field="GoodsName" class="th-center">食材名称</th>
                                    <th data-field="GoodsNum" class="th-center">进货数量</th>
                                    <th data-field="Unit" class="th-center">单位</th>
                                    <th data-field="UnPay" class="th-center">单价</th>
                                    <th data-field="ToPay" class="th-center">总价</th>
                                    <th data-field="Supplier" class="th-center">供应商</th>
                                    <th data-field="LinkPhone" class="th-center">电话</th>
                                    <th data-field="NoExp" class="th-center">有效期</th>
                                    <th data-field="ProTime" class="th-center">生产日期</th>
                                    <th data-field="Purchase" class="th-center">采购负责人</th>
                                    <th data-field="OrderTime" class="th-center">进货时间</th>

                                </tr>
                            </thead>
                            <tbody id="BuyList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
</form>