
@{
    ViewData["Title"] = "新增记录";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                controller.LayDate({ elem: "#RecordTime", value: controller.FormatDate("YYYY-MM-DD HH:mm:ss") });
                options.BindBatch();
            },
            //绑定批次
            BindBatch: function () {
                controller.ajax({
                    url: "EnterpriseWeb/GetGrowList",
                    async: false,
                    data: {},
                    type: 'post',
                    success: function (result) {
                        var html = '';
                        $.each(result.data, function (i, data) {
                            html += '<option value="' + data.BatchNo + '">' + data.GrowName + '</option>'
                        });
                        $("#BatchNo").html(html);
                    }
                });

            },
            //事件
            InitEvents: function () {
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="EnterpriseWeb/EditEnv" id="Edit">
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">空气温度</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="AirEnv" />
                    </td>
                    <th><label class="control-label">土壤温度</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="SoilEnv" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">空气湿度</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="AirHdy" />
                    </td>
                    <th><label class="control-label">土壤湿度</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="SoilHdy" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">光照</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="Light" />
                    </td>
                    <th><label class="control-label">CO2浓度</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="CO2" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">采集时间</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="RecordTime" id="RecordTime" />
                    </td>
                    <th><label class="control-label">育苗批次</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="BatchNo" list="BatchNo" />
                        <datalist id="BatchNo"></datalist>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
