@{
    ViewData["Title"] = "编辑日记";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                var Guid = controller.GetParam("Id");
                $("#CompanyId").val(CompanyInfo.Id);
                $("#Id").val(Guid);
                controller.LayDate({ elem: "#SowingTime" });
                controller.LayDate({ elem: "#ResultTime" });
                options.BindBatch();
                options.GetNoteDetail(Guid);
            },
            //获取详情
            GetNoteDetail: function (Guid) {
                if (Guid != "" && Guid != null && Guid != undefined)
                    controller.ajax({
                        url: "EnterpriseWeb/GetNoteDetail",
                        async: false,
                        data: { Id: Guid },
                        type: 'post',
                        success: function (result) {
                            controller.SetCtrlValue("#Edit", result.data);
                        }
                    });
            },
            //绑定批次
            BindBatch: function () {
                controller.ajax({
                    url: "EnterpriseWeb/GetGrowList",
                    async: false,
                    data: {},
                    type: 'post',
                    success: function (result) {
                        var html = '';
                        $.each(result.data, function (i, data) {
                            html += '<option value="' + data.BatchNo + '">' + data.GrowName + '</option>'
                        });
                        $("#BatchNo").html(html);
                    }
                });
            },
            //设置文件值
            SetFileValue: function (data, elememt) {
                var files = $(elememt).val();
                if (files != null && files != "" && files != undefined) {
                    files += "," + data;
                    $(elememt).val(files);
                } else {
                    $(elememt).val(data);
                }
            },
            //事件
            InitEvents: function () {
                //文件上传
                controller.Upload({
                    url: "File/UploadImg",
                    element: ".upload-input",
                    maxNum: 2,
                    maxSize: 10,
                    node: '.image-box',
                    success: function (result) {
                        controller.Alter(result.msg);
                        options.SetFileValue(result.data, "#CheckReport");
                    }
                });
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="EnterpriseWeb/EditNote" id="Edit">
            <input type="hidden" name="CompanyId" id="CompanyId" />
            <input type="hidden" name="Id" id="Id" />
            <input type="hidden" class="form-control" name="CheckReport" id="CheckReport" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">批次编号</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="BatchNo" list="BatchNo" />
                        <datalist id="BatchNo"></datalist>
                    </td>
                    <th><label class="control-label">日记名称<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="NoteName" data-msg-required="请输入日记名称" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">收获时间</label></th>
                    <td class="has-warning" colspan="3">
                        <input type="text" class="form-control" name="ResultTime" id="ResultTime" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">质检报告</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="image-box clear">
                            <section class="upload-section">
                                <div class="upload-btn"></div>
                                <input type="file" name="Files" class="upload-input" value="" accept="image/*" multiple="multiple" />
                            </section>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>