
@{
    ViewData["Title"] = "编辑育苗";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                var Guid = controller.GetParam("Id");
                $("#CompanyId").val(CompanyInfo.Id);
                $("#BacthNo").val("N" + controller.FormatDate("YYYYMMDDHHmmss"));
                controller.LayDate({ elem: "#BuyTime", value: controller.FormatDate("YYYY-MM-DD HH:mm:ss") });
                options.GetDetail(Guid);
            },
            //取得详情
            GetDetail: function (Guid) {
                if (Guid != null && Guid != undefined && Guid != "")
                    controller.ajax({
                        url: "EnterpriseWeb/GetGrowDetail",
                        type: "post",
                        data: { Id: Guid },
                        success: function (result) {
                            controller.SetCtrlValue("#Edit", result.data);
                        }
                    });
            },
            //事件
            InitEvents: function () {
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="orm-horizontal" method="post" action="EnterpriseWeb/EditGrow" id="Edit">
            <input type="hidden" name="Id" />
            <input type="hidden" name="CompanyId" id="CompanyId" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">批次编号</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="BacthNo" readonly  id="BacthNo"/>
                    </td>
                    <th><label class="control-label">育苗名称</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="GrowName" data-msg-required="请输入育苗名称" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">采购数量</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="BuyNum" />
                    </td>
                    <th><label class="control-label">计量单位</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="Unit" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">采购时间</label></th>
                    <td class="has-warning" colspan="3">
                        <input type="text" class="form-control" name="BuyTime" id="BuyTime" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">备注</label></th>
                    <td class="has-warning" colspan="3">
                        <textarea class="form-control" rows="5" maxlength="200"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
