@{
    ViewData["Title"] = "水肥管理";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                controller.LayDate({ elem: "#PlantTime" });
                //厂商
                controller.ajax({
                    url: "EnterpriseWeb/GetSellerList",
                    data: { Parameter: 10 },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>==请选择==</option>'
                        $.each(result.data, function (i, obj) {
                            html += '<option>' + obj.SupplierName + '</option>';
                        });
                        $("#Supplier").html(html);
                    }
                });
                controller.ajax({
                    url: "EnterpriseWeb/GetSellerList",
                    data: { Parameter: 30 },
                    type: "post",
                    async: false,
                    success: function (result) {
                        var html = '<option>==请选择==</option>'
                        $.each(result.data, function (i, obj) {
                            html += '<option>' + obj.SupplierName + '</option>';
                        });
                        $("#Producter").html(html);
                    }
                });
                options.BindBatch();
            },
            //绑定批次
            BindBatch: function () {
                controller.ajax({
                    url: "EnterpriseWeb/GetGrowList",
                    async: false,
                    data: {},
                    type: 'post',
                    success: function (result) {
                        var html = '';
                        $.each(result.data, function (i, data) {
                            html += '<option value="' + data.BatchNo + '">' + data.GrowName + '</option>'
                        });
                        $("#BatchNo").html(html);
                    }
                });

            },
            //设置文件值
            SetFileValue: function (data, elememt) {
                var files = $(elememt).val();
                if (files != null && files != "" && files != undefined) {
                    files += "," + data;
                    $(elememt).val(files);
                } else {
                    $(elememt).val(data);
                }
            },
            //事件
            InitEvents: function () {
                //文件上传
                controller.Upload({
                    url: "File/UploadImg",
                    element: ".upload-input",
                    maxNum: 2,
                    node: '.image-box',
                    success: function (result) {
                        controller.Alter(result.msg);
                        options.SetFileValue(result.data,"#CheckReport");
                    }
                });
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="EnterpriseWeb/EditPlanting" id="Edit">
            <input type="hidden" class="form-control" name="CheckReport" id="CheckReport" />
            <input type="hidden" class="form-control" name="IsType" value="1" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">肥料名称<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="FeedName" data-msg-required="请输入肥料名称" />
                    </td>
                    <th><label class="control-label">品牌名称<span style="color:red">*</span></label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control required" name="Brand" data-msg-required="请输入品牌名称" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">施养时间</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="PlantTime" id="PlantTime" />
                    </td>
                    <th><label class="control-label">生产商</label></th>
                    <td class="has-warning">
                        <select type="select" class="form-control" name="Producter" id="Producter"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">育苗批次</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="BatchNo" list="BatchNo" />
                        <datalist id="BatchNo"></datalist>
                    </td>
                    <th><label class="control-label">供应商</label></th>
                    <td class="has-warning">
                        <select type="select" class="form-control" name="Supplier" id="Supplier"></select>
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">检测报告</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="image-box clear">
                            <section class="upload-section">
                                <div class="upload-btn"></div>
                                <input type="file" name="Files" class="upload-input" value="" accept="image/*" multiple="multiple" />
                            </section>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>