@{
    ViewData["Title"] = "CompanyBill";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                controller.LayDate({
                    elem: "input[name='SDate']",
                    max: controller.GetDate(1),
                    format: "yyyy-MM-dd"
                });
                controller.LayDate({
                    elem: "input[name='EDate']",
                    max: controller.GetDate(1),
                    format: "yyyy-MM-dd"
                });
                this.InitDom(undefined);
                this.InitEvents();
            },
            //元素
            InitDom: function (Param) {
                var data = { "Id": CompanyInfo.Id, "CompanyType": CompanyInfo.CompanyType };
                if (controller.CheckFeild(Param))
                    data.Date = Param;
                //controller.ajax({
                //    url: "EnterpriseWeb/GetTickPrint",
                //    data: { Id: data },
                //    async: false,
                //    success: function (result) {
                //        let html = '';
                //        $.each(result.data, function (index, item) {
                //            html += '<tr><td>' + item.BatchNo + '</td>';
                //            html += '<td>' + item.ProductName + '</td>';
                //            html += '<td>' + item.Num + '</td>';
                //            html += '<td>' + item.Spec + '</td>';
                //            html += '<td>' + item.Unit + '</td>';
                //            html += '<td>' + item.CheckResult + '</td>';
                //            html += '<td>' + item.Supplier + '</td>';
                //            html += '<td>' + item.Seller + '</td>';
                //            html += '<td>' + item.Time + '</td>';
                //            html += '<td>' + item.OutStockUser + '</td></tr>';
                //        });
                //        $("tbody").html(html);
                //    }
                //});
            },
            //事件
            InitEvents: function () {
                $("#search").on("click", function () {
                    var time = $("input[name='Date']").val();
                    options.InitDom(time);
                });
            },
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="ibox ibox-c float-e-margins">
            <div class="ibox-title ibox-title-c">
                <h5>企业统计</h5>
            </div>
            <div class="ibox-content ibox-content-c">
                <div class="row">

                    <div>
                        <form id="Edit">
                            <div class="col-sm-4 m-b-xs">
                                <div class="input-group">
                                    <button type="button" class="btn btn-white" id="exportIn"><i class="fa fa-file-excel-o"></i>导出Excel</button>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="col-sm-2 m-b-xs">
                                    <select class="form-control" name="CompanyType">
                                        <option value="全部">全部</option>
                                        <option value="种植企业" class="show x">种植企业</option>
                                        <option value="养殖企业" class="show x">养殖企业</option>
                                        <option value="生产企业" class="show x">生产企业</option>
                                        <option value="流通企业" class="show x">流通企业</option>
                                        <option value="其他企业" class="show x">其他企业</option>
                                        <option value="餐饮企业" class="show x">餐饮企业</option>
                                        <option value="单位食堂" class="show x">单位食堂</option>
                                        <option value="小经营店" class="show x">小经营店</option>
                                        <option value="小作坊" class="show x">小作坊</option>
                                        <option value="小摊贩" class="show x">小摊贩</option>
                                        <option value="学前教育" class="hidden y">学前教育</option>
                                        <option value="义务教育" class="hidden y">义务教育</option>
                                        <option value="高中教育" class="hidden y">高中教育</option>
                                        <option value="高等教育" class="hidden y">高等教育</option>
                                        <option value="职业教育" class="hidden y">职业教育</option>
                                    </select>

                                </div>
                                <div class="col-sm-3 m-b-xs"><input type="text" placeholder="企业名称" class="form-control" name="CompanyName"></div>
                                <div class="col-sm-2 m-b-xs"><button type="button" class="btn btn-white" id="search"><i class="fa fa-search"></i>查询</button></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive m-t-sm">
                    <table id="tableList" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="th-center" colspan="10" style="font-size:18px;">区域企业一览表</th>
                            </tr>                         

                            <tr>
                                <th class="th-center">序号</th>
                                <th class="th-center">区域</th>
                                <th class="th-center">企业名称</th>
                                <th class="th-center">法人代表</th>
                                <th class="th-center">信用代码</th>
                                <th class="th-center">地址</th>
                                <th class="th-center">联系电话</th>
                                <th class="th-center">企业类型</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>