
@{
    ViewData["Title"] = "编辑订单";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                var Editor = controller.Editor(".summernote", { width: $(window).width });
                $("input[name='OrderNo']").val("No." + controller.FormatDate("YYYYMMDDHHmmssSSS"));
                controller.LayDate({ elem: "input[name='SubmitTime']" });
                controller.LayDate({ elem: "input[name='ExpireTime']", max: controller.GetDate(1) });
                $("input[name='CompanyName']").val(CompanyInfo.CompanyName)
                $("input[name='CompanyId']").val(CompanyInfo.Id)
                $("input[name='ServiceVersion']").val(CompanyInfo.Version)
                var Id = controller.GetParam("Id");
                if (controller.CheckFeild(Id)) {
                    controller.ajax({
                        url: "System/GetOrderDetail",
                        type: "post",
                        async: false,
                        data: { Id: Id },
                        success: function (result) {
                            controller.SetCtrlValue("#Edit", result.data);
                            Editor.summernote('code', result.data.ServiceContent);
                        }
                    });
                }
            },
            //事件
            InitEvents: function () {
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="System/OrderEdit" id="Edit">
            <input type="hidden" name="Id" />
            <input type="hidden" name="CompanyId" />
            <input type="hidden" name="ServiceContent" />
            <input type="hidden" name="ServiceVersion" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">订单编号</label></th>
                    <td class="has-warning" colspan="3">
                        <input type="text" class="form-control" name="OrderNo" readonly />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">订单类型</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="OrderType" value="订单" readonly />
                    </td>
                    <th><label class="control-label">下单企业</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="CompanyName" readonly />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">服务费用/元</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="ServicePrice" />
                    </td>
                    <th><label class="control-label">过期时间</label></th>
                    <td class="has-warning">
                        <input type="text" name="ExpireTime" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">发布者</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="SubmitUser" />
                    </td>
                    <th><label class="control-label">发布时间</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="SubmitTime" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">服务内容</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="summernote" name="ServiceContent"></div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>