<p class="MsoNormal" style="text-indent:24.0000pt;line-height:150%;">
    <span style="font-family:仿宋;line-height:150%;font-size:20pt;">
        a、 基础管理：录入企业资质、认证、许可、荣誉等基本信息，使消费者可追溯了解到产品的生产企业情况。
    </span>
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;line-height:150%;">
    <span style="font-family:仿宋;line-height:150%;font-size:20pt;">
        b、 商户管理：对生产商、供货商、分销商的信息进行录入及管理。
    </span>
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;line-height:150%;">
    <span style="font-family:仿宋;line-height:150%;font-size:20pt;">

        c、 进货管理：对产品的采购信息进行录入及管理。
    </span>
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;line-height:150%;">
    <span style="font-family:仿宋;line-height:150%;font-size:20pt;">

        d、 产品管理：产品的包装、入库、赋码及出库信息录入。
    </span>
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;line-height:150%;">
    <span style="font-family:仿宋;line-height:150%;font-size:20pt;">

        e、 物码管理：系统为每一个商品生成唯一的二维码和序列号，作为产品的数字身份证。
    </span>
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;line-height:150%;">
    <span style="font-family:仿宋;line-height:150%;font-size:20pt;">


        f、  品质管理：产品质检、过期提醒。
    </span>
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;line-height:150%;">
    <span style="font-family:仿宋;line-height:150%;font-size:20pt;">


        g、 物流管理：针对平台用户产品在线包装、发货、收货；结合物联网技术实现平台产品物流可追溯及防窜货。
    </span>
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;line-height:150%;">
    <span style="font-family:仿宋;line-height:150%;font-size:20pt;">

        h、集团账户：可为子公司或分销商分配子账号，方便统一管理。
    </span>
</p>
