<p class="MsoNormal" align="right" style="margin-right:10.5000pt;text-align:right;vertical-align:top;">
    <span style="font-family:仿宋;font-size:14pt;">
        <font face="仿宋">合同编号：</font>SBY-QY-
    </span>{PathNo}
    <span style="font-family:仿宋;font-size:10.5000pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" align="center" style="text-align:center;vertical-align:top;">
    <img width="100" height="100" src="http://106.58.174.64:81/StaticHtml/StaticImg/logo2019.png">
    <span style="font-family:仿宋;font-size:20pt;">
        <o:p>
            &nbsp;
        </o:p>
    </span>
</p>
<p class="MsoNormal" align="center" style="text-align:center;">
    <b><span style="font-family: 仿宋; font-size: 24pt;"><font face="仿宋">中食药追溯管理平台</font></span></b><b>
        <span style="font-family: 仿宋; font-size: 24pt;">
            <o:p></o:p>
        </span>
    </b>
</p>
<p class="MsoNormal" align="center" style="text-align:center;">
    <b><span style="font-family: 仿宋; font-size: 22pt;">{CompanyCategory}企业入驻协议</span></b><b>
        <span style="font-family: 仿宋; font-size: 22pt;">
            <o:p></o:p>
        </span>
    </b>
</p>
<p class="MsoNormal" style="line-height:19.0000pt;">
    <b>
        <span style="font-family: 仿宋; color: rgb(0, 0, 0); font-size: 20pt;">
            <o:p>
                &nbsp;
            </o:p>
        </span>
    </b>
</p>
<p class="MsoNormal" style="word-break:break-all;line-height:150%;">
    <b><span style="font-family: 仿宋; line-height: 150%; color: rgb(0, 0, 0); font-size: 20pt;"><font face="仿宋">甲方：成都溯本源科技有限公司</font></span></b><b>
        <span style="font-family: 仿宋; line-height: 150%; color: rgb(0, 0, 0); font-size:20pt;">
            <o:p></o:p>
        </span>
    </b>
</p>
<p class="MsoNormal" style="word-break:break-all;line-height:150%;">
    <span style="font-family:仿宋;line-height:150%;color:rgb(0,0,0);font-size:20pt;">
        <font face="仿宋">信用代码：</font>
    </span><b>
        <span style="font-family: 仿宋; line-height: 150%; color: rgb(0, 0, 0); font-size:20pt;">&nbsp;</span>
    </b><span style="font-family:仿宋;line-height:150%;color:rgb(0,0,0);font-size:20pt;">91510100MA66XYNK6J</span>
    <span style="font-family:仿宋;line-height:150%;color:rgb(0,0,0);font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal">
    <span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;"><font face="仿宋">地址：中国（四川）自由贸易试验区成都高新区天府二街</font>138号1幢8楼801号</span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal">
    <b><span style="font-family: 仿宋; color: rgb(0, 0, 0); font-size:20pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b><b>
        <span style="font-family: 仿宋; color: rgb(0, 0, 0); font-size:20pt;">
            <o:p></o:p>
        </span>
    </b>
</p>
<p class="MsoNormal" style="word-break:break-all;line-height:150%;">
    <b><span style="font-family: 仿宋; line-height: 150%; color: rgb(0, 0, 0); font-size:20pt;"><font face="仿宋">乙方：</font>{CompanyName}</span></b><u>
        <span style="font-family: 仿宋; line-height: 150%; font-size:20pt;">
            <o:p></o:p>
        </span>
    </u>
</p>
<p class="MsoNormal" style="word-break:break-all;line-height:150%;">
    <span style="font-family:仿宋;
line-height:150%;color:rgb(0,0,0);font-size:20pt;
"><font face="仿宋">信用代码：</font></span><b><span style="font-family: 仿宋; line-height: 150%; color: rgb(0, 0, 0); font-size:20pt;">{CompanyCode}</span></b>
</p>
<p class="MsoNormal" style="word-break:break-all;line-height:150%;">
    <span style="font-family:仿宋;
line-height:150%;color:rgb(0,0,0);font-size:20pt;
"><font face="仿宋">地址：</font></span><b><span style="font-family: 仿宋; line-height: 160%; color: rgb(0, 0, 0); font-size:20pt;">{CompanyAddress}</span></b><span style="font-family:仿宋;
line-height:150%;color:rgb(0,0,0);font-size:20pt;
">&nbsp;</span><span style="font-family:仿宋;
line-height:150%;color:rgb(0,0,0);font-size:20pt;
">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><b><span style="font-family: 仿宋; line-height: 160%; color: rgb(0, 0, 0); font-size: 20pt;">&nbsp;&nbsp;&nbsp;</span></b><span style="font-family:仿宋;
line-height:150%;font-size:20pt;">&nbsp;&nbsp;</span><span style="font-family:仿宋;
line-height:150%;color:rgb(0,0,0);font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;word-break:break-all;
line-height:150%;padding-top:20px;">
    <span style="font-family:仿宋;
line-height:150%;color:rgb(0,0,0);font-size:20pt;
"><font face="仿宋">为深入贯彻《中华人民共和国食品安全法》，落实企业质量安全溯源体系建设主体责任，防止假冒伪劣食品的侵害，保护企业的合法权益，提升企业品牌价值，根据《中华人民共和国合同法》，</font></span><span style="font-family:仿宋;
line-height:150%;color:rgb(0,0,0);font-size:20pt;
"><font face="仿宋">经甲、乙双方友好协商，现就甲方为乙方提供产品溯源体系服务，特</font></span><span style="font-family:仿宋;
line-height:150%;color:rgb(0,0,0);font-size:20pt;
"><font face="仿宋">订立本协议</font></span><span style="font-family:仿宋;
line-height:150%;color:rgb(0,0,0);font-size:20pt;"><font face="仿宋">。</font></span><span style="font-family:仿宋;
line-height:150%;color:rgb(0,0,0);font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="word-break:break-all;line-height:150%;">
    <b><span style="font-family: 仿宋; line-height: 160%; color: rgb(0, 0, 0); font-size: 20pt;"><font face="仿宋">一、合作内容</font></span></b>
</p>
<p class="MsoNormal" style="word-break:break-all;line-height:150%;">
    <span style="font-family:仿宋;
line-height:150%;color:rgb(0,0,0);font-size:20pt;
">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font face="仿宋">本协议旨在乙方通过甲方运营的</font>“中食药追溯管理平台”（以下简称“平台”）进行开设账号、并使用甲方向其提供的“中食药企业溯源智能管理系统（</span><u><span style="font-family: 仿宋; line-height: 160%; color: rgb(0, 0, 0); font-size: 20pt;">{CompanyVersion}</span></u><span style="font-family:仿宋;
line-height:150%;color:rgb(0,0,0);font-size:20pt;
"><font face="仿宋">）</font>”功能服务相关事宜，对协议各方应遵守的事项及各方的权利义务进行约定。</span><b>
        <span style="font-family: 仿宋; line-height: 160%; font-size: 20pt;">
            <o:p></o:p>
        </span>
    </b>
</p>
<p class="MsoNormal" style="word-break:break-all;line-height:150%;">
    <b><span style="font-family: 仿宋; line-height: 160%; color: rgb(0, 0, 0); font-size: 20pt;"><font face="仿宋">二、合作期限</font></span></b>
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;line-height:130%;">
    <span style="font-family:仿宋;
line-height:130%;font-size:20pt;"><font face="仿宋">协议的有效期限：自</font></span><u><span style="font-family: 仿宋; line-height: 130%; font-size: 20pt;">{StartTimeYear}</span></u><span style="font-family:仿宋;
line-height:130%;font-size:20pt;"><font face="仿宋">年</font></span><u><span style="font-family: 仿宋; line-height: 130%; font-size: 20pt;">{StartTimeMonth}</span></u><span style="font-family:仿宋;
line-height:130%;font-size:20pt;"><font face="仿宋">月</font></span><u><span style="font-family: 仿宋; line-height: 130%; font-size: 20pt;">{StartTimeDay}</span></u><span style="font-family:仿宋;
line-height:130%;font-size:20pt;"><font face="仿宋">日起，至</font></span><u><span style="font-family: 仿宋; line-height: 130%; font-size: 20pt;">{EndTimeYear}</span></u><span style="font-family:仿宋;
line-height:130%;font-size:20pt;"><font face="仿宋">年</font></span><u><span style="font-family: 仿宋; line-height: 130%; font-size: 20pt;">{EndTimeMonth}</span></u><span style="font-family:仿宋;
line-height:130%;font-size:20pt;"><font face="仿宋">月</font></span><u><span style="font-family: 仿宋; line-height: 130%; font-size: 20pt;">{EndTimeDay}</span></u><span style="font-family:仿宋;
line-height:130%;font-size:20pt;">日，合同期为</span><u><span style="font-family: 仿宋; line-height: 130%; font-size: 20pt;">{Years}</span></u><span style="font-family:仿宋;
line-height:130%;font-size:20pt;"><font face="仿宋">年。</font></span><span style="font-family:仿宋;
line-height:130%;font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="17" style="text-indent:0.0000pt;line-height:150%;">
    <b><span style="font-family: 仿宋; color: rgb(0, 0, 0); font-size: 20pt;"><font face="仿宋">三、费用结算</font></span></b>
</p>
<p class="17" style="text-indent:24.0000pt;line-height:150%;">
    <span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;line-height:150%;"><font face="仿宋">乙方同意向甲方缴纳平台技术服务费（</font></span><u><span style="font-family: 仿宋; color: rgb(0, 0, 0); font-size: 20pt;">{CompanyVersion}</span></u><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;line-height:150%;"><font face="仿宋">）为人民币</font></span><u><span style="font-family: 仿宋; color: rgb(0, 0, 0); font-size: 20pt;">{Moneys}</span></u><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;line-height:150%;"><font face="仿宋">元</font>/年（大写：</span><u><span style="font-family: 仿宋; color: rgb(0, 0, 0); font-size: 20pt;">{MeneyUp}</span></u><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;line-height:150%;"><font face="仿宋">整），</font></span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;line-height:150%;"><font face="仿宋">支付方式选择（</font>{PayModel}）。</span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;line-height:150%;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;">
    <span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;line-height:150%;"><font face="仿宋">乙方应在签订本协议后三个工作日内通过转账方式向甲方支付平台技术服务费用，否则此协议视为无效。</font></span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="word-break:break-all;line-height:150%;">
    <b><span style="font-family: 仿宋; line-height: 160%; font-size: 20pt;"><font face="仿宋">四、甲方权利及义务</font></span></b>
    </b>
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;line-height:150%;">
    <span style="font-family:仿宋;
line-height:150%;font-size:20pt;">1、甲方根据版本类型（</span><u><span style="font-family: 仿宋; line-height: 150%; font-size: 20pt;">{CompanyVersion}</span></u><span style="font-family:仿宋;
line-height:150%;font-size:20pt;"><font face="仿宋">）向乙方提供以下平台功能服务：</font></span><span style="font-family:仿宋;
line-height:150%;font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="16" style="margin-left:0.0000pt;text-indent:21.0000pt;
line-height:150%;">
    <!--[endif]--><span style="font-family:仿宋;
font-size:20pt;display:block;padding-left:36px;">{ServerItems}</span><span style="font-family:仿宋;
font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;line-height:150%;">
    <span style="font-family:仿宋;
line-height:150%;font-size:20pt;">2、甲方有权对乙方的企业信息、产品信息的合法性和真实性、有效性进行审核。</span><span style="font-family:仿宋;
line-height:150%;font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;line-height:150%;">
    <!--[if !supportLists]--><span style="font-family:仿宋;font-size:20pt;
">3、</span>
    <!--[endif]--><span style="font-family:仿宋;
line-height:150%;font-size:20pt;"><font face="仿宋">合作期间内，甲方有权对乙方企业信息和产品信息进行检查，对不符要求的有权督促责令整改，甚至终止服务。</font></span><span style="font-family:仿宋;
line-height:150%;font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;line-height:130%;">
    <span style="font-family:仿宋;
line-height:130%;font-size:20pt;">4、甲方负责向乙方开放数据库登陆接口，并负责客户数据保存、维护。</span><span style="font-family:仿宋;
line-height:130%;font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;line-height:130%;">
    <span style="font-family:仿宋;
line-height:130%;font-size:20pt;">5、甲方有义务在现有技术上维护整个中食药追溯管理平台的正常运行，并努力提升和改进技术服务；</span><span style="font-family:仿宋;
line-height:130%;font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="line-height:150%;">
    <b><span style="font-family: 仿宋; line-height: 150%; font-size: 20pt;"><font face="仿宋">五、乙方权利及义务</font></span></b>
</p>
<p class="MsoNormal" style="line-height:150%;">
    <span style="font-family:仿宋;
line-height:150%;font-size:20pt;">&nbsp;&nbsp;&nbsp;&nbsp;1、乙方保证在甲方平台上提交录入的企业信息、产品信息的合法、真实、有效，并承担相应法律责任。</span><span style="font-family:仿宋;
line-height:150%;font-size:20pt;">&nbsp;</span><span style="font-family:仿宋;
line-height:150%;font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="line-height:150%;">
    <span style="font-family:仿宋;
line-height:150%;font-size:20pt;">&nbsp;&nbsp;&nbsp;&nbsp;2、</span><span style="font-family:仿宋;
line-height:150%;color:rgb(0,0,0);font-size:20pt;
"><font face="仿宋">乙方必须按照甲方平台入驻要求完善相关手续，并按时交纳相关技术服务费用。</font></span><span style="font-family:仿宋;
line-height:150%;color:rgb(0,0,0);font-size:20pt;
">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent:24.0000pt;line-height:150%;">
    <span style="font-family:仿宋;
line-height:150%;color:rgb(0,0,0);font-size:20pt;
">&nbsp;3、对甲方提出的整改意见，乙方必须尽快按相关国家标准进行改进和完善。</span><span style="font-family:仿宋;
line-height:150%;color:rgb(0,0,0);font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="17" style="text-indent:24.0000pt;line-height:150%;">
    <span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">&nbsp;4、乙方不得使用甲方平台发布违法内容</span><span style="font-family:仿宋;font-size:20pt;"><font face="仿宋">或虚假信息。</font></span><span style="font-family:仿宋;
font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent: 0pt;line-height:150%;padding-top:20px;">
    <b><span style="font-family: 仿宋; color: rgb(0, 0, 0); font-size: 20pt;"><font face="仿宋">六、特别约定条款</font></span></b>
</p>
<p class="MsoNormal" style="line-height:150%;">
    <span style="font-family:仿宋;
line-height:150%;font-size:20pt;">&nbsp;&nbsp;&nbsp;&nbsp;1、自本</span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;"><font face="仿宋">协议</font></span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;"><font face="仿宋">签订之日，甲方应将乙方购买产品（服务）所载信息在数据库保存时间不低于</font></span><u><span style="font-family: 仿宋; color: rgb(0, 0, 0); font-size: 20pt;">&nbsp;2</span></u><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;"><font face="仿宋">年。</font></span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent: 0pt; line-height: 160%;">
    <span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">&nbsp;&nbsp;&nbsp;&nbsp;2、乙方应向甲方提供真实有效的企业证照复印件或扫描件作为本合同附件。</span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent: 0pt; line-height: 160%;">
    <span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;line-height: 150%;">&nbsp;&nbsp;&nbsp;&nbsp;3、乙方理解并认可，甲方平台保留抽查、要求乙方补充提交、及时更新入驻材料及入驻信息的权利。乙方应当对提交平台的相关信息独立承担真实性、合法性、有效性的全部责任；如乙方提交的信息造假或无效，甲方有权立即终止本协议，如对甲方造成损失，甲方有权要求乙方赔偿。</span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent: 0pt; line-height: 160%;">
    <b><span style="font-family: 仿宋; color: rgb(0, 0, 0); font-size: 20pt;"><font face="仿宋">七、保密条款</font></span></b>
</p>
<p class="MsoNormal" style="text-indent: 24pt; line-height: 160%;">
    <span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt; line-height: 160%;">1、甲乙双方对于本协议的签订、内容及在履行本协议期间所获知的另一方的商业秘密负有保密义务。非经对方书面同意，任何一方不得向第三方（关联公司除外）泄露、给予或转让该保密信息。（根据法律、法规、证券交易所规则向政府、证券交易所或其他监管机构提供、双方的法律、会计、商业及其他顾问、雇员除外）。</span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent: 24pt; line-height: 160%;">
    <span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt; line-height: 160%;">2、如对方提出要求，任何一方均应将载有对方保密信息的任何文件、资料或软件等，在本协议终止后按对方要求归还对方，或予以销毁，或进行其他处置，并且不得继续使用这些保密信息。</span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent: 24pt; line-height: 160%;">
    <span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt; line-height: 160%;">3、在本协议终止之后，各方在本条款项下的义务并不随之终止，各方仍需遵守本协议之保密条款，履行其所承诺的保密义务，直到双方同意其解除此项义务，或事实上不会因违反本协议的保密条款而给其他方造成任何形式的损害时为止。</span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent: 24pt; line-height: 160%;">
    <span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt; line-height: 160%;">4、任何一方均应告知并督促其因履行本协议之目的而必须获知本协议内容及因合作而获知对方商业秘密的雇员、代理人、顾问等遵守保密条款，并对其雇员、代理人、顾问等的行为承担责任。</span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent: 0pt; line-height: 160%;">
    <b><span style="font-family: 仿宋; color: rgb(0, 0, 0); font-size: 20pt;"><font face="仿宋">八、续订及争议处置条款</font></span></b>
</p>
<p class="MsoNormal" style="text-indent:0.0000pt;line-height:150%;padding-top:10px;">
    <span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;line-height:150%;">
        &nbsp;&nbsp;&nbsp;&nbsp;1、本协议到期后，双方如无异议，可自动续约，以乙方向甲方缴纳技术服务费用凭证作为续约依据，本协议持续有效，有效期限以新缴费服务年限为准。
    </span>
</p>
<p class="MsoNormal" style="text-indent:0.0000pt;line-height:150%;">
    <span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;line-height:150%;">&nbsp;&nbsp;&nbsp;&nbsp;2、合作期间如若发生争议，甲乙双方应友好协商解决，协商不成的可向甲方所在地人民法院提起诉讼。</span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent: 0pt; line-height: 160%;">
    <b><span style="font-family: 仿宋; color: rgb(0, 0, 0); font-size: 20pt;"><font face="仿宋">九、其他</font></span></b>
</p>
<p class="MsoNormal" style="line-height: 160%;">
    <span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">&nbsp;&nbsp;&nbsp;&nbsp;1、本协议未尽事宜可以书面文件予以补充，并作为本协议附件。</span><b>
        <span style="font-family: 仿宋; color: rgb(0, 0, 0); font-size: 20pt;">
            <o:p></o:p>
        </span>
    </b>
</p>
<p class="MsoNormal" style="text-indent:0.0000pt;line-height:150%;">
    <span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">&nbsp;&nbsp;&nbsp;&nbsp;2、</span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;"><font face="仿宋">协议</font></span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;"><font face="仿宋">附件是本</font></span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;"><font face="仿宋">协议</font></span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;"><font face="仿宋">不可分割部分，和本</font></span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;"><font face="仿宋">协议</font></span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;"><font face="仿宋">具同等法律效力。</font></span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent:0.0000pt;line-height:150%;">
    <span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;line-height:150%;">&nbsp;&nbsp;&nbsp;&nbsp;3、乙方在入驻甲方平台并使用中食药追溯管理平台提供的各项服务时，即承诺接受并遵守甲方平台各项相关规则、规定。本协议内容包括协议正文及所有中食药追溯管理平台已经发布的或将来可能发布的各类公告、规则等。</span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent:0.0000pt;line-height:150%;">
    <span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">&nbsp;&nbsp;&nbsp;&nbsp;4、本</span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;"><font face="仿宋">协议</font></span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;"><font face="仿宋">壹式贰份，甲乙双方各执壹份，经双方授权代表签字盖章之日起成立。</font></span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="line-height:150%;">
    <span style="font-family:仿宋;
line-height:150%;font-size:20pt;">
        <o:p>
            &nbsp;
        </o:p>
    </span>
</p>
<p class="MsoNormal" style="line-height:150%;">
    <span style="font-family:仿宋;
line-height:150%;font-size:20pt;">
        <o:p>
            &nbsp;
        </o:p>
    </span>
</p>
<p class="MsoNormal" style="line-height:150%;">
    <span style="font-family:仿宋;
line-height:150%;font-size:20pt;">
        <o:p>
            &nbsp;
        </o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent:0.0000pt;line-height:150%;">
    <span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;line-height:150%;"><font face="仿宋">甲方：成都溯本源科技有限公司</font></span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;"></span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font face="仿宋">乙方：</font>{CompanyName}</span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="text-indent:0.0000pt;line-height:150%;">

</p>
<img src="http://106.58.174.64:81/Template/Capter.gif" style="position:absolute;margin-left:100px;margin-top:-70px;width:200px;" />
<p class="MsoNormal" style="text-indent:0.0000pt;line-height:150%;">
    <span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;line-height:150%;"><font face="仿宋">签字</font>(盖章)：________________ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;签字（盖章）：_____________</span><u><span style="font-family: 仿宋; color: rgb(0, 0, 0); font-size: 20pt;"></span></u><u>
        <span style="font-family: 仿宋; color: rgb(0, 0, 0); font-size: 20pt;">
            <o:p></o:p>
        </span>
    </u>
</p>
<p class="MsoNormal" style="text-indent:0.0000pt;line-height:150%;">
    <span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;line-height:150%;"><font face="仿宋">日期：</font>{StartTimeYear}年{StartTimeMonth}月{StartTimeDay}日<span style="margin-left:100pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>日期： ____ 年 __ 月 __ 日</span><span style="font-family:仿宋;
color:rgb(0,0,0);font-size:20pt;">
        <o:p></o:p>
    </span>
</p>
<p class="MsoNormal" style="line-height:150%;">
    <span style="font-family:仿宋;
line-height:150%;font-size:20pt;">
        <o:p>
            &nbsp;
        </o:p>
    </span>
</p>
<p class="MsoNormal">
    <span style="font-family:仿宋;
font-size:20pt;"><font face="仿宋">签约地点：中国（四川）自由贸易试验区成都高新区天府二街</font>138号1幢8楼801号</span>
</p>
