
@{
    ViewData["Title"] = "InsEdit";
    Layout = "~/Views/Shared/BaseView.cshtml";
}
@section css{
}
@section script{
    <script>
        //配置
        var options = {
            Init: function () {
                this.InitDom();
                this.InitEvents();
            },
            //元素
            InitDom: function () {
                var Editor = controller.Editor(".summernote", { width: $(window).width });
                controller.LayDate({ elem: "input[name='InsTime']", max: controller.GetDate(1) });
                $("input[name='InfoId']").val(RepastUser.Id);
                var Id = controller.GetParam("Id");
                if (controller.CheckFeild(Id)) {
                    controller.ajax({
                        url: "RepastWeb/GetUnitInsDetail",
                        type: "post",
                        async: false,
                        data: { Id: Id },
                        success: function (result) {
                            controller.SetCtrlValue("#Edit", result.data);
                            Editor.summernote('code', result.data.InsContent);
                        }
                    });
                }
            },
            //事件
            InitEvents: function () {
                //验证
                controller.ValidateConfirm("#Edit");
            },
            //行为
            action: {}
        };
        //初始化
        $(document).ready(function () {
            options.Init();
        });
    </script>
}
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <form class="form-horizontal" method="post" action="RepastWeb/SaveUnitIns" id="Edit">
            <input type="hidden" name="Id" />
            <input type="hidden" name="InfoId" />
            <input type="hidden" name="InsContent" />
            <table class="table table-hover table-bordered">
                <tr>
                    <th><label class="control-label">配餐制度名称</label></th>
                    <td class="has-warning">
                        <input type="text" class="form-control" name="InsName" />
                    </td>
                    <th><label class="control-label">发布时间</label></th>
                    <td class="has-warning">
                        <input type="text" name="InsTime" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th><label class="control-label">制度内容</label></th>
                    <td class="has-warning" colspan="3">
                        <div class="summernote" name="InsContent"></div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>